[2021-10-10 06:28] hzhh110 opened #5749 "platformio arduino How to support ESP32-C3 and ESP32-S2?"
platformio arduino  How to support ESP32-C3 and ESP32-S2?

[2021-10-10 09:39] Jason2866 commented on #5639
This will probably not solved since github actions runners oldest version which can be used is macos-10.15

[2021-10-11 08:09] me-no-dev commented on #118
If you are still interested, I2C Slave is on the way: https://github.com/espressif/arduino-esp32/pull/5746

[2021-10-11 09:13] JAICHANGPARK commented on #118
@me-no-dev awesome

[2021-10-11 14:27] pedrominatel opened #5750 "[Docs] Add "python": executable file not found in $PATH in the Linux/Ubuntu troubleshooting/FAQ"
Add the `"python": executable file not found in $PATH` to the troubleshooting/FAQ guide.

See reference in: https://stackoverflow.com/questions/60762378/exec-python-executable-file-not-found-in-path

Solution tested: `sudo apt install python-is-python3`

[2021-10-11 14:58] jgamble-simple opened #5751 "External PSRAM not supported?"
### Hardware:
Board:							Custom board based on ESP32-WROVER-E
Core Installation version:			1.0.6
IDE name:						Platform.io
PSRAM enabled:                                     yes
Upload Speed:				       230400
Computer OS:                                        Windows 10 (Using wsl for uploading/platform.io)

### Description:
Calling `heap_caps_malloc_extmem_enable(0)` causes a crash about 20%

[2021-10-11 16:19] sblantipodi opened #5752 "ESP.restart() does not always reset ESP32."
### Hardware:
Board:							ESP32 from D32 board from Lolin
Core Installation version:			1.0.6
IDE name:						Platformio (platform-espressif32 v.3.2.1)
LIB Used:                                                 no libs
Flash Frequency:					40Mhz
PSRAM enabled:                                      no
Upload Speed:					460800
Computer OS:                                         Windows 10 and Ubuntu

[2021-10-11 22:56] ianr34 commented on #118
OK, so you are saying that the esp32 won't be supporting the full i2c slave model - but the s2 onwards will. That's grreat, as I could move to the s2 for the slave, and will prob be going to the s3 generally anyway (more pins!) - price willing.

Of course, I could just write a bit banging slave for the esp32 - looking at the above code late last night I was assuming that was what you had half done

[2021-10-12 09:19] P-R-O-C-H-Y commented on #5610
Hi @societyofrobots,

SPIFFS.info is not availible on ESP32, it was on the older ESP8266.

On ESP32 you can call these 2 functions to get info from the SPIFFS.
[code]

[2021-10-12 09:32] me-no-dev commented on #118
it work on all chips, but on ESP32 it just behaves a bit differently. You need to pre-load the data that the master will be able to read. ESP32 as master is also not liking having the clock stretched for too long. Let's say you use S2 as Slave and ESP32 as Master. The slave needs to handle the onRequest as fast as possible to ensure that the ESP32 will not give up waiting for the clock to stop str

[2021-10-12 09:52] ianr34 commented on #118
yes, so it doesn't work on the esp32.

Preloading the data IS the core issue and has been since the esp32 was released - preloading is no good for many many many things. No point the master getting data that might be very old..

And yes,  onRequest (or whatever it is called as I don't use the ardunio wire library) is always done fast. Typically you just copy the data from somewhere safe, and then

[2021-10-12 12:02] zekageri commented on #3315
Sorry. I don't have the code anymore.
I completelly ditched the project because the esp's analog read is a total garbage.
I couldn't get even near of the desired accuracy.

[2021-10-12 16:12] fBn0523 opened #5755 "platformio esp32 cannot find crt1-sim.o and _vectors.o"
### Hardware:
this is my ini file
[env:nodemcu-32s]
platform = espressif32
board = nodemcu-32s
framework = arduino
board_build.f_cpu = 240000000L
monitor_speed =115200

platform_packages =
   framework-arduinoespressif32 @  https://github.com/espressif/arduino-esp32.git

### Description:
I come from China please forgive me my poor engilsh
When I use the latest ESP32 package, the compiler reports t

[2021-10-12 17:10] pedrominatel opened #5756 "[Docs] Add the Wire/I2C driver docs for Master and Slave modes"
Add the Wire/I2C driver docs for Master and Slave modes.

Related to: https://github.com/espressif/arduino-esp32/pull/5746

Source branch (WIP): https://github.com/pedrominatel/arduino-esp32/tree/docs/api_i2c

[2021-10-12 19:13] avillacis opened #5758 "WiFiClientSecure: connection to letsencrypt.org fails with (-28800) SSL - The requested feature is not available"
### Hardware:
Board:							ESP32 Dev Module
Core Installation version:			~~2.0.0~~ 2.0.2
IDE name:						Arduino IDE
Flash Frequency:					40Mhz
PSRAM enabled:                                    no
Upload Speed:					115200
Computer OS:                                        Fedora 34 x86_64

### Description:
I am trying to make a test connection using TLS with WiFiClientSecure, WITHOUT the help of a

[2021-10-13 09:45] kickoune opened #5759 "connect doesn't work with printer device"
hello, i have project for customers.

[code]

connect don't work with printer device for example but in branch arduino idf 4.2 in espressif it's work's.

an idea? project is stopped.

thank's for your response.

[2021-10-13 11:32] VojtechBartoska commented on #5755
Thanks @atanisoft for fast feedback! :)

@fBn0523 Can I consider this as solved?

[2021-10-13 11:44] Samreenhabib opened #5916 "Error in void mqtt_start_app (IDFGH-6000)"
I'm using this example https://github.com/espressif/esp-idf/blob/master/examples/protocols/mqtt/wss/main/app_main.c
in Arduino platform.
I'm not sure how can I declare certificate without asm. Please check below if this declaration is not creating any issue:
![image](https://user-images.githubusercontent.com/92440041/137125865-904eb7be-9d6f-4e2d-9afc-79b2d866ebc9.png)
Calling this as:
![image](htt

[2021-10-13 17:34] Makuna commented on #2885
still not fixed

[2021-10-13 20:46] Speedy2k opened #5762 "Compilation error from 1.0.6 to 2.0.0"
I have some code that are compiling very well on 1.0.6 but trying to update to 2.0.0 and now i got this error:

exit status 1
'union arduino_event_info_t' has no member named 'disconnected'; did you mean 'eth_connected'?

the code is just to print the wifi disconnect reason:

[code]
Is there anything i do wrong here?

Thanx a lot!

[2021-10-14 04:06] RoCorbera commented on #5630
@avillacis I'm working on this issue and I was able to get the following results using the same sketch you have posted here as an example, using a customized version of Arduino Core 2.0.0:

a) bin size of 632405 bytes
b) Heap:
[code]

I created a repository with a new Arduino Core 2.0.0 that can be tested.
https://github.com/espressif/arduino-esp32/tree/mem-optimized

In order to install it as a s

[2021-10-14 04:36] SuGlider commented on #5751
@jgamble-simple

Unfortunatelly 2.0.0 is not availble to PlaformIO at this moment. But it can be used with Arduino IDE.

I created a repository with a new Arduino Core 2.0.0 that can be tested.
It is part of modifications related to heap and binary allocation (#5630), and it also has ```CONIFG_SPIRAM_USE_MALLOC``` enabled.

https://github.com/espressif/arduino-esp32/tree/mem-optimized

In order to

[2021-10-14 04:39] BbIKTOP commented on #5699
Thank you, will try and report back.

Btw, as you already do the "memory optimizations", what would you think about unnecessary memory fragmentations caused by things like [this](https://github.com/espressif/arduino-esp32/blob/77f1ebd59ef83c26427451446c0721d7742a9711/libraries/WebServer/src/WebServer.cpp#L123), or [this](https://github.com/espressif/arduino-esp32/blob/77f1ebd59ef83c26427451446c072

[2021-10-14 07:02] P-R-O-C-H-Y commented on #5762
Hi @Speedy2k,
There is `wifi_sta_disconnected` in  `arduino_event_info_t`. Can you try this instead?
`Serial.println(info.wifi_sta_disconnected.reason);`

[2021-10-14 07:47] dfrobotjw opened #5765 "Esp32-c3 Bluetooth communication"
I want to get an Arduino example of esp32-c3. The function is that one esp32-c3 module sends data through Bluetooth, and the other module receives and prints data through Bluetooth

[2021-10-14 07:51] chegewara commented on #5765
What is wrong with ALL those examples?
https://github.com/espressif/arduino-esp32/tree/master/libraries/BLE/examples

[2021-10-14 08:41] k-skor commented on #5560
Actually my last post is not the actual solution. In order to debug it I've enabled logs on ESP32 and found out that the write message that comes is a chunked write. But the ending of the chunked message is never sent by my Android client. On nRF Connect mobile app there is option of a "Reliable Write" and then it works and "onWrite" method gets called.

No idea why it works with ESP-wroom-32D and

[2021-10-14 08:48] #5750 closed, assigned to pedrominatel

[2021-10-14 09:52] #118 closed

[2021-10-14 11:43] chegewara commented on #5560
If i only have any idea what may be the cause i would write.
It snot that i know everything, or everything about this library, i just from experience know that sometimes very odd things may happen with the same code/binary on different boards. Especially if one is custom board and other devkit (im not saying its your case).
What i can recommend it to use nrf connect android app to perform test wit

[2021-10-14 12:20] kamshory opened #5766 "Getting Client IP Address"
I make a program with ESP32 and WiFi (mode STA and AP). I will only allow client to access the web server if client connected to hot spot from ESP32 (not via Wifi where ESP32 connected to)

I make static IP for the ESP32. How to get the client IP address?

My project is https://github.com/kamshory/OTP-Mini

[2021-10-14 13:30] jandrassy commented on #5766
start the WebServer only for the SoftAP interface.
`server.begin(softApIP, port);`

[2021-10-14 15:41] #5762 closed

[2021-10-14 19:01] LeroyOP0 opened #5769 "Panic'ed after laggy I2C transaction - SOLVED (was my bad - I overrun a buffer)"
How can I get a tight I2C read/write signals?

### Hardware:
Board:						ESP32 PICO KIT V4.1
Core Installation version: 		v1.0.6 (ESP32 Arduino package)
IDE name:					Arduino IDE
Computer OS:					Ubuntu

### Includes:
[code]
### Scheduler tasks:
Reading a sensor (xsens Mti) on I2C - 100[Hz]
[code]

### Callbacks:
Receiving messages transmitted from another ESP-NOW module - 10[Hz]

### Scope:
A dig

[2021-10-14 21:32] SuGlider commented on #5630
@Jason2866

Yes, result is achieved mainly by changes in sdkconfig in Arduino Lib Builder.

There is also a change to platform.txt to use -Os (optimize for size) and a change I. WiFI library to tweak wifi configs before calling wifi_init().

The branch is for making it easy for testing.

I'll post a PR with all those changes as soon as I have a number of successful user reports back and  then I'll

[2021-10-15 06:03] CoenieK commented on #4423
Hay there, I'm currently having the same issue you did. Non-Android 10 phone connects to my ESP32 AP without any issues. Android 10 phone (Redmi Note 7) almost instantly gets disconnected.

Have you found a solution?

Kind regards.

[2021-10-15 08:25] #5769 closed, assigned to nobody

[2021-10-15 10:32] MikeKnife commented on #2501
Some general Information:

For all who still have issues with the ESPRESSIF ESP32-WROOM module installed on the commonly available ESP32-development boards (WiFi, brownouts), the

 "ESP32-WROVER-B"

might be an alternative:

Our Scenario:

We have an ESP32-based interface on a lawn-robot that is driving to different areas and has to connect to four different WiFis.

-	When the device loses the wif

[2021-10-15 11:29] VojtechBartoska commented on #4423
Hello guys, @ringmybell and @CoenieK. I'm adding this issue on the Roadmap so we will take a look and come up with resolution.

[2021-10-15 12:10] kamshory commented on #5766
Thank you

[2021-10-15 16:08] #5680 closed

[2021-10-15 19:30] SuGlider commented on #5630
@Jason2866
Please wait for the PR in order to also look to the changes done in the sdkconfig.

I'll post the PR here next week.

[2021-10-16 04:38] chegewara commented on #5474
`Reason: 2 - AUTH_EXPIRE`
This is normal when you are using smartphone as AP (maybe with routers too) during development.
When esp32 is connected and you re-flash it then smartphone keeps this connection active, even if esp32 disconnected. Then after reset esp32 is trying to connect again, but smartphone still wants to update old connection.
I dont know how it is handled in low level wifi packets

[2021-10-16 07:44] ullix commented on #2501
The `esptool.py` is always a good helper.

E.g., `esptool.py flash_id` gives this info, including the chip version:
[code]

[2021-10-16 09:59] olicooper commented on #5474
Thanks for your reply,
The router I am using is actually an AC series Linksys which is only a few years old. I modified the settings to disable WPA3 just in-case that was causing the issue, but I will also try restarting the router because I haven't tried this yet. I erased the flash and then flashed Arduino 1.0.6 and it worked perfectly again, then I went back to the `mem-optimized` branch and ob

[2021-10-16 11:25] pschatzmann opened #5771 "Compile errors for a2dp_sink with esp32-s3"
The documentation for the ESP32-S3 is indicating that A2DP should be working.
Compiling your a2dp_sink example gives the following compile errors

[code]

[2021-10-16 11:34] MikeKnife commented on #2501
Strange:
All modules return the same Chip-ID (ESP32-D0WD (revision 1))

I checked with 3 WROVER-B and
5 WROOM-32 Modules.
All of them were purchased from different sources and (WROOM) over a time of almost two years
------------------
...>esptool.exe --chip esp32 --port com4 --baud 115200 chip_id
esptool.py v3.1
Serial port com4
Connecting...
Device PID identification is only supported on COM and

[2021-10-16 11:43] TD-er commented on #2501
This is quite odd.
Can you run this in your sketch to test:

[code]

And then write the output of `getChipModel()` to where you can fetch it.

[2021-10-16 11:57] pschatzmann commented on #5771
see https://docs.espressif.com/projects/esp-idf/en/latest/esp32c3/api-reference/bluetooth/classic_bt.html

[2021-10-16 13:12] lbernstone commented on #5771
esp32-s3 is not yet supported in arduino, afaik
esp32-c3 has no support for classic BT; it has BLE only

[2021-10-16 13:24] MikeKnife commented on #2501
Update:
Just checked a
LILYGO® TTGO T7  Mini32 ESP32-WROVER-B - Version 1.3!
which we received moments ago.
This V1.3 reports a different Chip-Version (but behaves here like the 1.5 Version, as far as I can say for now.)

 ----
...>esptool.exe --chip esp32 --port com7 --baud 115200 chip_id
esptool.py v3.1
Serial port com7
Connecting...
Device PID identification is only supported on COM and /dev/ s

[2021-10-16 13:40] pschatzmann commented on #5771
I just noticed that I was filing this issue in the wrong forum. I will move it to the ESP32 one.

[2021-10-16 13:47] pschatzmann commented on #5771
https://github.com/espressif/esp-adf/issues/702

[2021-10-16 13:49] lbernstone commented on #5771
I'm happy to answer it for you.  The API docs should not include bluetooth for the C3.  The [datasheet](https://www.espressif.com/sites/default/files/documentation/esp32-c3_datasheet_en.pdf) is clearer that only BLE is supported.

[2021-10-16 14:24] ullix commented on #2501
I find it difficult at times to compare different versions of the ESP*** family.

This page is of some help: https://products.espressif.com/#/product-comparison

[2021-10-16 14:39] JayShoe commented on #5771
I'm curious. Does/will the s3 support Bluetooth classic?

[2021-10-16 14:42] TD-er commented on #5752
What is connected to GPIO-0?

[2021-10-16 14:57] lbernstone commented on #5771
No, only the ESP32 will be supporting classic BT.
https://products.espressif.com/#/product-comparison

[2021-10-16 16:53] sblantipodi commented on #5752
@TD-er nothing. it seems that the problem happen if I write something to storage using LittleFS.

[code]

this code writes well things into Little FS but hangs ESP32 at the restart point.
ESP32 is restarted but then it does not boot until I manually press the reboot button.

[2021-10-16 17:04] TD-er commented on #5752
And if you close the filesystem first before calling the `ESP.restart()` ?

[2021-10-16 23:32] SuGlider commented on #5474
@olicooper,
Upon your GitHub, it says you are using IDF 4.3. Is it right?
The branch I sent uses 4.4 latest master.

Could you please confirm it by executing:
[code]

[2021-10-17 13:36] hyzgit opened #5772 "Is it safe for SD_MMC to read and write different files simultaneously in multiple threads?"
I have one thread that keeps writing to file 1, and another thread receives data from uART and writes to file 2, and when it's done, it finds that file 2 doesn't have the right data.

[2021-10-17 14:51] olicooper commented on #5474
Yeah I kept noticing that static IP too, but I am not calling config in my code anywhere. As I said above, I have also tried the example `WiFiClientBasic.ino` code and only changing the ssid and password: https://github.com/espressif/arduino-esp32/blob/mem-optimized/libraries/WiFi/examples/WiFiClientBasic/WiFiClientBasic.ino
You can see from the logs it says about a static IP there too.

I call co

[2021-10-17 15:29] mrdc commented on #5751
@jgamble-simple

Hi!

I've tried your solution and heap haven't increased compared to pre-2.0.0 version :(
`CONFIG_SPIRAM_USE_MALLOC=y` is in sdkconfig by default in 2.0.0+, but `getFreeHeap` shows 30k free after boot. Even less than with 1.0.5 version which showed 65k free for the same firmware.

[2021-10-18 03:15] hideakitai opened #5773 "EEPROM.length() always returns zero if using the default global EEPROM instance"
### Hardware:
Board:							ESP32 Dev Module
Core Installation version:			1.0.6, 2.0.0
IDE name:						Arduino IDE
Flash Frequency:					80Mhz
PSRAM enabled:                                      No
Upload Speed:					921600
Computer OS:                                         Windows 10

### Description:

`EEPROM.length()` always returns zero if using the default global EEPROM instance. Using my own i

[2021-10-18 11:59] ozkarah commented on #5594
Hi, I appreciate your work.
Are there any updates on this task? Or any planned finish date?

[2021-10-18 13:09] atclarkson opened #5777 "Is it possible to set the encryption type to avoid "Weak Security" message?"
When connecting to ESP32 with SoftAP I get a message on iOS that says WPA/WPA2(TKIP) is not considered secure.

It looks as if there is a way to change the encryption type to AES using esp-idf however from what I gather there is no method that allows changing this in arduino.  Is that correct? 

Do you happen to know of a workaround to get this going?

[2021-10-18 14:42] #5777 closed, assigned to nobody

[2021-10-18 15:37] davidlehrian opened #5778 "log statement missing parameter"
This is a super simple bug.  On line 136 of EEPROM.cpp there is a log statement

`log_e("Not enough memory for %d bytes in EEPROM");
`

Notice it is missing the parameter 'size'.  It should be

`log_e("Not enough memory for %d bytes in EEPROM",size);
`

[2021-10-18 16:11] todosko opened #5779 "The length of the path and file name is longer than allowed in Windows XP!"
How to install "Arduino-esp32" on Windows XP, so that the longest path and file name are shorter than the allowed length for Windows XP. Can someone describe this process consistently. I think this can be useful for many users.

[2021-10-18 16:32] chegewara commented on #5779
Useful? who is using Win XP this days?
Im not sure arduino IDE is supported on win xp, because esp-idf for 99% is not.

[2021-10-18 16:49] todosko commented on #5779
Arduino works great on Windows XP with both AVR and NORDIC ... There is no such deep nesting of files.
Maybe you should make an option for ESP32 on Windows XP?

[2021-10-18 18:21] lbernstone commented on #5779
I think that Windows XP, along with all other 32-bit Windows, has been deprecated in v2.0.0. So, here's instructions:
1) Download an iso from [ubuntu](https://cdimage.ubuntu.com/lubuntu/releases/18.04/release/lubuntu-18.04.5-desktop-i386.iso).
2) Burn the image to a usb key
3) Install ubuntu
4) Follow the [linux install instructions](https://docs.espressif.com/projects/arduino-esp32/en/latest/inst

[2021-10-18 18:54] mrdc opened #5780 "WiFiClientSecure doesn't validate time and date for server certificate"
Hello,

`WiFiClientSecure `doesn't validate time and date for server certificate: connection to a https server is established without setting proper time and date for ESP32 - after boot time is `1970-01-01T00:00:00Z`, server certificate is `2021-2022`, so it should be rejected by `WiFiClientSecure`.
Would be nice to have an option, to disable time and date validation if user needs it, but validate

[2021-10-18 22:18] HarborDesigns commented on #1497
![IMG_3421](https://user-images.githubusercontent.com/36170253/137812525-f8058a73-3290-43da-a277-aca1c0641f66.jpg)
I have a custom board where I am using an ESp32 Wroom module. I am not able to flash code via serial communication. I am using FTDI232 USB to UART for serial communication. I am able to get serial messages in my serial monitor which mean there is no issue in serial wires.

I have atta

[2021-10-18 22:26] atanisoft commented on #1497
@HarborDesigns refer to any of the DevKit schematics (ie: https://dl.espressif.com/dl/schematics/esp32_devkitc_v4-sch-20180607a.pdf) for the DTR/RTS reset circuit requirements to have the board automatically enter download mode.

[2021-10-19 01:32] Phsacar opened #5781 "WiFiClientSecure: Memory leak when an SSL Handshake fails"
### Hardware:
Board:							ESP32 Dev Module
Core Installation version:			x
IDE name:						Platform.io
Flash Frequency:					40Mhz
PSRAM enabled:                                    no
Upload Speed:					115200
Computer OS:                                        Ubuntu

### Description:

Hi,
I found a leak in ssl_client.cpp:
If the Handshake fails in start_ssl_client(), and an error is returned, the f

[2021-10-19 07:00] lbernstone commented on #5779
Put a usb drive in.
Go into Arduino IDE and set your sketchbook path to the root of that drive.
Install the windows repository (as in the linux instructions above) there.  It will be something like E:\hardware\espressif as the root for your esp32 directory.  That's as short a path as you are going to get.
v2.0.0 still won't work, since the esptool executable is 64-bit only, but you can run 1.0.6

[2021-10-19 11:02] ericlangel opened #5782 "Timer Functions not IRAM_ATTR in Version 2.0.0"
### Hardware:
Board:							ESP32 Dev Module
Core Installation version:			        2.0.0
IDE name:						Arduino IDE

### Description:
in my Code i'am reading a Servosignal with RMT Module. The RMT ISR is initialized with IDF functions as IRAM ISR.
In the IRAM ISR i'am working with the Timer:
timerWrite(timer, 0);
if (!timerAlarmEnabled(timer)) {
  timerAlarmEnable(timer);

This ISR must run in IRAM,

[2021-10-19 13:19] alireza369 commented on #4743
hi how did you solved this problem ?
plz share whit us 😘

[2021-10-19 14:23] HarborDesigns commented on #1497
Yes, i should be able to do that but it is not flashing new code on ESP32. Does my rough timing diagram looks correct in my previous picture?

I know I can enter my ESP32 into program mode as I see following message on my serial monitor. Whenever my GPIO 0 is low and then when I toggle the EN signal from 1 (high) to 0 (low) and then back to 1(high). It shows following message which is good
_'rst:0

[2021-10-19 17:06] SuGlider commented on #5474
@olicooper
I have found the issue with WPA and WPA2.
It's now fixed on ```mem-oprimized``` branch.
Related commit: https://github.com/espressif/arduino-esp32/commit/f459b101f3bdf0ed0ece590eeb9f958ed818bd3e

[2021-10-19 21:01] olicooper opened #5783 "Possible compiler bug (IDFGH-6049)"
## Environment

- Development Kit:      Heltec Wireless Stick v1.2
- Module or chip used:  [ESP32]
- IDF version:   `main` branch v4.4-dev-2313-gc69f0ec32 / `mem-optimized` branch v4.4-dev-3401-gb86fe0c66c
- Build System:         idf.py (PlatformIO)
- Compiler version: not sure... `(esp-2021r1) 8.4.0` (maybe platformio version number??) OR `crosstool-ng-1.22.0-97-gc752ad5`
- Operating System:

[2021-10-20 04:47] zekageri commented on #4346
Why can't we add to queue and write in another task?

[2021-10-20 07:20] lukbieli commented on #3036
In my case reinstalling esp32 hardware library helped

[2021-10-20 08:23] igrr commented on #5783
@olicooper Could you please attach the ELF file of the program with/without the workaround commit?

[2021-10-20 08:36] sheffieldnick commented on #1675
I haven't experimented with persistence yet, so all my tests had `WiFi.persistent` set to false. I've now updated my comment to note that.

Hmm. I imagine that is down to the specific DHCP server and settings for IP address lease time, etc? Apparently some servers can take several seconds as they check that nothing else is using the IP address they are about to assign.

[2021-10-20 10:09] olicooper commented on #5783
So you have all the information here is a new elf file (has same SHA1 as original) and associated logs. This build is based on commit [60fbacf2acfa1341cf9cec9d9d86aec16b042eb6](https://github.com/olicooper/arduino-v2-esp32-platformio/tree/60fbacf2acfa1341cf9cec9d9d86aec16b042eb6)

### Build log
[code]

### Debug log
[code]

Elf file:
[firmware-202110201103.zip](https://github.com/espressif/arduino

[2021-10-20 13:00] pedrominatel opened #5784 "[Docs] Add USB driver library on the documentation"
Add USB driver library on the documentation.

[2021-10-20 13:02] pedrominatel opened #5785 "[Docs] Add the list of supported peripherals"
Add the list of supported peripherals divided by:

- Supported by ESP-IDF
- Supported by Arduino Library Style

Create the list for:

- ESP32
- ESP32-S2
- ESP32-C3

[2021-10-20 16:11] Jason2866 commented on #5630
@SuGlider  With your latest commit it works. :-)  More free mem and flash. Great work!

[2021-10-20 18:08] ArminJo opened #5786 "filesystemStart() results in: "E (1121) SPIFFS: mount failed, -10025""
### Hardware:
Board:						ESP32-CAM
Core Installation version:			2.0.0
IDE name:						Eclipse / Sloeber
Computer OS:                                    Windows 10

##
![2021-10-20 18_59_55-Properties for ESP32_Cam](https://user-images.githubusercontent.com/3881884/138138178-8b5adf04-8410-4843-9393-cb17fd1454a7.png)

# Description:
Running Code
[code]
on a fresh ESP32-CAM results in:

[code]
I woul

[2021-10-20 20:44] s-light opened #5787 "`SPI.transfer(buffer, size)` definition incompatible with other cores"
### challenge
i try to use the [ulrichstern/Tlc59711](https://github.com/ulrichstern/Tlc59711) LED-Driver library to use with an ESP32 Dev Module.

this currently results in this compilation error:
[code]

after some research i found that in the ESP32 core the definition of [`SPI.transfer(buffer, size)`](https://www.arduino.cc/en/Reference/SPITransfer)  differs to other cores.

### Minimal Example

[2021-10-21 10:17] me-no-dev commented on #5787
how about you `uint8_t *buffer; buffer = reinterpret_cast<uint8_t*>(malloc(2*bufferSz));` instead?

[2021-10-21 10:20] me-no-dev commented on #5727
you can just not enable CDC on boot and do it in the sketch instead.

[2021-10-21 10:48] s-light commented on #5787
i can change the library - the buffer is used as uint16_t type - so this does not make much sens to change.
i can also do
[code]
in the library.

my main request was to fine tune for an **cross-core-compatible API**

[2021-10-21 23:17] SuGlider commented on #5697
This is solved by https://github.com/espressif/esp32-arduino-lib-builder/pull/47
New sizes  are better than in V1.0.6.
A draft core version for testing is in https://github.com/espressif/arduino-esp32/tree/mem-optimized
Next release 2.0.1RC1 will fix this binary size issue.

[2021-10-21 23:22] #5630 closed

[2021-10-22 08:16] BoYi0126 opened #5793 "Arduino & ESP32 Download Tool"
I want to upload program to esp32 by "ESP32 Download Tool 3.9.0", and I use Arduino IDE to develop.
So I used the bin-file generated by Arduino IDE to upload program by "ESP32 Download Tool",
but it was always restart.

### Hardware:
Chip:							ESP32-WROOM-32E (128Mbit)
Core Installation version:			1.06
IDE name:						Arduino IDE 1.8.15
Flash Frequency:					80Mhz
Upload Speed:					921600
Computer

[2021-10-22 19:07] lbernstone opened #5794 "warnings from Eth"
### Hardware:
Board:							ESP32-C3 devkit
Core Installation version:		master 22/10/2021
IDE name:						Arduino IDE
Computer OS:                    Ubuntu

### Description:
Warnings from Ethernet components in WiFi.
This does not prevent compilation.  I don't know if it prevents Eth from working, and don't have the stuff to test.  Just wanted to get eyes on this before v2.0.1 goes out the door.

#

[2021-10-23 01:13] #5794 closed, assigned to SuGlider

[2021-10-23 14:34] #5778 closed, assigned to SuGlider

[2021-10-23 15:20] roysG opened #5797 "Build failed for esp32 (IDFGH-6079)"
Hi,
I am using latest idf(5.0.0) with esp32-arduino-lib-builder(latest)
The build is working great for esp32-s2 esp32-c3

For esp32 i get build fail with errors:

[1052/1315] Building C object es...ores/esp32/esp32-hal-timer.c.obj
FAILED: esp-idf/arduino/CMakeFiles/__idf_arduino.dir/cores/esp32/esp32-hal-timer.c.obj
/Users/roysabah/.espressif/tools/xtensa-esp32-elf/esp-2021r2-8.4.0/xtensa-esp32-el

[2021-10-23 23:59] kevin-doolaeghe opened #5798 "ESP32-CAM boot only in download mode"
I have a problem with my AI THINKER ESP32-CAM: it boots constantly in download mode. Conclusion is that I can upload code to the board but I can't run the program.

Indeed, if GPIO0 is shorted with GND, it boots with code 0x3 (= download mode) but if I remove the short, it continues booting in download mode unlike described in the following article:

See "GPIO 0" section of [this link](https://ran

[2021-10-24 10:14] Johboh opened #5799 "touchAttachInterrupt callback not called"
### Hardware:
Board:							ESP32-S2FN4R2 / [S2 Mini](https://www.wemos.cc/en/latest/s2/s2_mini.html)
Core Installation version:			2.0.0
IDE name:						Arduino 1.8.16
Flash Frequency:					80Mhz
PSRAM enabled:                                      yes
Upload Speed:					921600
Computer OS:                                          Windows 10

### Description:
No interrupt callback on touch, but reading

[2021-10-24 11:50] #5766 closed, assigned to SuGlider

[2021-10-25 09:34] pedros89 opened #5802 "ESP Webserver sometimes returns a blank white page, loop does not always mange handleClient() completely"
I'm trying to make a simple access point with ESP32 with a webpage displaying networks found; user can connect to a network and webserver displays connection status and power signal of that network.
- The ESP32 launch a webserver
- You connect to the access point
- You see the webpage on your browser
- You scan the wifi networks
- you connect the ESP to a network and store in ESP memory the wifi c

[2021-10-25 10:27] mihkel615 opened #5803 "USBMSC not keeping the files copied in File Explorer"
Hello, I'm trying to use the USBMSC library on ESP32S2. The ESP32S2 as device, meaning that I would like to use it as a pen drive. The sample code looks great, it compiles and uploads without problems. When I fire it up, it exposes itself as two devices on the File Explorer (Windows) but when I copy any file onto the MCU it looks like a success but after a reset, the files are not there. What migh

[2021-10-25 10:31] #5803 closed, assigned to nobody

[2021-10-25 15:54] pacess opened #5805 "Still image is outdated..."
When calling route /capture?_cb=timestamp, ESP32-CAM always return outdated image, say 2 minutes ago.  However, if I use the built-in GUI and turn stream on, it showing the most updated capture.  Is it a bug?  Or how can I get most updated still image?  Thank you~

[2021-10-25 18:54] davidkleng opened #5806 "WiFi AP Mode, clients can't authenticate or connect"
### Hardware:
Board:							ESP WROOM 32
Core Installation version:			latest from Platform.io
IDE name:						Platform.io
Flash Frequency:					40Mhz
Upload Speed:					115200
Computer OS:                                        Windows 10

### Description:

I have a Async Web Server with Web Sockets and LittleFS. When the ESP32 starts, I print the AP SSID, Password and IP, clients like a Tablet can co

[2021-10-26 15:42] #5805 closed, assigned to nobody

[2021-10-26 17:56] tv4you2016 opened #5810 "Wire beginTransmission() error"
### Hardware:
|||
|:---|---|
|<B>Board</B>|ESP32 Dev Module|
|<B>Version/Date</B>|2.0.1-RC1|
|<B>IDE name</B>|Arduino IDE|
|<B>Flash Frequency</B>|80Mhz|
|<B>PSRAM enabled</B>|yes|
|<B>Upload Speed</B>|921600|
|<B>Computer OS</B>|Windows 10||

### Description:

Hello friends.

I was using version 2.0.0 and had my project up and running, today I updated the lib to ESP32 Arduino 2.0.1 RC1 based on E

[2021-10-26 19:24] #5810 closed, assigned to nobody

[2021-10-26 20:26] KevinUTAT opened #5812 "I2C Slave replay lag by one"
### Hardware:
Board:							Sparkfun Thing ESP32
Core Installation version:			2.0.1 RC1
IDE name:						Arduino IDE
Flash Frequency:					80Mhz
PSRAM enabled:                                      no
Upload Speed:					115200
Computer OS:                                          Windows 11

### Description:
I am pretty excited about the 2.0.1 RC1 release especially the fix for I2C slave, so I was runni

[2021-10-26 22:24] #5812 closed, assigned to nobody

[2021-10-27 14:57] HalfSweet opened #5813 "I can't use IO pin to wake the chip from deep sleep for esp32-c3"
### Hardware:
Board:							ESP32C3 Dev Module
Core Installation version:			2.0.1-RC1
IDE name:						Arduino IDE
Flash Frequency:                                      160M(WIFI)
Flash Frequency:					80Mhz
Flash Mode :  QIO
PSRAM enabled:                                    no
Upload Speed:					961200
Computer OS:                                        Windows 10

### Description:
Because I am a Chin

[2021-10-28 07:37] xmeow opened #5815 "Nothing output if write 64 bytes to esp32c3 HWCDC"
### Hardware:
Board:							ESP32C3 dev
Core Installation version:			master-git
IDE name:						Arduino IDE 1.8.16
Flash Frequency:					40Mhz
Upload Speed:					115200
USB CDC on boot:                                   Disabled
Computer OS:                                        Windows 10

### Description:
Please take look at the sketch below, Nothing output from uart terminal if chunk write of 64 b

[2021-10-28 07:53] ShenRen opened #5816 "Support for ESP32-S3 is required"
Support for ESP32-S3 is required

[2021-10-28 07:55] #5816 closed, assigned to nobody

[2021-10-28 12:58] robertgregor opened #5817 "In version 2.0.0 slow connection to Wifi hotspot in AP mode."
Hi,
I have installed the v 2.0.0. Till this version, the connection to my WiFi network took around 600 ms.
After installation of the 2.0.0 version, the connection to wifi take around 2.5 seconds !!!
BTW I am using static IP assignment and passing it using WiFi.config() - see the log.
Here is the log:

[    71][D][WiFiGeneric.cpp:808] _eventCallback(): Arduino Event: 0 - WIFI_READY
[   167][V][WiFi

[2021-10-29 05:19] santaimpersonator opened #5818 "SparkFun ESP32 MicroMod: "--elf-gcc.path}/bin/--elf-g++": file does not exist"
### Hardware:
Board:							SparkFun ESP32 MicroMod Processor Board
Core Installation version:			2.0.0
IDE name:						Arduino IDE *(Installed from Windows Store App)*
Flash Frequency:					80Mhz
PSRAM enabled:                                    Disabled
Upload Speed:					921600
Computer OS:                                        Windows 10

### Description:
When trying to compile even the simplest s

[2021-10-29 07:50] rpiox opened #5819 "Arduino as a ESP-IDF component"
Hi,
I'm trying to integrate [Arduino as a ESP-IDF component](https://docs.espressif.com/projects/arduino-esp32/en/latest/esp-idf_component.html) but unfortunately it is not compiling. I've using esp-idf v4.3.1 with arduino-esp32 branch idf-release/v4.4

following error massage is generated

[4/72] Building C object esp-idf/arduino/CMakeFiles/__idf_arduino.dir/cores/esp32/esp32-hal-i2c.c.obj
FAILED

[2021-10-29 08:17] #5819 closed, assigned to nobody

[2021-10-29 14:36] whogarden opened #5821 "'CONFIG_ESP32_PHY_MAX_TX_POWER' was not declared in this scope (V2.0.1RC1)"
### Hardware:
ESP-WROOM-32 4MB  (Dev board)

### Description:
Using Arduino IDE 1.8.13
Board selected : ESP32 Dev Module
Partition Scheme: "Default 4MB with spiffs(1.2MB APP/1.5MB SPIFFS)"
Sketch : ..\libraries\WiFiManager\examples\Basic\Basic.ino
Library from https://github.com/tzapu/WiFiManager version=2.0.4-beta
Compilation error with Arduino core for the ESP32 release v2.0.1RC1
Error :
..\libr

[2021-10-29 18:03] cardtap commented on #5146
Has anyone else ran into this issue of WiFi.RSSI(); breaking a secure MQTT connection? I've temporarily disabled RSSI measurements but it would be awesome if this might work again in the future.

Thanks for any ideas!

[2021-10-29 20:27] santaimpersonator commented on #5818
@me-no-dev Sorry, I should clarify... I only tried the SparkFun version after the Espressif version failed initially.
![image](https://user-images.githubusercontent.com/36016723/139497234-f99f67a7-b8de-44e4-972e-6c56c48e3b60.png)

With that said, I'll try the `git` method of installing the board definitions later tonight. Using the **board manager** method (outlined in your linked instructions) is

[2021-10-29 20:54] whogarden commented on #5821
Done #1306

[2021-10-29 20:54] #5821 closed

[2021-10-29 20:59] igrr commented on #5735
@me-no-dev Do you think we can still add this to 2.0.1?

[2021-10-30 07:10] colonelwatch opened #5822 "analogRead within an ISR causes "Interrupt wdt timeout on CPU1""
### Hardware:
Board:							DOIT ESP32 DEVKIT V1
Core Installation version:			1.0.5 or 1.0.6 (no issue on 1.0.4)
IDE name:						Arduino IDE
Flash Frequency:					80MHz
PSRAM enabled:                                     No
Upload Speed:					921600
Computer OS:                                         Windows 10

### Description:
The below minimal sketch crashes with the same error that I encountered i

[2021-10-30 07:12] me-no-dev commented on #5818
it says it has installed? what happens when you select Espressif board? If you gonna try the git method. make sure you remove the package from board manager :)

[2021-10-30 07:12] me-no-dev commented on #5735
yes. will update the toolchains for 2.0.1 :)

[2021-10-30 07:14] me-no-dev commented on #5822
on ESP32 you can not read adc in the interrupt. Set a flag that it was triggered and read the adc in another thread or in the loop.

[2021-10-30 07:14] #5822 closed

[2021-10-30 07:15] me-no-dev commented on #5822
to clarify, the driver has changed since 1.0.4 and is now using ESP-IDF API to access the ADC. That API is not usable in ISRs

[2021-10-30 08:15] urish commented on #5735
Thank you!

[2021-10-30 09:16] jamienz commented on #5813
You are not identifying the gpio correctly - you're specifying the gpio directly, but you need to specify a mask:
https://docs.espressif.com/projects/esp-idf/en/latest/esp32c3/api-reference/system/sleep_modes.html?highlight=deep%20sleep#_CPPv433esp_deep_sleep_enable_gpio_wakeup8uint64_t33esp_deepsleep_gpio_wake_up_mode_t

You are using
`esp_deep_sleep_enable_gpio_wakeup(3,ESP_GPIO_WAKEUP_GPIO_HIGH

[2021-10-30 14:06] eyaleb commented on #1675
Glad to have found this thread. I was using plain IDF and everything worked just fine. My app reads some sensors and sends a UDP packet to a server. The whole activity takes about 500-600ms. The wifi connection takes 70-150ms.
The Arduino version takes 2.3-3.5 seconds. This was discussed above at length,

My initial issue is that I see on the AP there are DHCP requests from the esp32 client for ea

[2021-10-30 16:14] stevenlayne12 commented on #1380
I am still seeing this on my side. Cant seem to find anything around it :(

[2021-10-30 20:31] Avamander commented on #4717
Yeah, python2 support should be dropped and the python file should be executed directly to use the correct interpreter.

[2021-10-31 14:33] whogarden opened #5823 "error: 'PCNT' was not declared in this scope (ESP32 release v2.0.1RC1)"
### Hardware:
ESP-WROOM-32 4MB (Dev board)

### Description:
Using Arduino IDE 1.8.13
Board selected : ESP32 Dev Module
Partition Scheme: "Default 4MB with spiffs(1.2MB APP/1.5MB SPIFFS)"
Sketch : ..\libraries\ESP32Encoder\examples\Encoder\Encoder.ino
Library from https://github.com/madhephaestus/ESP32Encoder version=0.5.1
Compilation error with Arduino core for the ESP32 release v2.0.1RC1
Error :

[2021-10-31 15:27] pedros89 commented on #5645
Very nice exmplanation @Mos135 ,  you really are making thing easy.
Could you kindly explain how you managed to add arduino as IDF component in first place. I am struggling for 2 days and two nights to do so with all the IDF version and I have not managed to build a sketch

Could you kindly exapand a bit this two very generic points, which versions did you use? At the moment seems to me that every

[2021-10-31 15:38] pedros89 commented on #4702
Hello,
I would need to add arduino as IDF component to encrypt flash.
I have tried everything explained above but I have not been able to build successfully in windows10 IDF version 4.3 ; 4.2 ; 4.1. The closest I got was with @lbernstone  docker.
https://hub.docker.com/r/lbernstone/esp32-arduino-lib-builder
the problem is that I need to add custom patrion table partitions.csv and I didn't manage t

[2021-10-31 15:58] pedros89 commented on #1142
Hello,
Adding Arduino as IDF component in version 4.3.1 did not work and produced the following errors, see image.
If anybody successfully managed to build with Arduino as compont could you point a way.
I need to add custom partitions.csv table. I tried with both docker https://hub.docker.com/r/lbernstone/esp32-arduino-lib-builder
and also with this branch
https://github.com/summivox/arduino-esp32

[2021-10-31 16:36] lbernstone commented on #1142
Please don't hijack comments that have nothing to do with your issue.  Be brave, open an issue where the title has something to do with your problem.

[2021-10-31 16:46] lbernstone commented on #4702
Custom partitions (via partitions.csv) are handled by the Arduino IDE.  If you need custom partitions with an IDF build, use the IDF functionality in menuconfig (https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/kconfig.html#config-partition-table-custom-filename).
There is fairly good documentation on building arduino as an IDF component.  You are unlikely to find any help

[2021-10-31 18:21] pedros89 commented on #1142
Sorry @lbernstone . I have published here because on the official IDF Arduino components webpage they refer to this very same issue if compilation errors occurs.

https://docs.espressif.com/projects/arduino-esp32/en/latest/esp-idf_component.html

[2021-10-31 18:51] pedros89 commented on #4702
Yes @lbernstone  thank you for sharing your Docker project which is very useful for standard projects. Unfortunately in my case I need to substitute bootloader, app and ota `.bin` files as explained in this post about flash encryption
https://github.com/espressif/arduino-esp32/issues/5645#issuecomment-924006154
And I will need to add custom partitions.csv file.
As Docker is an image already made I

[2021-10-31 20:36] lbernstone commented on #4702
If you look in the sdkconfig.h of whatever arduino you are trying to build, you can see the idf commit (`git checkout xxxx`) that matches. https://github.com/espressif/arduino-esp32/blob/master/tools/sdk/esp32/include/config/sdkconfig.h#L676

[2021-10-31 23:01] chimeranzl commented on #2460
Old post I know, however I found a solution to this.  First I created a multicast forwarding policy on my firewall, and then a policy to pass traffic between my LAN and "IOT WiFi" subnets (which gave me the visibility of the ESP8266 IP address under Arduino IDE, Ports).  I had an issue with uploading my sketch across over the firewall though I kept getting "No response from device".  So I edited e

[2021-10-31 23:43] atanisoft commented on #5823
This looks like a bug in the ESPEncoder library not including correct headers.

[2021-11-01 06:39] VTeselkin commented on #1707
getFlashChipRealSize
=
`String(spi_flash_get_chip_size())`

[2021-11-01 08:49] whogarden commented on #5823
It's working fine with Arduino core for the ESP32 release v2.0.0
I am not an expert.
Can you tell me more about what can be uncorrect with ESP32 release v2.0.1RC1.
Thank you.

[2021-11-01 10:13] s-light commented on #5787
@Rotzbua thanks for the pointer to the core api.
i did not know that this exists...

so the best way would be
[code]

should i create a pullrequest with this change?

[2021-11-01 11:48] P-R-O-C-H-Y commented on #5632
Hi @lunadm.
Tested the SD_MMC example with 16, 32, 64, 128 Gb cards and all of them were working.

Chip: ESP32
IDF Version: Arduino 2.0.1 RC1

Can you try updating arduino-esp32 to latest release `2.0.1-rc1` ?

[2021-11-01 14:18] furquan-lp opened #5825 "Arduino IDE throws error "arduino-builder returned 2" when trying to compile any sketch twice (even without any board/hardware connected) on any ESP32 board"
### Hardware:
Board:							ESP32 Dev Module
Core Installation version:			2.0.0 and 2.0.1-RC1
IDE name:						Arduino IDE 1.8.16
Flash Frequency:					80Mhz
PSRAM enabled:                                    no
Upload Speed:					921600
Computer OS:                                        Debian Linux

### Description:
The Arduino IDE throws an error (see below for detail) "arduino-builder returned 2 Er

[2021-11-01 14:42] me-no-dev commented on #5825
this seems to be an issue with your Arduino IDE or environment on your computer.

[2021-11-01 14:42] #5825 closed

[2021-11-01 14:45] furquan-lp commented on #5825
Well, removing all the IDE files and reinstalling everything doesn't help either. Online there are some inconclusive reports of similar error messages ("panic: runtime error: index out of range [3] with length 3") but without any solution.

Moreover this only occurs with Arduino-ESP32 core boards. Stock Arduino boards and some other 3rd party boards compile fine.

[2021-11-01 14:48] lbernstone commented on #5825
Removing all IDE files includes your .arduino15 directory?

[2021-11-01 14:50] furquan-lp commented on #5825
Yes I just checked my command history and I ran `rm -rf .arduino15/` and `rm -rf Arduino` in home before reinstalling the IDE (and the ESP32 core).

[2021-11-01 14:59] xmeow commented on #5815
Looks like that we meet the edge case here, both 63 and 65 bytes write works, or even a 1-byte write after a 64-byte write will release the endpoint from freezing.  I am using webserial and node-serial, but this happens to all terminal tools including putty and arduino ide. My application was ported from esp32s2 and assuming each interrupt reading is 64bytes aligned. Resolved by modifying the webs

[2021-11-01 14:59] #5815 closed

[2021-11-01 15:12] chegewara commented on #5815
Recently ive found similar case with S3. When host is sending device descriptor requests with 256 (multiple of 64) bytes S3 respond with 0 bytes.

[2021-11-01 16:03] igrr commented on #5815
The following code seems to work with ESP-IDF, writing 64 bytes per iteration. So the hardware is probably okay. Maybe we need to look into the difference between this and the equivalent Arduino code.

[code]

[2021-11-01 16:05] igrr commented on #5813
Also recommend writing the pin bin mask as `1ULL << 3`, so in the event you switch to a different ESP chip (like ESP32-S3) change to GPIO >=32, it would still work.

[2021-11-01 16:58] whogarden commented on #5823
Please excuse me,
I will send a warning to  madhephaestus/ESP32Encoder asking them to have a look to Pulse Counter...
Thank you

[2021-11-01 17:30] sguarin opened #5826 "Memory leak on multiple calls to loadCACert and others on WiFiClientSecure"
If you have a system that can accept certs configuration, then multiple calls to loadCACert or related functions will not reutilize the memory assigned.

https://github.com/sguarin/arduino-esp32/blob/caa8d07aafa04441bb85e6046a795249c01d9e39/libraries/WiFiClientSecure/src/WiFiClientSecure.cpp#L304

_streamLoad()
allocates memory for new certificates. A better approach should be using realloc().

ht

[2021-11-01 19:30] Jaredkmacho commented on #5704
Im trying to make OTA work in my project and have noticed the same thing. When writeStream is timing out I wait a consistent 6 minutes untill the abort function is called. This makes it really time consuming to debug the problem Im having (I can do OTA with small binaries ~300kB but little over 1MB fails most of the time).

[2021-11-01 23:59] me-no-dev commented on #5825
can you try with older version? related to esp32 or not, the log does not give much clues, other than code requested an item from array with invalid index. As the log suggests, you can/should also enable compile debug in the IDE preferences.

[2021-11-02 00:26] Spritetm commented on #5815
Note that it's very likely this is a difference between OS handling of these packets. Did you try that code on a Win10 machine?

[2021-11-02 01:07] santaimpersonator commented on #5818
Yes, I have the board definitions/ESP32 Arduino core installed. I'm not having issues with the installation; I am getting a compilation error with one of the board definitions. When using the board manager installation method, I am having a compiler issue with the SparkFun ESP32 MicroMod, specifically.

I get this compilation error, even with a blank sketch (only for the ESP32 MicroMod):
[code]

I

[2021-11-02 01:10] santaimpersonator commented on #5818
I tried the `git` installation method as suggested, but I still get the same compilation error (as above) for the SparkFun ESP32 MicroMod.

* **Note:** I actually ended up having to delete and replace the files of the (installed) `esp32`'s `hardware` and `tools` folders for the Arduino IDE, installed by the Microsoft App Store. Otherwise, the Arduino IDE didn't recognize/populate the board definit

[2021-11-02 09:04] pavithvishnu opened #5827 "Build Failed for ESP32"
Hi,
I am using ESPidf(4.3.1) with  Arduino-esp32 lib(latest)

I'm getting errors, which are shown below

FAILED: esp-idf/arduino/CMakeFiles/__idf_arduino.dir/cores/esp32/esp32-hal-i2c.c.obj
ccache C:\Users\pavit\.espressif\tools\xtensa-esp32-elf\esp-2021r1-8.4.0\xtensa-esp32-elf\bin\xtensa-esp32-elf-gcc.exe -DHAVE_CONFIG_H -DMBEDTLS_CONFIG_FILE=\"mbedtls/esp_config.h\" -Iconfig -I../components/ard

[2021-11-02 12:02] furquan-lp commented on #5825
You were right. It was an environment issue. It turns out that the ESP32 core wasn't downloading correctly and was throwing a CRC error (similar to esp8266/Arduino#630), continuing the installation in such a case may have been causing a faulty install of the core. I'm betting on this being the cause because earlier when I had reintalled everything, the CRC error had come up again (and I ignored it

[2021-11-02 12:37] me-no-dev commented on #5815
@igrr not Arduino code issue. I have no issues on MacOS and @Spritetm has no issues on Linux.

[2021-11-02 12:44] me-no-dev commented on #5827
Use ESP-IDF v4.4

[2021-11-02 12:44] #5827 closed

[2021-11-02 15:47] Nagymadar opened #5831 "EEPROMClass::begin(4096) truncate size fails when previously set to 8Kb"
I have tried to set the EEPROM size to 8K, but failed. I guess it is maximized to 4K?

Nevertheless when I set to 4K again, EEPROM.begin(4096) failed to truncate it back from 8K->4K.

In EEPROM.cpp:
bool EEPROMClass::begin(size_t size)

It tries to truncate, but these functions fail with ESP_ERR_NVS_NOT_ENOUGH_SPACE:
nvs_get_blob(_handle, _name, key_data, &key_size);
nvs_set_blob(_handle, _name, k

[2021-11-02 15:53] lbernstone commented on #5831
Your NVS partition is out of space.  Read through https://github.com/espressif/arduino-esp32/issues/4551 to see how to use a custom partitions.csv to increase the size of your nvs.

[2021-11-02 16:19] Nagymadar commented on #5831
I am not getting it, the nvs is 20Kb. What is the overhead/limitation of EEPROM to use the most of the nvs?

Preferences library is a good hint, thanks. I try it. I used to use SIPFF, but takes 0.5sec to init at boot, what was slow for my needs.

[2021-11-02 17:32] lbernstone commented on #5831
EEPROM is using NVS, so Preferences can't be any longer to init than that.
When you reallocate an entry in nvs, it is not going to reclaim the existing space until complete, so when you go from 8k to 4k, it will use 12k.  The system is also using about 8k, so you are running out of space.  Reallocating is not something I would ever recommend to do in a production environment.  Make it as big as yo

[2021-11-02 17:34] Paulsburg opened #5832 "Interpretation of Exeption Decoder Output"
### Hardware:
Board: ESP32 Dev Module TTGO SIM800, produced by LILYGO
          Chip is ESP32-D0WD (revision 1)
          Features: WiFi, BT, Dual Core, 240MHz, VRef calibration in efuse, Coding Scheme None
          Crystal is 40MHz
IDE: Arduino IDE 1.8.16

### Description:
I can not interpret the output of the Exception Decoder Output.

Perhaps somebody can help...

Thanks
Axel

The Guru Meditat

[2021-11-02 17:42] lbernstone commented on #5832
https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/fatal-errors.html
You have overflowed your stack (typically 8K).  Stop passing Strings between functions, that's what pointers and references are for.

[2021-11-02 18:54] TrikkStar opened #5833 "Arduino as a ESP-IDF component Build Failure"
### Hardware:
Board:							ESP32-WROOVER-IE
Core Installation version:			ESP-IDF v5.0-dev-79-gbcbef9a8db
IDE name:						ESP-IDF CLI
Computer OS:                                         Debian Bullseye running under WSL2

### Description:
Trying to complete the [getting started instructions](https://docs.espressif.com/projects/arduino-esp32/en/latest/esp-idf_component.html#installation).

### Sketc

[2021-11-02 19:33] chegewara commented on #5833
Not exactly related, but explaining issue:
https://github.com/espressif/esp-iot-solution/issues/133

[2021-11-02 19:56] atanisoft commented on #5833
arduino-esp32 master uses the esp-idf release/v4.4 branch at this time as well.

[2021-11-02 20:14] TrikkStar commented on #5833
Yeah, I had tried with 4.4 and got a different error
[code]

[2021-11-02 20:20] atanisoft commented on #5833
Check your setting for `CONFIG_DISABLE_HAL_LOCKS`, it looks like there are a few unprotected references (@me-no-dev FYI)

[2021-11-02 20:28] TrikkStar commented on #5833
`CONFIG_DISABLE_HAL_LOCKS=y`

[2021-11-02 20:33] atanisoft commented on #5833
Remove that setting and it should work.

[2021-11-03 06:06] sohtamei opened #5834 "While outputting 5/10/20MHz master clock from LEDC or I2S to peripheral device, the Wifi throughput gets worse."
### Hardware:
Board:							DevkitC/Espressif ESP32camera/ESP32-CAM(3rd party)/M5Camera/.. other devices
Core Installation version:			1.04
IDE name:						Arduino IDE
Flash Frequency:					80Mhz
PSRAM enabled:                                     no
Upload Speed:					variable for target device
Computer OS:                                        Windows 10

### Description:
While outputting 5/10/20MHz

[2021-11-03 06:16] Paulsburg commented on #5832
Thanks for the info

Its a lot of code, everywhere using Strings...

I will try to rewrite / change to pionters

the Espressiv Doc is topp

Thanks

[2021-11-03 07:33] IamMrUnderstand opened #5835 "How use I2S to read multiple ADC channel?"
Hi,

I want to read  read multiple ADC channel by using I2S

like this
[code]

and it seems didn't implement in Arduino IDE
Does there have any other ways to read multiple channel by I2S in Arduino IDE?

[2021-11-03 09:01] me-no-dev commented on #5835
what you show is IDF API and not Arduino. If it works in IDF, there is no reason for it not to work in Arduino.

BTW there is an issue template that you should have filled. It is not clear what version you are using and so on.

[2021-11-03 09:01] #5835 closed

[2021-11-03 09:18] P-R-O-C-H-Y commented on #5363
Hi @AtefMohamed,
Try updating arduino-esp32 to latest version `2.0.1-RC1`.
Tested `BluetoothSerial` and it's working perfectly.

[2021-11-03 10:19] Nagymadar commented on #5831
Thanks a lot. Makes sense now.

I tested Preferences library. Init is super fast (<1ms) in comparison with SPIFFS (~500ms). putString also fast, 1-2ms.

If I understand EEPROM, it opens a 4K blob, copies to memory. Commit stores the whole 4K to NVS. That sounds a lot slower than using separate namespaces and keys.

[2021-11-03 10:48] SuGlider commented on #5733
I was able to reproduce this issue using an ESP32-Ethernet-Kit_A_V1.2 board (https://docs.espressif.com/projects/esp-idf/en/latest/esp32/hw-reference/esp32/get-started-ethernet-kit.html)

I've got 2 possible error messages:

``` E (3499) esp_netif_handlers: invalid static ip ```
This error message didn't impact Ethernet functionality and it sets static IP correctly.
It has to do with IDF DHCP serv

[2021-11-03 11:52] kostuch commented on #1142
Hi, any success with arduino-as-component?
I run into this same issue like pedros89, when tried to compile the simplest app from the template (on the PlatformIO with IDF extension, if this makes difference).

BTW: This is strange, that official doc points to unrelevant thread

[2021-11-03 12:03] atanisoft commented on #1142
@pedros89 @kostuch Please open a new issue for your compilation issue or join us over on gitter and we can assist with your compilation issues. More than likely you are ending up with an incompatible combination of ESP-IDF and arduino-esp32 and PlatformIO is complicating matters further as they have yet to support arduino-esp32 2.0.0.

[2021-11-03 12:22] IamMrUnderstand opened #5837 "How to read multiple ADC channels by using I2S in Arduino framework"
### Hardware:
|||
|:---|---|
|<B>Board</B>|ESP32 Dev Module|
|<B>Version/Date</B>|1.0.6|
|<B>IDE name</B>|Arduino IDE|
|<B>Flash Frequency</B>|80Mhz|
|<B>PSRAM enabled</B>|no|
|<B>Upload Speed</B>|921600|
|<B>Computer OS</B>|Windows 10|

### Description:
I need an example read multiple ADC channels by using I2S in Arduino framework.
I have tried using "adc_i2s_pattern_t" but it's not in I2S.h

How

[2021-11-03 13:01] fapolumi opened #5838 "AsyncUDP flaky results with IPv6, sometimes no packets are sent"
### Hardware:
Board:							ESP32 Dev Module
Core Installation version:			        2.0.0
IDE name:						Arduino IDE 1.8.16
Flash Frequency:					40Mhz
PSRAM enabled:                                     no
Upload Speed:					115200
Computer OS:                                          Linux

### Description:
I'm trying to reply to UDP packets with AsyncUDP. IPv4 is fine, IPv6 works only sometimes, thou

[2021-11-03 13:12] fapolumi commented on #5838
I just found out that changing the Debug Level to "Error" will result in IP6 packets being send, while setting it to "Debug" will result in the opposite behavior for me quite reproducible. This is by far the most reliable way to trigger this behavior at this point.

[2021-11-03 13:24] lbernstone commented on #5831
Preferences will also be able to take advantage of the lazy nature of the flash.  This means that if you are writing just a few bytes to a key entry, it will find empty space, write those few bytes and update the index to point at the new data.  No erases needed.  Writing to EEPROM, particularly if it is 4096+ bytes, will require a write of the whole sector(s), and at least one erase.

[2021-11-03 14:36] TrikkStar commented on #5833
It does compile now.  Think this part of the documentation might need adjusted, as to me it implied that I should have checked that option:

[2021-11-03 14:39] Nagymadar commented on #5831
Thanks for the lot of info. Learnt a lot.

[2021-11-03 14:39] #5831 closed

[2021-11-03 15:06] VojtechBartoska opened #5839 "Versions compability between ESP-IDF and Arduino Core using Arduino as ESP-IDF component"
This issue tracks versions explanation of compatibilities between ESP-IDF and Arduino core. **Due to the fact that Arduino ESP32 Core is now tracking ESP-IDF 4.4 version**, the goal is to make compatibilities more clear.

It includes 3 main tasks:
- [x] Check of versions and adding warning messages during compilation @me-no-dev @igrr
- [x] Adding compatibility on Online Documentation @pedrominatel

[2021-11-03 15:12] VojtechBartoska commented on #5833
Duplicate of #5819

[2021-11-03 15:12] VojtechBartoska commented on #5827
Duplicate of #5819

[2021-11-03 15:22] VojtechBartoska commented on #5833
Just missed the last [comment](https://github.com/espressif/arduino-esp32/issues/5833#issuecomment-959272241). Reopening, PTAL @me-no-dev, if it's relevant?

[2021-11-03 15:35] sovannsun opened #5840 "rst:0x1 (POWERON_RESET),boot:0x3 (DOWNLOAD_BOOT(UART0/UART1/SDIO_REI_REO_V2)) waiting for download"
Please Help!!

[2021-11-03 15:36] chegewara commented on #5840
What help do you want? It is good log output.

[2021-11-03 15:45] tobozo opened #5841 "UpdateClass unfriends Platformio and Arduino IDE"
Plaftorms: both platformio and Arduino IDE 1.8.16
Module: ESP32
Core version: 2.0.1-rc1
System: linux (ubuntu-latest)

Problem: binaries from platformio and Arduino IDE (2.0.1-RC1) don't seem to be able to start each other using Update.h

As a result I can't SD-Load a pio binary when the ESP has been flashed from Arduino IDE (and vice-versa), and I can't use Update.rollBack() either when the origi

[2021-11-03 16:32] tientu0001 opened #5843 "BLE Device: disconnect all existing connections when only one device disconnected"
Hardware:
Board: ESP32 Dev Module
IDE name: Arduino IDE
Flash Frequency: 80Mhz
OS: Windows 10

Description:
I use example BLE_Client and custom, now i use 3 ble client will scan and connect to 3 ble server. All works excellent
But when one ble server disconnected, so all all existed connections was disconnected too.

Debug:
23:19:02.359 -> [D][BLEDevice.cpp:151] gattClientEventHandler(): gattClien

[2021-11-03 17:22] santaimpersonator commented on #5818
@me-no-dev Can you re-open this issue? I think you might have preemptively closed this issue, thinking I had installed a different set of board definitions.

[2021-11-03 19:33] santaimpersonator commented on #5818
I also retried on another computer with a clean OS install and no antivirus software (in case the antivirus software was blocking the tools from being installed), still getting the same compiler issue.

[2021-11-03 21:22] FrankBoesing commented on #5787
I agree, this is just incompatible to arduino, which uses void*

[2021-11-03 22:56] sovannsun commented on #5840
Chegewara How to log output, please see all my code and please tell me how to log output

#define BLYNK_PRINT Serial

#include <WiFi.h>
#include <WiFiClient.h>
#include <BlynkSimpleEsp32.h>
#include "esp_camera.h"
#include "esp_system.h"

hw_timer_t *timer = NULL;
void IRAM_ATTR resetModule()
{
    ets_printf("reboot\n");
    esp_restart();
}

// You should get Auth Token in the Blynk App.
// Go t

[2021-11-03 23:05] chegewara commented on #5840
Your code is not important in this situation, because you have to solve hardware "issue" first.
You have something connected to GPIO0 which is driving this pin LOW, which is bad during power on, and your code will never start.

[2021-11-03 23:37] pedros89 commented on #4702
After many trials I have successfully built a project using Arduino IDF as component (but unfortunately with flash encryption not enabled as I am still working to make that work)

Here I share my experience. I am on Windows 10.

1 - It is very easy to install the IDF stack on Windows 10 as there is the Tools Installers [at this link](https://dl.espressif.com/dl/esp-idf/?idf=4.4)
then you ca use bo

[2021-11-03 23:43] pedros89 commented on #1142
Yes, as pointed out by @atanisoft  it is exactely an issue of versions of IDF and Arduino component.
It was this @lbernstone  post that was really a saver on how to manage to compile successfully for me.
https://github.com/espressif/arduino-esp32/issues/4702#issuecomment-955787335

Please @kostuch  refer to this detailed post to compile successfully. I didn't publish on this thread so it more pert

[2021-11-03 23:43] sovannsun commented on #5840
The pin GPIO0 is free not connected with other pin

[2021-11-03 23:51] chegewara commented on #5840
1. the only reason you can see message from title is when GPIO0 is LOW when esp32 is power on
2. check level on that pin, because your board may be faulty if there is nothing connected to that pin

[2021-11-04 00:11] sovannsun commented on #5840
Dear Chegewara thank you for your help and everything comment, I also that the board maybe faulty

[2021-11-04 00:15] #5840 closed

[2021-11-04 04:39] garudaonekh opened #5848 "assertion "pbuf_free: p->ref > 0" failed with MQTT"
pbuf_free exception after a few MQTT request/response

This error happen after a few MQTT request/response. However, if I remove MQTT the code program work fine.

"ERROR Message"
assertion "pbuf_free: p->ref > 0" failed: file "/home/runner/work/esp32-arduino-lib-builder/esp32-arduino-lib-builder/esp-idf/components/lwip/lwip/src/core/pbuf.c", line 766, function: pbuf_free
abort() was called at PC 0

[2021-11-04 07:15] CestLaGalere commented on #2374
I'd like this reopened as requires extra code to workaround an empty password
Calling WiFi.begin(ssid, password) where password = "" results in a DISCONNECTED state, I need to check in code for en empty string and make a different call to WiFi.begin(ssid) to get a connection - I don't see why an empty password should faill and it require password=NULL. quick fix to check if strlen(password) == 0 a

[2021-11-04 08:00] P-R-O-C-H-Y commented on #5843
Hi, please can you add more info from issue template?
`Arduino-esp32 version`
`Sample of code / sketch`
Thanks

[2021-11-04 08:03] TD-er commented on #5781
Are you absolutely sure the leak stopped, after manually freeing ca_cert?

I'm looking into this too and I even copied WiFiClientSecure + ssl_client into new classes (with a prefix in the name) to be able to do simple tests by freeing everything that's being accessed via _init functions.
But on average I keep loosing ~1880 bytes per iteration.

Simple test here is to use a CA root certificate (I u

[2021-11-04 08:20] TD-er commented on #5781
OK, scrap that... Apparently I already fixed it myself, but have changed multiple things at once and did not notice it.

I had switched to no longer deleting the WiFiClientSecure, but still did create it and at the same time I had added to free the certificate data.
So now I also have the memory usage stable too.

I can confirm that `ssl_client.h` should have a destructor which needs to call the f

[2021-11-04 10:39] me-no-dev commented on #5848
please provide example code.

[2021-11-04 10:47] me-no-dev commented on #5818
can you try another version of ArduinoIDE? Make sure you clean `C:\Users\<username>\Documents\ArduinoData`

[2021-11-04 10:52] me-no-dev commented on #5841
this is bizarre :D could it be that pio is building with older arduino? like before 2.0.0?

[2021-11-04 10:53] me-no-dev commented on #5833
@VojtechBartoska yeah. seems like a bug :)

[2021-11-04 10:56] me-no-dev commented on #5837
Have you tried this with 2.0.0?

[2021-11-04 11:05] tobozo commented on #5841
It's using `platform-espressif32#feature/arduino-upstream` for both 2.0.0 and 2.0.1-RC1, and only RC1+platformio binaries can demonstrate the issue.

This fails:

[code]

This succeeds:

[code]

I've also had other issues with RC1+platformio, some conditional macros are ignored (e.g. `#ifdef _SD_H_`) depending on the nesting depth.

So I'm speculating on a possible missing compilation flag that ap

[2021-11-04 12:15] kostuch commented on #4702
Thank you for the instruction.
But in my case (Platformio+IDF extension) it is not very helpful.
I managed to compile arduino component just commenting out lines causing errors in esp32-hal-i2c.c file.
Still have some warnings in other files, but they are harmless.
As I don't need I2C, it's enough for me. I hope that next PlatformIO releases will solve this issue.

[2021-11-04 12:29] #5785 closed

[2021-11-04 12:30] Jason2866 commented on #5841
We have no problems building Tasmota, with the framework builded with the arduino lib builder (based on IDF4.4 branch and Arduino-esp32) with Platformio.
Issues you have are maybe from Platformio LDF (Library Dependency Finder).
We had to change our setup after a small code change. LDF did weird...

[2021-11-04 12:31] IamMrUnderstand commented on #5837
yes, I also have tired with 2.0.1-RC1

and got this
[code]

[2021-11-04 12:32] #5756 closed

[2021-11-04 13:27] tobozo commented on #5841
@Jason2866 thanks for your feedback, I tried to pick some build_board settings from tasmota32 earlier but most are ignored since this issue only appears to affect `framework = arduino`, also tasomta32 seems to use `platform = espressif32 @ 3.3.1`.

I found out `espressif32 @ 3.3.1` can't be used with `arduino-esp32.git#2.0.1-RC1` or even 2.0.0 (pio complains about some i2c refs missing), only `pla

[2021-11-04 13:57] Jason2866 commented on #5841
@tobozo we use this without any issue
[code]

[2021-11-04 14:09] tobozo commented on #5841
`#feature/arduino-idf-master` isn't a very happy build, although it works fine with esp-idf, it fails with `framework = arduino` with different compilation errors.

This issue is just for the sakes or reporting an edgy case anyway, I'm secretly hoping that plaformio will soon release an updated `platform-espressif32` package so I can take this exception out of my mind :-)

![image](https://user-im

[2021-11-04 14:37] garudaonekh commented on #5848
[code]

After my further investigation, it happened during incoming MQTT message processing. Sorry, this C style stuff coding is foreign to me.

[2021-11-04 15:25] Jason2866 commented on #5841
Weird build errors can have the reasons in platformio setup.
I invested already "some" hours to solve issues which came out of the dark.
Do not make bets that a official release will solve. There will be not really a difference.
Anyway without Platformio complex projects would not be possible!!

[2021-11-04 15:41] tobozo commented on #5841
Tasmota repository is exactly where my attention was before I created this issue, very nice work and thorough use of the ini files!

[2021-11-04 16:09] pedros89 commented on #5645
After many efforts I've succesfully built the Arduino as ESP32 component ([see guide here](https://github.com/espressif/arduino-esp32/issues/4702#issuecomment-960296078))

And I installed also python2 ([see guide](https://datascience.com.co/how-to-install-python-2-7-and-3-6-in-windows-10-add-python-path-281e7eae62a)) to generate the key.bin file to avoid a error ocurring using python3 ([see Git th

[2021-11-04 17:04] me-no-dev commented on #5848
in your code you free the pbuf only when there is an error. you should free it in all cases, once you have nothing more to do with it.

[2021-11-04 17:04] #5848 closed

[2021-11-04 17:09] santaimpersonator commented on #5818
I already tried that on the re-installs. As [mentioned above](https://github.com/espressif/arduino-esp32/issues/5818#issuecomment-954452009), I deleted all the associated Arduino folders (i.e. `Arduino`, `ArduinoData`, `Arduino15`).

If you are referring to a previous release... unfortunately, with the Microsoft App Store users are only limited to the latest release. Otherwise, [I mentioned previo

[2021-11-04 17:10] edspark commented on #5818
Good afternoon @me-no-dev, this is an issue a few of us here at SparkFun are trying to diagnose. @santaimpersonator went as far (as his latest comment mentions) to use an entirely clean OS to hopefully rule out that it is indeed a local problem. We don't see the issue with any other SparkFun boards, just the esp32 micromod specifically.

[2021-11-04 17:15] me-no-dev commented on #5818
Found it:
Missing
[code]

Here: https://github.com/espressif/arduino-esp32/blob/master/boards.txt#L2574

[2021-11-04 17:18] #5818 closed

[2021-11-04 17:19] edspark commented on #5818
Thank you very much @me-no-dev. 👍🏾

[2021-11-04 19:08] santaimpersonator commented on #5818
Awesome, thanks for the help!

[2021-11-04 23:20] SuGlider commented on #5813
@HalfSweet
Please let me know if the issue was solved with the commentaries above and it can be closed.

[2021-11-05 02:36] garudaonekh commented on #5848
That doesn't solve my problem. Based on the code, pb is to be consumed and freed by netif.input function if there's no error so no need to free it if no error and it'll throw pbuf->free exception if I free it again.

The cause of this error(pbuf_free: p->ref > 0) is due to reference count is zero unintentionally.

[2021-11-05 05:56] mbbender commented on #5663
I'm having the same error on the esp32 using master idf and master arduino-esp32.

[2021-11-05 06:31] #5837 closed

[2021-11-05 07:13] qiwalker opened #5849 "ESP32 dowd v3 using CH340K error upload"
hi
i try to build my own esp32 for serial com i use CH340K driver already installed and com port detected
when i try to upload using arduino IDE board choose esp32 dev module
error appear

esptool.py v3.0-dev
Serial port COM6
Connecting....
Chip is ESP32-D0WD-V3 (revision 3)
Features: WiFi, BT, Dual Core, 240MHz, VRef calibration in efuse, Coding Scheme None
WARNING: Detected crystal freq 42.51MHz

[2021-11-05 08:01] fapolumi opened #5850 "No IPv6 for lower debug levels without extra delays in "WiFiIPv6" example"
### Hardware:
Board:							ESP32 Dev Module
Core Installation version:			        2.0.0
IDE name:						Arduino IDE 1.6.18
Flash Frequency:					40Mhz
PSRAM enabled:                                     no
Upload Speed:					115200
Computer OS:                                          Linux

### Description:
Hi everyone, I'm having trouble with the WiFiIPv6.ino example.

To reliably get an IPv6 STA add

[2021-11-05 08:26] me-no-dev commented on #5848
reference count is NOT zero is the problem, which means that the buf is referenced somewhere but not freed. pbuf_free subtracts one reference and if zero, then it really frees the buffer. That is an issue with the library, not with Arduino

[2021-11-05 08:30] me-no-dev commented on #5849
what baudrate are you using to upload? those CH chips are a bit shitty and do not upload fine with high baudrates. Can you try 115200?

[2021-11-05 08:54] dungdao191299 opened #5852 "reading error SPI value after connect Wifi"
I'm trying use ESP32 read SPI from ADC module  to read analog value with high resolution and high sampling rate (about 5000 samples in 1s) for my energy monitoring project. After that i use WiFi to publish payload via MQTT. But after connected to WiFi, ESP32 received error value. I'm pretty sure the reason is at the Wifi library because if i don't connect wifi, ESP32 received correct value:

![3](

[2021-11-05 09:26] qiwalker commented on #5849
after i check with multimeter the TX pin on CH340K is 4.2VDC and the RX pin is 3.2VDC
the CP2021 chip RX and TX is 3.2 VDC
will it the cause of my problem ?

[2021-11-05 15:33] atanisoft commented on #5852
Pretty sure this will not get anywhere as there is no code example or steps to reproduce.

[2021-11-06 01:26] iwan717 opened #5853 "In file included from C:\Users\wanz_pc\Documents\Arduino\libraries\ArduinoJson/src/ArduinoJson.hpp:17, from C:\Users\wanz_pc\Documents\Arduino\libraries\ArduinoJson/src/ArduinoJson.h:9, from C:\Users\wanz_pc\Documents\Arduino\libraries\ArduinoJson/ArduinoJson.h:5, from D:\DUINO MINER\ESP32_Code\ESP32_Code.ino:46: C:\Users\wanz_pc\Documents\Arduino\libraries\ArduinoJson/src/ArduinoJson/Array/ArrayRef.hpp:7:10: fatal error: ArduinoJson/Array/ArrayFunctions.hpp: No such file or directory #include <ArduinoJson/Array/ArrayFunctions.hpp> ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ compilation terminated. exit status 1 Error compiling for board ESP32 Dev Module."
Make your question, not a Statement, inclusive. Include all pertinent information:

What you are trying to do?
Describe your system( Hardware, computer, O/S, core version, environment).
Describe what is failing.
Show the shortest possible code that will duplicate the error.
Show the EXACT error message(it doesn't work is not enough).
All of this work on your part shows us that you have worked to s

[2021-11-06 01:36] matthew798 commented on #4998
@marcovannoord Thanks for providing the branch.

Does all of this mean that there is no combination of versions (arduino/idf) that work with PIO? If I din't care what IDF version PIO uses, is there a compatible arduino version I can use instead of the forked 4.0?

[2021-11-06 03:06] enriquewph commented on #4998
yes. start with a blank esp-idf project:
[code]
now make sure you clone arduino-esp32 into the components folder, you should add this as a submodule:
[code]

lastly, create a file named: **sdkconfig.defaults** in the root directory of the project.
[code]

it works ok, to access menuconfig run:
[code]

[2021-11-06 03:31] matthew798 commented on #4998
@enriquewph Woah! I never thought to do it that way. I guess I just assumed I _had_ to do it the PIO way. Thanks!

[2021-11-06 10:15] #5853 closed

[2021-11-06 11:30] iwas108 commented on #1050
Don't forget to call sensor.requestTemperatures()

[2021-11-06 16:45] bfaliszek commented on #5183
any new information on support for ESP32-SOLO-1?

[2021-11-06 16:59] fapolumi commented on #5850
I just checked, enableIPV6() returns false during faulty runs.

[2021-11-06 18:10] halyssonJr opened #5855 "[Docs] Writing a new Arduino documentation about GPIO"
### Summary:
Writing a new Arduino documentation about GPIO

### Impact:
None

@pedrominatel

[2021-11-07 01:44] marchingband opened #5857 "16 MB esp32 Wrover HIMEM"
I use the ESP32 WROVER-B 16MB in an audio board that I released on Kickstarter this year, and I would like to someday make use of all that PSRAM, and allow my users to take advantage of the huge potential that it offers, while working in the Arduino IDE.
Is there a roadmap, or any hope of getting access to it, like I would in the esp-idf?

Ideally I would like to be able to use the esp-idf himem a

[2021-11-07 10:07] me-no-dev commented on #5857
- Select the Wrover board in the board menu
- Use SPIFFS
- Access himem through the IDF API

[2021-11-07 10:07] #5857 closed

[2021-11-07 18:39] jockm commented on #469
Assuming you have control of the schematic, but if you are trying to add a feature to an existing board that cannot be changed.  Being able to read the internal voltage is a very useful feature if it can be implemented

[2021-11-07 20:29] marchingband opened #5858 "ESP32 WROVER-B 16MB HIMEM fails"
using arduino-esp32 version 1.6 installed through boards manager
Arduino IDE version 1.8.12
MAC OSX 10.13.6

I choose the board `ESP32 Wrover Module`
There is no option to enable PSRAM in the menu

[code]

the compiler confirms `Auto-detected Flash size: 16MB`

in the log I get :
[code]

if I choose `ESP32 Dev Module`
`PSRAM` appears in the menu and I select `enabled`

compiler confirms again `Aut

[2021-11-08 01:19] chegewara commented on #5858
HIMEM is not for flash, it is for PSRAM usage.

[2021-11-08 01:32] marchingband commented on #5858
@chegewara ok that clears that up a little thank you. Regardless WROVER-B has 8MB PSRAM, and the initialization of it is failing here.

[2021-11-08 01:50] marchingband commented on #5858
The part is labeled ESP-PSRAM64H ... 8MB

[2021-11-08 02:37] chegewara commented on #5858
Did you enable psram in tools menu?

[2021-11-08 03:03] marchingband commented on #5858
@chegewara yes

[2021-11-08 03:04] chegewara commented on #5858
Ok, do you have something connected to pins GPIO16 and/or GPIO17? Those are psram pins.

[2021-11-08 03:12] marchingband commented on #5858
No I don't.
ps_malloc does work, but only has the lower 4MB, so PSRAM is working but the himem is not

[2021-11-08 03:16] marchingband commented on #5858
@chegewara
using arduino-esp32 version 1.6 installed through boards manager
Arduino IDE version 1.8.12
MAC OSX 10.13.6

selected ESP32 Dev Board in the tools menu
(I also tried ESP32 Wrover Module, though the PSRAM ENABLE option does not appear in the menu)

[2021-11-08 07:18] me-no-dev commented on #5858
I can not explain why PSRAM init fails for you. You can try 2.0.0, but that might not help. Sounds a bit like hardware issue?

[2021-11-08 07:39] marchingband commented on #5858
@me-no-dev @chegewara
I am confused because  #4625 and #4116 have the same problem and those issues were closed as stale.
They both end up referencing 3rd party libraries that use 'magical' work arounds.

[2021-11-08 07:42] marchingband commented on #5858
Unfortunately I havn't been able to get 2.0 to work, so I can't test that, I am stuck on OSX 10.13 and it seems incompatible.

[2021-11-08 08:18] VojtechBartoska commented on #4998
Yes, IDF 4.4 is now supported.

[2021-11-08 08:24] VojtechBartoska commented on #5853
Edited name due it's lenght.

[2021-11-08 09:15] VioletGiraffe commented on #4998
This is how my Pl;atformIO build was set up, and it worked half a year ago. I did not need to invoke `git` manually or anything like that.

[code]

[2021-11-08 09:28] pedrominatel commented on #5855
Thanks, @halyssonJr for taking this task!

Please, follow the same format and style as the other libraries. You can use as reference:

https://docs.espressif.com/projects/arduino-esp32/en/latest/api/i2c.html
and
https://docs.espressif.com/projects/arduino-esp32/en/latest/api/wifi.html

[2021-11-08 09:40] VioletGiraffe opened #5859 "C++20 for ESP32?"
This is not a bug report, more of a request / question. Is there a way to get C++20 working? And what's the latest version of `toolchain-xtensa32`? I'm using `3.80200.200512`, this one recognizes `-std=gnu++2a`, but it's GCC 9 - some important features are missing, like `consteval`. Is there a ESP32 toolchain with GCC 10? Or, at least, is it being worked on?

P. S. I can't find a list of existing

[2021-11-08 09:56] igrr commented on #5859
This is being worked on, we will switch to GCC 11 in the next toolchain release. The tracking issue is https://github.com/espressif/esp-idf/pull/4846

[2021-11-08 10:19] VioletGiraffe commented on #5859
@igrr, that's great news, thank you!

[2021-11-08 10:19] #5859 closed

[2021-11-08 10:27] s-light commented on #5502
i have found [this post at the arduino forum](https://forum.arduino.cc/t/problem-with-analogread-on-esp32-c3/892651/14)

so the missing peaces are some defines in
[cores/esp32/esp32-hal-gpio.c#L49](https://github.com/espressif/arduino-esp32/blob/master/cores/esp32/esp32-hal-gpio.c#L49)

something like
[code]
and
[code]
@me-no-dev could you add these? i have currently no idea how `esp32_gpioMux` wo

[2021-11-08 10:57] s-light commented on #5502
as my comment suggested..
https://docs.espressif.com/projects/esp-idf/en/latest/esp32c3/api-reference/peripherals/adc.html#adc-limitations
ADC2 is used by Wifi - so it is only available if no wifi is used..

[2021-11-08 12:49] ismavg commented on #5567
Hi @P-R-O-C-H-Y,
thank you for the response.
But, as per my knowledge, [we change the pin number ](https://github.com/espressif/arduino-esp32/issues/5676)
correct me if I'm wrong

[2021-11-08 13:44] sami1369 opened #5860 "Receive "scan_evt timeout" on serial monitor"
Hi guys
I use an ESP32 as scanner and 2 ESP32 Advertised to Scanner
َAfter A few hours I receive a message on serial monitor in scanner device and scanner doesn't work while other peripherals work perfect.
message is "scan_evt timeout"
my code in scanner:
### Sketch:
[code]
scan time is 3 second.

can you help me?

[2021-11-08 14:24] P-R-O-C-H-Y commented on #5567
Hi, yes the esp32s2 use GPIO-matrix so you can use almost every pin you want to.
So I tested it again with exact your code and pin use, and its working perfectly. Idk why its not working for you.
Can you try to update arduino-esp32 to latest version?
Just an advice, the best way is to use predefined pins in data sheet which I linked before. If you use matrix you may not be able to get best pin spe

[2021-11-08 14:54] VojtechBartoska commented on #5858
@marchingband yes, you need to update to MacOS 10.15. Check [here](https://github.com/espressif/arduino-esp32/issues/5639#issuecomment-949618260)

[2021-11-08 15:44] garudaonekh commented on #5848
Sorry for coming again. I still can't figure out what went wrong because it happened randomly when MQTT packet is received. However, it points to this line of code: **if (mqtt_if->netif.input(pb, &mqtt_if->netif) != ERR_OK)**

netif.input() belongs to netif API class of this arduino-esp32.

Thus based on your comment, it means pb->ref should be zero, otherwise error will happen?

[code]

[2021-11-08 19:55] me-no-dev commented on #5848
while we do provide it it is not a part of Arduino. It's part of LwIP that is compiled with ESP-IDF to be used by Arduino.
There are a couple more places in that mqtt lib that creates pbufs and refs them. May be that is where is the problem?
And yes, the error says that `pbuf->ref` was not zero when the stack tried to free the pbuf.

[2021-11-08 21:42] halyssonJr commented on #5855
Ok, @pedrominatel.

[2021-11-08 21:58] marchingband commented on #5858
@me-no-dev I don't see how it could be hardware, because `ps_malloc()` works perfectly, or am I missing something?
in #4116 @chegewara and @Nirvana-56 seem to get it working under Arduino-as-component, but not under Arduino. Then @me-no-dev is asked to rebuild Arduino with some flags enabled.
Did this happen? If it's possible for you to direct me to that commit, maybe I can track down the problem?

[2021-11-08 21:58] marchingband commented on #5858
@me-no-dev I am on esp-idf 3.3 for example, maybe this is a mismatch?

[2021-11-09 00:02] Paulsburg commented on #5832
Problem solved by using  a lot of calls_by_reference in most of my functions.
Thanks for the help

[2021-11-09 00:02] #5832 closed

[2021-11-09 00:14] Paulsburg opened #5862 "deepsleep: which wakeup-source is currently monitored?"
Hi,
I am programming esp32 with the arduino IDE.

in my sketch, I am using different modes of deep sleep: ext0 ext1 and RTC-Timer as sources. Depending of the program-needs.

Do I can test in my sketch which deep sleep wakeup-mode (ext0 or ext1) currently is activ?

I am searching a bug in my sketch and for test purposes I want the print out the current  programed wakeup-mode/source .

To be clear

[2021-11-09 08:01] ismavg commented on #5567
I have tried the latest version. and also the same pins are working in IDF
My defines mean GPIO pin number.

[2021-11-09 08:23] #5733 closed

[2021-11-09 10:03] dsyleixa opened #5863 "compile error: ESP_TASK_MAIN_PRIO was not declared in this scope"
Arduino IDE 1.8.9, Adafruit Feather ESP32, ESP32 core 1.0.6:

Formerly I was using successfully
vTaskPrioritySet( NULL, ESP_TASK_MAIN_PRIO );
in my programs, e.g. (cut down):
[code]

but now after migrating to a new Notebook I suddenly get the compile error
`'ESP_TASK_MAIN_PRIO' was not declared in this scope`

OTOH, changing ESP_TASK_MAIN_PRIO e.g. to numbers like 0 or 1 all is running like a cha

[2021-11-09 10:10] P-R-O-C-H-Y commented on #5567
It is working for me. With your PINS in IDF and in Arduino.
Does the SD module you are using needs 3.3V or 5V power?
So in ESP-IDF its working for you?

[2021-11-09 10:18] me-no-dev commented on #5863
Probably missing include: https://github.com/espressif/arduino-esp32/blob/00214d5c2a1c2b1904f2caf6f0d5ddfe952331ff/tools/sdk/esp32s2/include/esp_system/include/esp_task.h#L62

[2021-11-09 10:18] #5863 closed

[2021-11-09 10:36] dsyleixa commented on #5863
I never had additional includes other than the ones I wrote above.
[code]
So as this issue is still unsoveld, which `#include` is needed now additionally?

[2021-11-09 10:37] me-no-dev commented on #5863
this issue has nothing to do with Arduino. You are using some ESP-IDF defines. Just include the correct header...

[2021-11-09 10:45] dsyleixa commented on #5863
it's an error thrown by my Arduino IDE, so to me it's an esp-arduino-issue. Finally as an Arduino-user I have no idea in which nested package it's packed in.
So after all I assume that you might mean
`#include <esp_task.h>`
Is that new?
when has that been changed?
But for now, although you didn't advice it explicitely, and as it turns out it could fix it, thanks.

[2021-11-09 10:51] felmue commented on #5862
Hello @Paulsburg

ok, if I understand correctly you'd like to call `esp_sleep_enable_X_wakeup()` in various places in your code and then just before the ESP32 is put to deep sleep you'd like to know which wake up sources your code actually has enabled?

Reading through the Espressif documentation I don't see a function for that.

That said, I suggest that in your sketch whenever you call an `esp_s

[2021-11-09 11:22] Paulsburg commented on #5862
Hi Felix

thats such a simple solution.... Sometimes to simple to see it ;-)

Thanks for your advice/help
Axel

[2021-11-09 11:22] #5862 closed

[2021-11-09 12:09] tobozo opened #5864 "ESP_ARDUINO_VERSION_PATCH not updated by build script in 2.0.1-RC1 and 2.0.1"
Hello,

The new `ESP_ARDUINO_VERSION ` macro can't be used yet to distinguish 2.0.0 from 2.0.1-RC1 and 2.0.1.

Something is probably missing in the build scripts to increment the values.

![image](https://user-images.githubusercontent.com/1893754/140921537-8791f32a-71d7-4f3d-ab4f-f0a17be87da7.png)

![image](https://user-images.githubusercontent.com/1893754/140921502-18aa45bd-99d2-4717-90fb-bf975ec

[2021-11-09 12:37] pedrominatel commented on #4
analogWrite PR Link: https://github.com/espressif/arduino-esp32/pull/5861

[2021-11-09 12:40] Harvie commented on #4
@pedrominatel
![image](https://user-images.githubusercontent.com/276504/140925864-c36593d6-2bbf-44a4-9a3f-49ddaffb0dda.png)

[2021-11-09 16:43] Timmmy001 commented on #4320
it seems to be a tool chain problem:
https://github.com/espressif/esp-idf/issues/6590#issuecomment-827086670

[2021-11-09 17:37] pasveer commented on #2285
I still use version 1.0.5 but I like to share my fix anyway.

It's a bit of a hack, but it works like a charm: patch the string in the library file liblwip.a .

In my hex editor I searched for "udp_sendto result" to find the string in the binary. Then I replaced the first byte of the debug message (the letter 'd') by a null-byte, making it zero-length. The message is never seen again ;-)

[2021-11-09 17:41] garageeks opened #5867 "Non-void function with no values returned causes crash"
Make your question, not a Statement, inclusive. Include all pertinent information:

What you are trying to do?
While writing firmware, I stumbled in puzzling crashes. This firmware used to work fine with arduino-esp32 2.0.0.
I reverted back to 1.0.6 and it worked. No compiler errors were thrown with both.
The crashes sometimes produced a Guru Meditation Error, sometimes it was stuck and the watchd

[2021-11-09 22:15] sohtamei commented on #4655
I fixed this issue, please see following report.
https://github.com/espressif/arduino-esp32/issues/5834

I released the firmware for ESP32-CAM which fixed this issue on above thread.

[2021-11-09 22:20] sohtamei commented on #5834
I fixed this issue with XCLK=8MHz and x2 clock on ov2640 side.

1. burn firmware (customized CameraWebServer)
https://sohta02.sakura.ne.jp/tukurutch/
[Add extension]
-- [M5Camera,ESP32cam,..]
-- pulldown [burn (M5Camera)] to "esp32cam"
-- click [burn (unitCam)]

2. enter SSID and pass to [connect ssid ..] and click it.

3. click [Wifi Status] and get IP address

4. access to IP address via web Bro

[2021-11-09 22:25] Jason2866 commented on #5502
@s-light ADC1 is fully useable. That ADC2 is conflicting with wifi is the same as for the ESP32

[2021-11-10 02:57] khoih-prog opened #5868 "ESP32 Core v2.0.1 / 2.0.1 RC1 crashes if using pinMode with GPIO1"
Core ESP32 Core **v2.0.1 / 2.0.1 RC1** crashes if using pin pinMode with GPIO1, INPUT or OUTPUT mode. No issue with core **v2.0.0-**

With the following simple sketch, it's working OK if using `PIN_D2` or `PIN_D3`, but crash if using `PIN_D1`

[code]

[2021-11-10 07:53] me-no-dev commented on #5868
any logs from that crash?

[2021-11-10 09:05] s-light commented on #5502
i know. my point was:
do we want to include GPIO5 (ADC2_0) as usable adc channel?!
or do we leave it out in the first place as it conflicts if wifi is used...

i personally think it should be included.
(i did not check how the adc1 / adc2 differentiation is implemented in the other ports - and how much extra work this would be..)

[2021-11-10 09:22] DhirajGehlot opened #5869 "Limit on total number of BLE services"
Hello,

### Hardware:
Board:							ESP32-WROOM-32E
Core Installation version:			1.0.6
IDE name:						Arduino IDE?
Flash Frequency:					80Mhz
PSRAM enabled:                                    no
Upload Speed:					921600
Computer OS:                                        Mac OSX
Arduino version:                                    Arduino 1.8.15

I am using Arduino IDE to code ESP-32 module. Current

[2021-11-10 13:22] khoih-prog commented on #5868
Even with `Core Debug Level: "Verbose"`, the terminal debug has almost nothing

[code]

Using

[code]

the debug terminal is

[code]

[2021-11-10 14:45] whogarden commented on #5823
There is now a new version  https://github.com/madhephaestus/ESP32Encoder :
version=0.6.0
Tested and working good.
I hope this can help other people

[2021-11-10 14:45] #5823 closed

[2021-11-10 15:04] tobozo opened #5870 "WiFiGeneric.cpp arduino_event_names is incomplete"
`const char *arduino_event_names` debug array appears to be incomplete or in a bad order.

Log sample:

    [WiFiGeneric.cpp:831] _eventCallback(): Arduino Event: 9 - STA_LOST_IP

The log output seems wrong, because according to `system_event_id_t` in `esp_event_legacy.h`, event 9 is actually `STA_BSS_RSSI_LOW`, and event 8 is `STA_LOST_IP`.

While this is only used in debug mode, it may still rai

[2021-11-10 15:20] me-no-dev commented on #5869
All IDF menuconfig settings are preconfigured in Arduino and can not be changed, except if Arduino is used as IDF component. Then you can configure everything in IDF.

https://github.com/espressif/arduino-esp32/blob/master/tools/sdk/esp32/sdkconfig#L354

[2021-11-10 17:15] malinacardas commented on #1075
<3333333333333333333333333333

[2021-11-10 17:24] ismavg commented on #5567
yes, idf works fine.

[2021-11-10 17:58] DhirajGehlot commented on #5869
Thanks for the reply @me-no-dev

_All IDF menuconfig settings are preconfigured in Arduino and can not be changed_
- So maximum BLE service are limited in Arduino? Also this config file is generated automatically?

I navigated to my sdkconfig.h file and couldn't find this "CONFIG_BT_GATT_MAX_SR_PROFILES=8"
Can I add this variable CONFIG_BT_GATT_MAX_SR_PROFILES=8 manually in my SDK config file?

[2021-11-10 18:29] GKFernandes opened #5871 "Rollback with Arduino as ESP-IDF Component"
Hello everyone,

I ran into the same issue as stated in: espressif/arduino-esp32#3318 and also in espressif/arduino-esp32#3749

I think this issue about the weakly defined verify0ta() should be fixed and made in such a way that the user can perform the verification later in the code instead of inside the initArduino() function.

[2021-11-10 22:06] Lawrence-RedFern opened #5872 "ESP32-S2 OV2640 esp_camera_fb_get causing Guru Meditation Error: Core 0 panic'ed (LoadStoreAlignment)"
### Hardware:
Board:							Custom ESP32-S2 board
IDE name:						Arduino IDE
Flash Frequency:					80 MHz
PSRAM enabled:                                       Yes
Upload Speed:					        912600
Computer OS:                                          Windows 10

### Edit 2021-11-11 13:45

By disabling PSRAM and setting ```config.frame_size = FRAMESIZE_96X96;``` I am now returned with

[code]

I am tr

[2021-11-10 22:13] MitchBradley opened #5873 "Stack smash with String(float, precision)"
Passing a large floating point value, or a large precision, to String::String(float value, unsigned char decimalPlaces) causes a stack smash.

Any one of these lines, individually, in any context, will do it:
[code]

The problem is in WString.cpp which uses a buffer of length 33  `char buf[33]`  Since FLT_MAX is 3.4e38, 33 bytes is not enough.  Furthermore, there is no limit on the precision value

[2021-11-10 23:27] urish commented on #5735
Fixed in 2.0.1 and verified on Wokwi.

Thanks for fixing this! Now the users can enjoy [ESP32-S2 Blink on the Arduino Core](https://wokwi.com/arduino/projects/314916550651937346) :wink:

[2021-11-10 23:27] #5735 closed

[2021-11-11 03:16] eyaleb opened #5874 "What should the ULP power consumption be in deep sleep?"
I want to run my project from battery so need to optimize power usage.

The hardware is a naked esp-wroom-32 module soldered to a carrier board. A low Iq LDO (RT9080) is used with a Li-Ion battery. No devices are attached yet. The sw is built with IDF 4.4.

When I go into deep sleep the current is 10-12uA, as expected. If I activate the empty ULP program it uses 450uA. The doco suggests it should

[2021-11-11 08:46] valioiv commented on #1552
What is the outcome here?

[2021-11-11 09:44] me-no-dev commented on #5869
What do you mean by "your" sdkconfig file? The sdkconfigs used by arduino are located in `tools/sdk/[chip]/` and the header is in the `include/config` folder under that. BTW I advise you to use version 2.0.1 of this repository :)

[2021-11-11 10:22] FStefanni opened #5875 "I2C broken with version 2.0.1"
### Hardware:
Board:							ESP32 Dev Module, ESP32 Wrover
Core Installation version:			        2.0.1
IDE name:						Arduino IDE
Flash Frequency:					80Mhz
PSRAM enabled:                                       no
Upload Speed:					        921600
Computer OS:                                          Windows 10

### Description:

Hi,

I have tested the two boards, with two I2C libraries, namely:
* Spa

[2021-11-11 10:57] ShenRen opened #5876 "HardwareSerial::flush freezing ESP32"
The use of the flush function is likely to trigger a task deadlock
IDF V4.3.1
![图片](https://user-images.githubusercontent.com/6782951/141286174-7d131645-91a8-4008-81c9-b57cb5db7feb.png)

[2021-11-11 10:59] atanisoft commented on #5875
This is likely a bug in the libraries that are using Wire outside of the expected / supported patterns. Another Adafruit library was recently found to have a similar bug and likely these are impacted the same. @ladyada can you review?

[2021-11-11 11:02] atanisoft commented on #5874
@eyaleb the example project seems to be pure ESP-IDF and not arduino-esp32, I'd suggest asking over on https://github.com/espressif/esp-idf or even esp32.com in the forum.

[2021-11-11 12:59] eyaleb commented on #5874
Oops, accidentally put it in the wrong forum.

[2021-11-11 12:59] #5874 closed

[2021-11-11 13:50] tanielkirikal commented on #5875
I can confirm that Adafruit SCD30 library ( https://github.com/adafruit/Adafruit_SCD30 ) is also broken in 2.0.1.
esp32 2.0.0 version works.

[2021-11-11 14:13] P-R-O-C-H-Y commented on #5252
Hi @olicooper,
I have made some testing and you should upgrade the arduino-esp32 to latest supported version `2.0.1 (2.0.0)`.
There is no kernel panic happening when calling SerialBT.end() when connected devices were not disconnected before.

About the memory leaks I made some tests too.
[code]

These are the outputs:
`version 1.0.6`
[code]
`version 2.0.1`
[code]
I can confirm that in version `1.0

[2021-11-11 14:13] #5252 closed

[2021-11-11 14:24] garageeks opened #5877 "MODBUS communication randomly broken due to misbehaving Serial.flush() function"
Using arduino-esp32 1.0.6, the library ModbusMaster (https://github.com/4-20ma/ModbusMaster) works as intended.
Using arduino-esp32 2.0.0 or 2.0.1 it randomly stops communicating with the slave Modbus device.

I investigated with a scope and these are my findings:
RED LINE = TX signal, BLUE LINE = TX enable signal (tied to DE/NOT RE pins)

1) Succesful transmission - the device replies as expected

[2021-11-11 16:05] TokenThinker opened #5878 "CameraWebServer example no log output for Face Detection on ESP32 Cam"
### Hardware: ESP32 Cam
Board:							ESP32 Wover Module
Core Installation version:			2.01
IDE name:						Arduino IDE
Flash Frequency:					80Mhz
PSRAM enabled:                                       yes
Upload Speed:					115200
Computer OS:                                           Mac OSX

### Description:
Using the example "CameraWebServer" sketch no logs are appearing to see if Face Detection is

[2021-11-11 16:32] ladyada commented on #5875
hiya we now use a wrapper library for i2c for sensors like the SCD30 https://github.com/adafruit/Adafruit_BusIO
which could be why some libraries work and some don't. that said, im v confident that the busio implementation is correct

however, the scd-30 does not use repeated start that we know of
https://github.com/adafruit/Adafruit_SCD30/blob/master/Adafruit_SCD30.cpp#L348

iirc @me-no-dev has b

[2021-11-11 17:29] atanisoft commented on #5875
@FStefanni it looks like the u-blox library you reference is doing multiple starts in a single block and may have a bug. There may also be bugs in the I2C code in this repository though.

[2021-11-11 17:40] garudaonekh opened #5879 "pbuf->ref > 0 assertion in tcp_in.c of lwip"
Why pbuf->ref is 0 in tcp_in.c's tcp_input function randomly after a few incoming MQTT message?
I have been struggling with this issue for 5 days and can't figure out how it happen.

I use a library to tunnne all MQTT message to HTTP request. Thus the library will convert MQTT message and post it to TCP/IP stack and the Web Server on the ESP32 will response to it. But it keeps crashing after sever

[2021-11-11 17:54] caternuson commented on #5875
Just to add some info that this might be related to repeated start and/or clock stretching, tested behavior real quick with a [BME280](https://www.adafruit.com/product/2652) (which does none of that) using [library example](https://github.com/adafruit/Adafruit_BME280_Library/blob/master/examples/bme280test/bme280test.ino). Also tested [SCD30](https://www.adafruit.com/product/4867) with [library ex

[2021-11-11 18:34] TheRealDJ commented on #5819
I created a GitHub pages site with my notes: [https://therealdj.github.io/esp32/](https://therealdj.github.io/esp32/).
Hope it helps someone.

[2021-11-11 19:17] #5550 closed

[2021-11-11 19:23] Jason2866 commented on #5875
I2C is not broken. Some stuff changed. Many many libs out there are not correctly done.
For Tasmota the maintainer had to change some to get it going with core 2.0.1.
The actual implementation is just not so error forgiving as the versions before!

[2021-11-11 19:40] SuGlider commented on #5876
Hi @ShenRen
This issue seems related to https://github.com/espressif/esp-idf/issues/5156
The issue with ```uart_wait_tx_done()``` (used in ```HardwareSerial::flush()``` and then in ```uartFlushTxOnly()```) relates to IDF versions before July 20th 2021, most probably present in IDF 4.3.

It seems fixed in IDF 4.4 as reported here https://github.com/espressif/esp-idf/issues/5156#issuecomment-8885201

[2021-11-12 00:24] SuGlider commented on #5876
@ShenRen
I confirm that IDF 4.3 has this bug. It is fixed in IDF 4.4.

The lines below shall be removed from the code (```/components/driver/uart.c``` in IDF 4.3) in order to fix it:
https://github.com/espressif/esp-idf/blob/release/v4.3/components/driver/uart.c#L1080
https://github.com/espressif/esp-idf/blob/release/v4.3/components/driver/uart.c#L1094-L1096

Those are equivalent to aplying the fi

[2021-11-12 01:58] TokenThinker commented on #5878
I think the "fd_forward.h" and "fr_forward.h" aren't being found, when trying to include them

[code]

[2021-11-12 07:49] FStefanni commented on #5875
Hi,

I reported the issue to the Sparkfun GNSS lib.
Since @ladyada is following this issue, I avoid to repeat the stuff in a official bug report for the Adafruit RFID lib
(unless @ladyada thinks doing this could be of any help).

Nevertheless it seems strange imho that so many libraries broke...

I hope it will be fixed quickly, since we use this stuff at work.

Regards.

[2021-11-12 10:04] me-no-dev commented on #5875
I agree with @Jason2866 here. The library in this repo works fine as long as it is used as per documentation (official Arduino documentation that is). Unfortunately many libs do the calls in some strange order, like wrapping `requestFrom` in `beginTransmission/endTransmission` and others. This could not work fine on ESP32 because of how the peripheral itself works and multithreading requirements.

[2021-11-12 11:50] Maksons commented on #4746
I do not use Arduino but in plane ESP-IDF it is still problem .
I find https://github.com/espressif/esp-idf/issues/5519 which report that with FreeRTOS 10  xTaskGetHandle should be by default, but do not work form me, not found still.

I overcome problem by solution given on ESP forum :

    INCLUDE_xTaskGetHandle must be set to 1 in FreeRTOSConfig.h for xTaskGetHandle() to be available.

For that

[2021-11-12 12:02] dakanadaka opened #5880 "HTTPClient if concat string url not working, just a one string no concat it works"
Hello there I'm using the next library for my laser scanner

SparkFun_DE2120_Arduino_Library https://platformio.org/lib/show/7157/SparkFun%20DE2120%202D%20Barcode%20Reader

I'm having a problem with HTTPClient. I think it has to do something with char conversions, but I couldn't find out why.
I have a esp32 wroom 32D
here is my code: https://gist.github.com/dakanadaka/2ac8c3d54340874cf5738f183bf84

[2021-11-12 12:43] atanisoft commented on #5879
This appears to be a bug in the library you are using, it could be any of the following:

1. pbuf exhaustion.
2. pbuf use after free.
3. unknown bug in code not from arduino-esp32.

This should be investigated further by the library owner.

[2021-11-12 13:06] PaulZC commented on #5875
Hi All,

I've been investigating the failures with the SparkFun u-blox library on v2.0.1 of the core, and I believe the key issue is actually I2C clock stretching (not I2C restarts - or a lack of proper ```Wire``` code).

I see similar badness with the SparkFun Qwiic Button. It uses clock stretching - but does not use restarts when communicating on I2C. More details are here:

https://github.com/s

[2021-11-12 13:51] dakanadaka commented on #5880
strcat(serverPath, scanBuff);
      serverPath[strlen(serverPath) - 1] = '\0';

[2021-11-12 13:51] #5880 closed

[2021-11-12 14:09] garudaonekh commented on #5879
**1. pbuf exhaustion.**
I have checked the library's code carefully, i doesn't free that pbuf at all unless tcp_in.c return error response-based on my tracking, tcp_in response ERR_OK but it still complain pbuf->ref > 0 assertion. I also check the memory heap for the possiblity of out of memory but still many heap left.

Since it happened randomly, I think it's some concurrent issue due to threadi

[2021-11-12 14:17] atanisoft commented on #5879
@garudaonekh I'd suggest open an issue on the library and instrument their code to find where/why this is occurring. It's entirely possible the code is exhausting the pbuf pool (there is a limit) and it is overrunning the LwIP stack from being able to cleanup or process.

If you are just using that library for MQTT access, I'd suggest trying the ESP-IDF native MQTT client directly.

[2021-11-12 15:16] SuGlider commented on #5877
@garageeks
In order to assist you could you please run this code in order to get more information about your board and development environment. If possible, run this code using core 1.0.6, 2.0.0 and 2.0.1 from your main development environment and report the result back here.

[code]

[2021-11-12 15:21] SuGlider commented on #5873
@MitchBradley
In order to better assist you, could you please run this code in order to get more information about your board and development environment.

What Arduino core are you  using (1.0.6, 2.0.0 or 2.0.1)?
What IDE are you using (Arduino IDE, PlatforIO, etc)?

[code]

[2021-11-12 16:37] garageeks commented on #5877
Hi @SuGlider  , shall I run the code standalone or while running my MODBUS application?

I always print the free heap to detect potential memory leaks, so I have already some information from my application:
on 1.0.6 I get Free heap: 247744 - Max block: 113792
on 2.0.0 I get Free heap: 181063 - Max block: 65524

The ESP32 module I'm using is ESP32-WROOM-32E

PS: on 2.0.0 free heap and max block va

[2021-11-12 17:10] mishaturnbull commented on #4746
Same here.  I've been modifying the value in the FreeRTOS header to use the function, but this means anybody else who wants to compile my code has to then go do the same.  Any chance we could get it to be a menuconfig item?

p.s. @Maksons, how you are copying & modifying FreeRTOS component?  Do you just copy the component from the esp-idf components folder into your project's components -- does th

[2021-11-12 17:11] SuGlider commented on #5877
@garageeks
You can run it stand alone with 2.0.x.

[2021-11-12 17:25] Jason2866 commented on #5878
Correct since face defection is not included in the core 2.0.1 build

[2021-11-12 17:34] nseidle commented on #5875
[This commit](https://github.com/espressif/arduino-esp32/commit/f87107dedb6aff148622672376ae6a4aefdfd80c) causes the break.

I'm still digging but a `.endTransmission(false)` causes buffer to be erased.

Code to replicate issue:

      Wire.begin();
      uint8_t deviceAddress = 0x42;
      Wire.beginTransmission(deviceAddress);
      Wire.write(0xB5);
      Wire.write(0x62);
      Wire.endTransmi

[2021-11-12 17:48] atanisoft commented on #5875
Is it possible the condition for triggering that is inverted?

[2021-11-12 17:50] garageeks commented on #5877
Sorry, I forgot my programmer at home, I could only flash new firmware by OTA. Here's the results from within my application.

1.0.6 - MODBUS works non-stop for 24+hrs
Internal Total heap 347228, internal Free Heap 249100
SPIRam Total heap 0, SPIRam Free Heap 0
ChipRevision 3, Cpu Freq 240, SDK Version v3.3.5-1-g85c43024c
Flash Size 16777216, Flash Speed 40000000

2.0.0 - MODBUS works but fails af

[2021-11-12 18:00] garageeks commented on #5875
Here is my little experience on this matter: I have tested 2.0.1 using these libraries and the devices work as expected; have tested it just for some minutes though.

adafruit/Adafruit VEML6070 Library@^1.0.6
adafruit/Adafruit LIS3DH@^1.2.2
adafruit/Adafruit SHT31 Library@^2.0.0
adafruit/Adafruit MCP23008 library@^2.1.0

[2021-11-12 18:08] nseidle commented on #5875
@garageeks - I'm speaking at the edge of my knowledge here but testing or listing individual libraries could be counterproductive. I suspect you will find that devices that don't require repeated-starts (such as [the OLED library](https://github.com/sparkfun/SparkFun_Micro_OLED_Arduino_Library)) work just fine, whereas other devices that use repeated starts fail. If you can find a library that doe

[2021-11-12 18:50] MitchBradley commented on #5873
I have tried it with numerous setups - Arduino IDE, with Arduino core 1.0.6 and 2.0.1, and PlatformIO with framework-arduinoespressif32  version 3.10006.210326 and also a pull from [git ](https://github.com/espressif/arduino-esp32) as of about a month ago.

git blame says that the code in question - the 33-character buffer - has not changed since it was imported from the esp8266 version 5 years ag

[2021-11-12 19:24] dungcnttimd commented on #224
I'm so sorry, I don't really know what's wrong with it? Someone help me?
Arduino: 1.8.16 (Windows Store 1.8.51.0) (Windows 10), Board: "NodeMCU 1.0 (ESP-12E Module), 80 MHz, Flash, Disabled (new aborts on oom), Disabled, All SSL ciphers (most compatible), 32KB cache + 32KB IRAM (balanced), Use pgm_read macros for IRAM/PROGMEM, 4MB (FS:2MB OTA:~1019KB), 2, v2 Lower Memory, Disabled, None, Only Sket

[2021-11-12 20:51] nseidle commented on #5875
The way I2C is designed in v2.0.1 [doesn't write any bytes](https://github.com/espressif/arduino-esp32/blob/master/libraries/Wire/src/Wire.cpp#L341) to the bus with an `endTransmission(false)` and instead continues queuing bytes until a `endTransmission(true)`. This seems wrong. I believe you need to put a [`i2c_master_start()`](i2c_master_start) onto the I2C que. I tried to implement this by pass

[2021-11-13 07:02] HaejinYang opened #5881 "EEPROM.commit does not call nvs_commit function. Is it right?"
Board: DOIT ESP32 DEVKIT V1
IDE name: Arduino
Core Installation version: 1.0.4
Computer OS: Windows 10
Upload Speed: 921600
Flash Frequency : 80Mhz

I have a question about implementation of EEPROM.commit method.
I guess that this code call nvs_commit.
But, the code call nvs_set_blob, not call nvs_commit.
And this work fine.

This code is part of EEPROME library in arduino-esp32.
[code]
There is n

[2021-11-13 07:21] TokenThinker commented on #5878
@Jason2866 is there a plan to implement it or is it gone for good? If so what does that timeline look like?

CameraWebServer example

[code]

[2021-11-13 09:55] Jason2866 commented on #5878
This is a question for the maintainers. I just do a modified Arduino framework for Project Tasmota with the https://github.com/espressif/esp32-arduino-lib-builder and noticed in this process that there is no more a compatible  Face Detection version for IDF4.4 It is replaced by https://github.com/espressif/esp-dl which is not implemented in Arduino at the moment.
@me-no-dev Are there plans for?

[2021-11-13 10:39] me-no-dev commented on #5878
@Jason2866 I also recently noticed this. Surely will take a look at it and fix it at some point :)

[2021-11-13 10:44] me-no-dev commented on #5875
@nseidle that was the same in the previous driver. It has to do with the fact that the ESP32 I2C peripheral sends data ONLY when the transaction ends with STOP, so in the case of repeated start, you endTransmission(false) and then you requestFrom to issue the repeated start and send everything to the device. The peripheral requires that and it's not just some weird decision we made.

[2021-11-13 10:46] me-no-dev commented on #5875
Also to say, the devices that I have and use repeated start (also some that others including @ladyada have tested) work fine. I do not have a device to test for stretching (where the device holds SCL low)

[2021-11-13 12:04] raphael-bmec-co opened #5882 "Blocking code on Core 0 slows I2C"
### Hardware:
Board:							ESP32-D0WD-V3 (revision 3) custom board.
Core Installation version:			1.0.5 AND 2.0.0
IDE name:						Platform.io with Clion AND Arduino IDE.
Flash Frequency:					40Mhz.
PSRAM enabled:                                     Either.
Upload Speed:					921600
Computer OS:                                        Windows 10

### Description:
I2C communication slows drastically whe

[2021-11-13 12:57] sblantipodi commented on #5752
latest IDF solved my problem

[2021-11-13 12:57] #5752 closed

[2021-11-13 15:58] TokenThinker commented on #5878
@me-no-dev - You are amazing! If you can let me know as I am building PoC based of example code and parts. Was shocked when it stopped working.

I guess for now I can downgrade to re-enable functionality?

@Jason2866 - Thank you for the info.

[2021-11-13 16:12] SuGlider commented on #5877
@garageeks
Please try this example with Core 2.0.0+
You can change UART port or Modbus slave ID as needed.

Please let me know if ```uart_set_mode(UART_PORT_NUM, UART_MODE_RS485_HALF_DUPLEX)``` solves this issue.

[code]

[2021-11-13 16:20] ladyada commented on #5875
@me-no-dev it might be good to pick up a clock-stretching chip to test against since they are often edge-cases in I2C implemenations. BNO055, PN532, CCS811 are ones you can find easily. i can send you some if there aren't any available where you are at.

[2021-11-13 16:47] #5878 closed

[2021-11-13 20:18] rsmck opened #5885 "WiFiProv BLE Not Working"
### Hardware:
Board:							ESP32
Core Installation version:			2.0.1
IDE name:						Arduino IDE
Flash Frequency:					80Mhz
PSRAM enabled:                                   no
Upload Speed:					921600
Computer OS:                                       macOS

### Description:
WiFiProv simply doesn't seem to work for me at all.

When using the sample Sketch https://github.com/espressif/arduino-esp32/b

[2021-11-14 00:00] GalactusX31 opened #5886 "How to direct download audio to SD from google translator"
Hello everyone, I need to be able to download the audio generated in google translator using the [google_tts library](https://github.com/horihiro/esp8266-google-tts) to an SD card, to create a talking clock for blind people (mostly for my sister), but my limited programming knowledge makes it impossible for me; the links generated are like this:

https://translate.google.com/translate_tts?ie=UTF-8

[2021-11-14 01:19] #5813 closed

[2021-11-14 01:20] #5798 closed

[2021-11-14 07:53] brownrb commented on #2285
I really cannot ask the users out there to hack the arduino core. And when we update again on the nect release, another patch?
I really should not have to do that. It would be better it the issue was fixed "in the core"     On Wednesday, November 10, 2021, 06:37:18 AM GMT+13, pasveer ***@***.***> wrote:

I still use version 1.0.5 but I like to share my fix anyway.

It's a bit of a hack, but it wor

[2021-11-14 11:07] pasveer commented on #2285
I can't agree with you more!

But if something like this flaw (which exists for ~2 years) is messing up your communication protocol, you sometimes need take drastic/creative measures.

And yes, until this is finally solved in a future release... we patch ;-)

[2021-11-14 13:33] Huckies opened #5887 "Use arduino as a component of esp-idf in platformio"
I'm using ESP32 Pico D4 development kit, the IDE is VScode with platformio and I wish to use the idf as well as the Arduino librarys. The system is macOS with almost all libraries installed except the libncurses-dev, I really don't know where to find it.

The situation is: Everything runs well on the default arduino environment created by platformio (the version is blank so I can't tell which exac

[2021-11-14 14:13] garudaonekh commented on #5879
thanks, i already tried to tried to ping the library's owner but no feedback yet.

[2021-11-14 17:00] Paulie92 commented on #3563
@TD-er can you please describe, how it works with the "swap back". Because even if I successfully start the Serial2.begin with 9600 baudrate and then I use another Serial2.begin command with 115200 baudrate it also freezes time to time (probably depanding if the incoming data are currently presented in the time of calling Serial2.begin - I use the UART2 for GPS) So If I use Serial2.begin with the

[2021-11-14 17:12] Jason2866 commented on #5887
You want to use NimBLE in Arduino or as component in IDF?

[2021-11-14 18:59] BararDiHoumes commented on #3325
I were expecting fix for this as well, and after all this time none work on it ? Really ?

[2021-11-15 04:04] mlord commented on #2868
The state transitions from WiFi.status() include some unexpected values mid-connect.  This confuses WiFi.waitForConnectResult() which expects them to be linear, when they are not always so.

I used this loop to wait for a connection, with a 10-second timeout:

#define time_after(a,b)  ((long)(b) - (long)(a) < 0)  // From Linux kernel
  WiFi.begin (ssid, passwd);
  unsigned long timeout = millis()

[2021-11-15 04:28] mlord commented on #2868
On further testing, with a faster "sampling rate", it appears that the status ALWAYS goes to WL_IDLE_STATUS(0) just before it changes to WL_CONNECTED(3).  So these sequences are both very common for me here:
6 ... 0 --> 3
6 ... 4 ... 0 --> 3

[2021-11-15 04:44] mlord commented on #2501
The state transitions from `WiFi.status()` include some unexpected values mid-connect. This confuses `WiFi.waitForConnectResult()` which expects them to be linear, when they are not always so.

I use this loop to wait for a connection, with a 10-second timeout:
[code]
Examples of WiFi state transitions commonly observed by that loop include these two:

`6 0 3:  WL_DISCONNECTED .. WL_IDLE_STATUS ..

[2021-11-15 05:20] leeebo commented on #4423
@ringmybell Thanks for your detailed test result, seems like the same problem in my project... I will ask some Wi-Fi guys for help

[2021-11-15 05:45] Huckies commented on #5887
I used to use it in Arduino but it'll be great if I can use it directly as a component in IDF

[2021-11-15 07:12] Huckies commented on #5887
@Jason2866 By the way would you please tell me how to add an arduino library to the project while arduino it self is imported as a component?(forget platformio I finally made it with esp-idf v4.4 and the arduino-core v4.4)

[2021-11-15 07:51] me-no-dev commented on #5875
@ladyada I ordered BNO055 and CCS811. Will test them when they come and report back

[2021-11-15 08:26] TD-er commented on #3563
What I did was to assign those pins to another serial port, not assign other pins to the same port.

- Serial1: begin with pinX, pinY
- Serial2: begin with pinX, pinY
- Serial1: begin with pinX, pinY

[2021-11-15 08:30] ullix commented on #2501
@mlord A delay of 10 sec is looooong and unnecessary. And anyway, once you are on ESP32 framework 1.0.6 or later, there should be a single-hit connection, and it should be under 3 sec. (which is, however, longer than the total double hitting time was.)

[2021-11-15 08:55] YordanYanakiev commented on #5695
It's not mentioned the SDK version, the device type/name, the code which is used for connecting..

[2021-11-15 09:07] Maksons commented on #4746
@mishaturnbull
Yes, I copy components from esp-idf folder to project's components .
Yes, local one override original one. It is described in :
https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/build-system.html#multiple-components-with-the-same-name

[2021-11-15 10:06] Jason2866 commented on #5887
Yes, the only supported version for actual Arduino is IDF 4.4. To add it just do as for Arduino. Copy to the folder components

[2021-11-15 11:08] YordanYanakiev commented on #2501
Unnecessary ? What do You mean ?
I am waiting more than 12 to 25 seconds to get connected in the recent SDK's.
If You have better solution. Please share it.

[2021-11-15 11:20] ullix commented on #2501
This is an old and long thread. Read it, and you'll find the answers.
Here is part of a log of a recent ESP32 initialization:
[code]
Single hit connection;  took 2.621 sec.

[2021-11-15 11:39] gitcnd commented on #3921
It might actually be a software problem?  When the QMC chips replaced the HMC ones for magnetometers, minor subtle code adjustments were needed.  Chips that are MARKED DIFFERENTLY but serve as replacements for other chips, are not per-se "counterfeit".  What were the markings on the chip that you had problems with, and what were the ones on the "original" that you found to work ?  (Your photo is n

[2021-11-15 11:44] YordanYanakiev commented on #2501
I have read it multiple times, none results, aside I have this issue much early than this thread. None fixes up to now.

[2021-11-15 12:08] mlord commented on #2501
It's not a "delay", but rather a failsafe "time out".  So if it connects any time before 10 seconds is (just like with  `WiFi.waitForConnectResult()`, by the way), the loop exits immediately.

[2021-11-15 12:10] mlord commented on #2501
I've read all of the threads, and found the bug in `WiFi.waitForConnectResult()` as well.  There are no "answers" other than "don't trust the order of state transisitions".  Thus the code I've posted.

[2021-11-15 12:28] muzahid13 opened #5889 "321 byte data packet receiving with UART2 Interrupt"
we are trying to receiving 321 byte data packet from a device over ESP32 UART2 interrupt. we didn't get more than 120 byte data. 321 byte Data length got divided into 120 byte segment.  please check our Arduino IDE code below. Thank you.

//This is the code below
#include "driver/uart.h"
hw_timer_t * timer = NULL;
#define NUMERO_PORTA_SERIALE UART_NUM_2
#define BUF_SIZE (1024 * 2)
#define RD_BUF_S

[2021-11-15 12:40] P-R-O-C-H-Y commented on #5567
I think it might be more HW related. For me it is working in Arduino.
Does your model needs 3.3V or 5V power? What about pull-ups resistors on used pins connected to SD card?
What module are you using?

Sample code runs fine.
[code]

[2021-11-15 12:41] pedrominatel opened #5890 "[Docs] Add supported SoC table link to README"
Add the supported SoC list link on README.

https://docs.espressif.com/projects/arduino-esp32/en/latest/getting_started.html#supported-soc-s

[2021-11-15 12:46] VojtechBartoska commented on #5765
@dfrobotjw Can I consider this solved?

[2021-11-15 12:48] VojtechBartoska commented on #5432
@savagerex Hi, can I considered this as solved?

[2021-11-15 12:50] P-R-O-C-H-Y commented on #5843
@tientu0001 Can you add more info that I asked before?

[2021-11-15 12:52] VojtechBartoska commented on #5889
@SuGlider Please take a look on this issue regrading UART.

[2021-11-15 13:09] chegewara commented on #5889
How is it related to arduino? This is pure esp-idf code.

[2021-11-15 13:39] SuGlider commented on #5889
My two cents:

```uart_get_buffered_data_len(UART_NUM_2, (size_t*)&UART2_data_length)``` is an IDF call that will return  number of bytes available in the Rx FIFO buffer, which is limited to 128 bytes. Thus, most problably this is why your sketch is limited to 120 bytes.

[2021-11-15 15:19] #5890 closed

[2021-11-15 16:07] Huckies commented on #5887
@Jason2866 It works now, thank you for being so kind!

[2021-11-15 16:07] #5887 closed

[2021-11-15 16:31] muzahid13 commented on #5889
Thanks for your comments,  understand now. Can you please help how can i read the 321 byte at a time. Which function need to use here. Please help.

[2021-11-15 19:43] khoih-prog opened #5892 "ESP32 Core v2.0.1 / 2.0.1 RC1 crashes if using float in ISR"
Core ESP32 Core v2.0.1 / 2.0.0 crashes if using float inside ISR. No issue with core v2.0.0-

This creates issue with some ESP32 TimerInterrupt-related libraries, such as mentioned in [ESP32_New_TimerInterrupt Important Notes](https://github.com/khoih-prog/ESP32_New_TimerInterrupt#Important-Notes)

With the following simple sketch, it's working OK if using

[code]
but crashes if using

[code]
---

[2021-11-15 19:47] chegewara commented on #5892
There is few topics on forum about this and it is not arduino related. Here is just few:
https://esp32.com/viewtopic.php?t=1292
https://esp32.com/viewtopic.php?t=1292&start=10
https://www.esp32.com/viewtopic.php?t=831

[2021-11-15 19:54] khoih-prog commented on #5892
Thanks @chegewara. I'll use double instead.
But why it's OK with core v1.0.6- ?

[2021-11-15 19:56] chegewara commented on #5892
A bug? optimization?
It has something to do with esp-idf, but as you can see the first problems with float in ISR are dated at 2016, so you just got lucky it worked in 1.0.6.

[2021-11-15 20:10] visicon-masc commented on #2526
I can confirm this behavior still exist in 2021.

Environment:
PLATFORM: Espressif 32 (3.3.2)
PACKAGES:
 - framework-arduinoespressif32 3.10006.210326 (1.0.6)
 - tool-esptoolpy 1.30100.210531 (3.1.0)
 - tool-mkspiffs 2.230.0 (2.30)
 - toolchain-xtensa32 2.50200.97 (5.2.0)

Behavior: `settimeofday` adds "sometimes" 1073 seconds.

[2021-11-15 20:17] khoih-prog commented on #5892
I don't believe in luck at all. But we have to accept the reality that some mods in esp-idf (and/or core v2.0.0+) disrupted the float usage in ISR. Good to know.

Thanks anyway,

[2021-11-15 20:52] me-no-dev commented on #5892
there was something we had to do to get it working. I'll ask around to see if anyone has a clue what was the fix.

[2021-11-15 21:21] sixtyfive commented on #4233
It seems #5183 is the official place for this now.

[2021-11-15 21:22] sixtyfive commented on #3324
Referencing #5183.

[2021-11-15 21:48] khoih-prog commented on #5892
Thanks,

There is a possible link [**here**](https://github.com/espressif/esp-idf/commit/86034ad0491bcc0beedba2c0250552a6c0b04d5f)

[2021-11-16 00:11] SuGlider commented on #5889
Try this code:

[code]

[2021-11-16 01:14] Huckies opened #5893 "Missing BT libraries(or not disabled properly)"
The board is PICO-KIT-D4 V4.1, using ESP-IDF release v4.4 and arduino-core idf-release v4.4 as a component.

What I have done was moving the sdkconfig file from /components/arduino/tools/sdk to / (the root of project). My operation system is MacOS.
An additional NimBLE library "18 March 2020 - Apache NimBLE v1.3.0" is add to /components with a CMakeLists so that it's compiled.

I do check the menu

[2021-11-16 02:15] halyssonJr commented on #5855
@pedrominatel, submit PR  #5894 !

[2021-11-16 04:08] marchingband commented on #5858
@me-no-dev @chegewara any ideas?
Can we mark this as a bug?
I can't be the only person who needs the himem API to work...

[2021-11-16 05:24] savagerex opened #5895 "about wpa-enterprise test"
about wpa-enterprise test

i use radius server to setup "hostapd.conf" file.

how to use this parameter (#eap_reauth_period=3600) .

below is the website.

http://w1.fi/cgit/hostap/tree/hostapd/hostapd.conf?h=hostap_2_4

[2021-11-16 06:21] ismavg commented on #5567
It is a custom board with an esp32 and sd card slot onboard. 3.3V converter on board. everything work fine in idf so i don't think it is a hardware issue.

[2021-11-16 06:46] VishalGMeshram37 commented on #2731
Hello Everyone
I am Vishal, i am facing the problem with ESp32 cam. I have installed ESP32 version2.0.1, but was not able to detect or recognise the face,  I have used the ESp32 Cam model with FTDI convertor, and Blue Downloading cable which is recomended, i have also installed every version of ESP32 ( fromver 1.0.1 to 2.0.1),  but apart from video streaming nothing is happening, please suggest th

[2021-11-16 07:15] VojtechBartoska commented on #5887
Similar to #5819

[2021-11-16 07:18] VojtechBartoska commented on #2526
@visicon-masc Can you please try it with the latest [2.0.1 release](https://github.com/espressif/arduino-esp32/releases/tag/2.0.1)? Thanks!

[2021-11-16 07:24] me-no-dev commented on #5892
@khoih-prog I will turn on that option and soon have it in master branch for the next release :)

[2021-11-16 08:25] pedrominatel commented on #5855
Please, fix the issues on this PR that I already mentioned there.

[2021-11-16 08:37] xgarb commented on #2731
There's no detection or recognition in 2.0.1. Definitely works in 1.0.4. Maybe you need more light on your face or a different distance from the camera.

[2021-11-16 08:59] me-no-dev commented on #2731
something have changed in the API of the face recognition lib. Will update the example and make it work

[2021-11-16 09:04] visicon-masc commented on #2526
@VojtechBartoska Thanks for your fast reply.
I'd love to switch to the new 2.0.1 release, but I think it is not that easy. I'm using platformio as IDE. [https://github.com/platformio/platform-espressif32/issues/619](https://github.com/platformio/platform-espressif32/issues/619#) tells me, that there are still flaws. I updated PLATFORM to Espressif 32 (3.4.0), but this does not change behaviour.

I

[2021-11-16 09:57] chegewara commented on #5893
Did you try to use nimble library without changing this option?
As arduino has enabled bluedroid by default and we can use nimble library (3rd party), i think it can work also in version with as component.

[2021-11-16 10:23] VojtechBartoska commented on #2526
@visicon-masc You are right, 2.0.1 version is not yet supported by PlatformIO. Thanks that you will find your way around and give it a shot with different IDE e.g.

[2021-11-16 10:33] Huckies commented on #5893
@chegewara Can you please introduce the way of using 3rd party nimble library? Should I set the bluetooth host in menuconfig to bluedroid?

[2021-11-16 10:37] chegewara commented on #5893
Just do not change bluetooth config and use the same arduino-esp32 is using.
Then use library https://github.com/h2zero/NimBLE-Arduino the same way as other components, you will have to add CMakeLists.txt or check how it is enabling nimble support and use esp-idf nimble.

I didnt test nimble with arduino as component, but it works to me on pio with arduino framework and there is a lot people using

[2021-11-16 11:10] garageeks commented on #5875
I have a CCS811 sensor and a PN532 card reader laying around, I can test it if you could provide some directions.

[2021-11-16 11:20] garageeks commented on #5877
Dear @SuGlider ,
In my application I added your suggestion as follows
[code]
It didn't accept an integer as first parameter of the function. I assumed UART_NUM_2 is the valid one for Serial2.

However on 2.0.1 it still doesn't communicate with the MODBUS device.

[2021-11-16 11:33] TD-er commented on #5875
Hm I don't recall that the CCS811 was particularly tricky to address.
I will try to hook them up on a node, along with the logic analyser attached to it.

Is it possible that the latest code now also has some functionality added to get out of a hung I2C bus?
Maybe clock stretching can also be triggering the procedure to clear the bus?
Does 2.0.1 now have a  proper function to set a clock stretch l

[2021-11-16 12:05] atanisoft commented on #5892
@khoih-prog Do you have a C3/S2 that you can test your minimal sketch with to confirm if they crash similarly?

@me-no-dev that flag appears to be ESP32 specific so it may introduce discrepancy between platform support.

[2021-11-16 13:12] me-no-dev commented on #5875
timeout has a slightly different meaning here. it's the amount of time to wait on the bus to complete the transaction. 8266 has software I2C library, so things there are different :)

[2021-11-16 13:22] chegewara commented on #5893
NimBLE is BLE only library, so no classic bluetooth and for the same reason it is smaller in usage, both, flash and ram.

[2021-11-16 13:46] Huckies commented on #5893
I was comparing the nimble library carried in esp-idf and the one made by h2zero and the later seems to be thinner. What so ever, the problem is gone now, thanks for your explaination @chegewara .

[2021-11-16 13:46] #5893 closed

[2021-11-16 16:10] pedros89 commented on #5802
I have tried to print the string to the serial monitor with .
`Serial.println(WEBPAGE);`

The error I got is
`E (49837) uart: uart_write_bytes(1159): buffer null`
Basically my string is too long because with other shorter strings I don't have that error, my string  is about 60k characters

I have looked at the `webserver.send()` function ([here](https://github.com/espressif/arduino-esp32/blob/5de0

[2021-11-16 18:03] igrr commented on #5892
Note that using floats in ISRs shouldn't be a problem on S2 or C3 because neither have a hardware floating point unit. However this might be an issue on the ESP32-S3 (same way as it is an issue on the ESP32).

[2021-11-16 20:12] wjxway commented on #2885
Need this feature too... If this is possible then I can do super high-speed SPI. currently, there is a long 'wait' time between consecutive SPI transfers.

[2021-11-16 21:17] visicon-masc commented on #2526
There where a few things a had to change to get the new release compiling...

I started with [this](https://github.com/platformio/platform-espressif32/issues/619#issuecomment-970215450) to get it working with platformio ide.

Changes I had to do:

- .platformio\packages\toolchain-xtensa-esp32\xtensa-esp32-elf\include\c++\8.4.0\bits\locale_facets_nonio.tcc:773:21: error: #if with no expression
-> c

[2021-11-17 00:42] HarborDesigns opened #5897 "ESP32 HSPI/ JTAG conflicts with serial port"
I am using Arduino IDE (1.8.16) on Windows 10 OS. Arduino-ESP32 board library (2.0.1). I have custom board with ESP32 Wroom module.

I am trying to interface micro SD card with ESP32 Wroom HSPI pins. I have to power cycle my board to flash code and then again power cycle to restart serial port. The program flashing works fine if the SD card is not inserted. It is something which doesn't makes sens

[2021-11-17 01:50] #5802 closed

[2021-11-17 03:29] #5843 closed

[2021-11-17 08:57] felmue commented on #5897
Hello @HarborDesigns

AFAIK MTDI/GPIO12 is used as strapping pin which by default determines the voltage (high -> 1.8 V or low -> 3.3 V) used for the integrated flash chip.

Thanks
Felix

[2021-11-17 10:17] DigKleppe opened #5899 "cannot use arduino libs, reports version 5.0.0 of the idf. (IDFGH-6250)"
WIth the master branch cmake reports 5.0.0 instead of 4.4(?)
The latest release is 4.0.4 ( not 4.4 ? i am a little confused)
With this release  also troubles: (I have copied arduino in the idf folder)
`  CMake Error at
  /home/dig/esp/esp-idf-v4.0.4/components/arduino/CMakeLists.txt:14
  (message):

    Arduino-esp32 can be used with ESP-IDF versions between 4.4.0 and 4.4.99,
    but an older vers

[2021-11-17 10:30] igrr commented on #5899
Hi @DigKleppe, ESP-IDF v4.0.4 is the last bugfix update for ESP-IDF v4.0. ESP-IDF v4.3.1 is the latest stable release of ESP-IDF at time of writing.
ESP-IDF v4.4 has not been released yet, but there is a release/v4.4 branch where this release is being prepared.
You can learn more about different ESP-IDF versions (including stable releases, pre-releases, and release branches) here: https://docs.esp

[2021-11-17 13:15] RoCorbera commented on #5897
@HarborDesigns
As @felmue said, there are some pins that ESP32 read or write on boot time.
This tutorial may help you on this matter: https://randomnerdtutorials.com/esp32-pinout-reference-gpios/

From this table you will see which pins are used on boot time:
![image](https://user-images.githubusercontent.com/5312207/142207523-def48ff6-a9bc-4624-97ee-47ae8fc62ca5.png)

[2021-11-17 13:21] HomeMade-Channel opened #5900 "HSPI not working"
### Hardware:
Board:							?ESP32 Dev Module?
Core Installation version:			?2.0.1?
IDE name:						?Arduino IDE?
Flash Frequency:					?40Mhz?
PSRAM enabled:                                    ?yes?
Upload Speed:					?115200?
Computer OS:                                        ?Windows 7?

### Description:
Hello everyone!
I'm trying to use HSPI (GPIO 12, 13, 14, 15), but I ran into a problem, data i

[2021-11-17 15:20] HarborDesigns commented on #5897
@felmue and @RoCorbera thanks I will use 10K pull down for GPIO12 on boot but do you have any explanation why for reading and writing text file on SD card [example code from RandomNerdTutorial](https://randomnerdtutorials.com/esp32-microsd-card-arduinos/) works and other [example to write JSON file fails](https://www.mischianti.org/2020/01/26/manage-json-file-with-arduino-and-esp8266/). In both ca

[2021-11-17 15:45] TrikkStar opened #5901 "WiFiClient.h 'PGM_P' has not been declared"
Attempting to use the `WiFi.h` lib and am getting a compile error with one of its dependencies.

Running ESP-IDF v4.4-dev-3569-g6a7d83af19 and using version 2.0.1 of this component.

### Debug Messages:
[code]

[2021-11-17 16:14] ppescher commented on #5781
I found the same memory leak happens when verification fails, but possibly for many other reasons after review of the source code.
I'm currently testing a fix, I will be back with my findings later.

[2021-11-17 16:27] chegewara commented on #5901
Please check if you have this file:
https://github.com/espressif/arduino-esp32/blob/2.0.1/cores/esp32/pgmspace.h

[2021-11-17 16:45] TrikkStar commented on #5901
I do. Looks like if I include that, or `Arduino.h`, before `WiFi.h` it'll compile just fine.

[2021-11-17 19:44] HarborDesigns commented on #5897
I think I resolved the issue. Part of my problem was the GPIO12 and part of it was initiation of HSPI in my code.

I basically still have to power cycle if the GPIO12 function was changed during the operation. For eg. If I have to flash code but I am using GPIO12 for SD_MISO then I have to power cycle. Upon new power cycle pull down the GPIO12 with 10K resistor and keep it low until code is flashe

[2021-11-17 19:45] #5897 closed

[2021-11-17 20:18] Andr1961 commented on #4980
Hi,
the same if the version is older than 1.04 ESP32, then it connects to the router for a very long time or cannot connect at all,
but version 1.02 is faster than 1.04.

[2021-11-17 23:29] daxliniere opened #5902 "Erase Flash options are missing from Tools menu for ESP32 Dev Module (and others?)"
### Hardware:
Board:							ESP32 Dev Module
Core Installation version:			1.0.6
IDE name:						Arduino IDE
Flash Frequency:					80Mhz
PSRAM enabled:                                     no
Computer OS:                                         Windows 10

### Description:
For ESP8266 devices, we have Erase Flash options in the Tools menu. These are not present when using my ESP-WROOM-32 (38-pin dev mo

[2021-11-18 03:33] Lawrence-RedFern commented on #5872
It appears to be related to the PSRAM... I'm still not 100% sure why this fixes it, as no other camera example include this line. I had further issues after this but this atleast fixed the core dump problem.

cpp```
// Place this line before the initialisation of the camera!
byte* psram_buffer = (byte*)ps_malloc(500000);
[code]

[2021-11-18 03:33] #5872 closed

[2021-11-18 03:56] alfonso18martin commented on #1458
alguien lo pudo hacer????.... el codigo pin

[2021-11-18 11:54] VojtechBartoska commented on #5899
same as #5819

[2021-11-18 12:48] VojtechBartoska commented on #2885
We will consider this issue when we will work on RMT refactoring to use ESP-IDF API, no time-frame yet.

[2021-11-18 13:33] VojtechBartoska opened #5904 "Change Timer to use ESP-IDF API"
This issue is tracking refactoring of Timer to use ESP-IDF API.

- [ ] evaluate the current state
- [ ] include all related issues
- [ ] propose the solutio

Consider and evaluate these related issues:
- #5782
- #5544 (no response from author yet)

[2021-11-18 13:42] VojtechBartoska opened #5905 "Change RMT to use ESP-IDF API"
This issue is tracking refactoring of RMT to use ESP-IDF API.

- [x] evaluate the current state
- [x] include all related issues
- [x] propose the solution

Related issues:
- #2885

[2021-11-18 14:20] VojtechBartoska commented on #5544
@mjkdz Do you have any update to this issue? If not, I will close it in few days.

[2021-11-18 14:47] VojtechBartoska commented on #5363
@AtefMohamed Any updates?

[2021-11-18 14:48] atanisoft commented on #2885
@VojtechBartoska this is also reproduced using the IDF API per @Makuna.

[2021-11-18 14:49] VojtechBartoska commented on #5472
@dibalavs Any updates or can I consider this as solved?

[2021-11-18 14:50] VojtechBartoska commented on #5667
@imwhocodes Did you test your code with the latest version 2.0.1? :)

[2021-11-18 14:54] VojtechBartoska commented on #5876
@ShenRen Up to the last comment of @SuGlider. Can I consider this as solved or do you face some more problems? :)

[2021-11-18 16:17] discapacidad5 commented on #1815
Hi, I'm also looking for how to connect the esp32 to a buetooth keyboard without success. I still think it's the same problem.

[2021-11-18 19:17] star297 commented on #2501
There is a defect (or to be polite, a characteristic) in the silicon on the ESP32.
The physical registers in the Wi-Fi processor do not fully reset to initial power on state using soft instructions.
There are many problems due to this, the thread mentioned here and as I experienced, intermittent refusal to connect to various AP's and when it does connect the whole system becomes sluggish.

My prob

[2021-11-18 19:19] tablatronix commented on #2501
I use to be able to model and test this, we had 40+ 2.4ghz aps, but my work switched everything to 5ghz , but I do remember issues like this in that enviroment, i thought maybe it had something to do with the auto cal on boot.

[2021-11-18 20:44] swanny101 opened #5906 "I2C Slave data stale"
### Hardware:
Board:							Teyleten Robot ESP32S ESP32 ESP-WROOM-32
Core Installation version:			2.0.1
IDE name:						Arduino IDE
Flash Frequency:					N/A
PSRAM enabled:                                    N/A
Upload Speed:					115200
Computer OS:                                        Windows 10

### Description:
When operating in slave mode reading from the ESP32 results in stale data. I believe

[2021-11-18 20:46] swanny101 opened #5907 "I2C Slave - onRequest called for all I2C slave addresses"
### Hardware:
Board:							Teyleten Robot ESP32S ESP32 ESP-WROOM-32
Core Installation version:			2.0.1
IDE name:						Arduino IDE
Flash Frequency:					N/A
PSRAM enabled:                                    N/A
Upload Speed:					115200
Computer OS:                                        Windows 10

### Description:
When an I2C master issues a read request from a slave onRequest gets called even if t

[2021-11-18 21:06] TD-er commented on #2501
So I get that pulling the EN pin to reset isn't the fix here?

[2021-11-19 01:07] Kakomis commented on #1271
Hi @philipn7 ! my setup consist in ESP-WROOM-32  + USB Mini v2.0 DuinoFun + Sparkfun Scanner. If a valid code is scanned, the ESP32 will turn a relay on for 2 sec. I based on the acm_terminal example, but after a while communication stops and Acm.isReady() condition is false for ever, unless it is reset. Do you know what could be the reason? Relay is the common 5v relay module, which is on GPIO 26

[2021-11-19 01:29] fuadlotfisoltan commented on #1271
Yes,I can halpe you.give me your number

On Thu, Nov 18, 2021, 8:08 PM Gabriel ***@***.***> wrote:

[2021-11-19 09:53] hicham-vv opened #5908 "Using Hardware Serial 0 ESP32"
### Hardware:
Board:							esp dev kit v4
IDE name:						Platform.io
Flash Frequency:					40Mhz
Upload Speed:					115200

### Description:
Hello i am trying to use Hardware Serial 0 to communicate with another device, but it doesn't  work, as default hardware Serial 0 is used to communicate with the esp32 for programming and during reset/boot, i don't know if its that the problem or there is somet

[2021-11-19 09:55] me-no-dev commented on #5906
This is limitation of the ESP32 I2C hardware. It can not clock stretch, so it can not hold the bus in onRequest for you to fill the FIFO. That is why on ESP32 you need to preload the FIFO for reading before the master actually reads. This should work as expected on ESP32-S2 and ESP32-C3 (and future chips).

[2021-11-19 09:55] #5906 closed

[2021-11-19 09:57] me-no-dev commented on #5907
can you provide minimal code that shows how you setup the Slave? What device is the master?

[2021-11-19 09:59] me-no-dev commented on #5908
Could you please explain a bit better what you are doing? Connecting what to Serial0 how? You can use other pins for Serial0 if the USB UART chips is giving you headaches :)

[2021-11-19 10:00] hicham-vv commented on #5908
i am connecting a sensor to uart 0 via two wires TX 0 and RX 0

[2021-11-19 10:03] hicham-vv commented on #5908
i removed the usb uart chips to see if the problem from there but still got the same issues " no communication "

[2021-11-19 12:33] SuGlider commented on #5908
@hicham-vv
In order to better assist you, could you please run this code in order to get more information about your board and development environment.

[code]

[2021-11-19 12:36] MikeKnife commented on #2501
TD-er!

You are absolutely right! All the ESP32-WROOM that we tested had these issues.
As for many applications toggling the power is not really an option we switched to the TTGO T7. See my posting of October 15th. The V1.3 (still available) has the same pinning as the ESP32-Mini (WEMOS-D1-Mini Size), but - pay attention - the V 1.5 has a slightly different pinout (IO 16 and 17 are reaplaced (and

[2021-11-19 12:36] hicham-vv commented on #5908
Internal Total heap 402248, internal Free Heap 376776
SPIRam Total heap 0, SPIRam Free Heap 0
ChipRevision 1, Cpu Freq 240, SDK Version v3.3.4-432-g7a85334d8
Flash Size 16777216, Flash Speed 40000000

[2021-11-19 12:41] TD-er commented on #2501
Do you happen to know the chip model revisions of the units you tested?  (e.g. `ESP32-D0WDQ5` and chip revision)

[2021-11-19 12:41] hicham-vv commented on #5908
I can't use other pins, all the pins are used, i have only the uart 0 available, i need it only fo flashing a new program after that i need it to communicate with the sensor

[2021-11-19 12:42] SuGlider commented on #5908
@hicham-vv
Thanks for the fast answer.
From the information you provided, I can tell you are using PlatformIO with Arduino Core 1.0.6 and IDF 3.3.

[2021-11-19 12:43] hicham-vv commented on #5908
i am using PlatformIO

[2021-11-19 12:49] SuGlider commented on #5908
Your question is about changing pins for UART0?

[2021-11-19 12:50] SuGlider commented on #5908
OR you can use pins 1 and 3 but you just need to change UART mode (baudrate, parity, stopbits etc)?

[2021-11-19 12:51] hicham-vv commented on #5908
no i can't change pins for uart 0 ,  can the wires from the sensor are connected to uart 0 " GPIO 1 and GPIO 3 "

[2021-11-19 12:51] SuGlider commented on #5908
So What is exactly your need?

[2021-11-19 12:52] MikeKnife commented on #2501
The one, that is just here sitting on my desk reports:

This chip has 2 cores
Chip ID: 6962137
ESP32 Chip model = ESP32-D0WDQ6 Rev 1

MK

[2021-11-19 12:53] hicham-vv commented on #5908
exactly i need to communicate via UART 0,  " Serial 0"

[2021-11-19 12:53] hicham-vv commented on #5908
i just wanna know if its possible or not

[2021-11-19 12:55] SuGlider commented on #5908
Yes, it is 100% possible.
Just use ```Serial.xxxx()``` following Arduino API.
Connect RX to TX for each device (ESP32 and your sensor).

[2021-11-19 12:59] SuGlider commented on #5908
Can you provide the code used to communicate youe sensor with Serial2, for instance?

[2021-11-19 12:59] hicham-vv commented on #5908
yes that what  i wrote but my bad, it's not worked :(

[2021-11-19 13:03] SuGlider commented on #5908
Can you provide the code used to successfully communicate your sensor with Serial2, for instance?

[2021-11-19 13:06] hicham-vv commented on #5908
`

    bool setupNano(){
    nano.msg[0]=1;
    nano.begin(Serial2);
    Serial2.begin(115200);
    while(!Serial2);
    delay(500);
    while (Serial2.available()) Serial2.read();
    delay(500);
    if (nanoSetTagProtocol()){
          return true;
     }else {return false;}
    }

`

[2021-11-19 13:14] SuGlider commented on #5908
The main difference from Serial to Serial2 and Serial1 is that Serial is used to send boot information and error/debug messages when it 's enabled to do so.

Try this code:

[code]

[2021-11-19 13:20] hicham-vv commented on #5908
its not worked, :( i think  we need to set the baude rate speed

[2021-11-19 13:26] star297 commented on #2501
We use WROVER-B ESP32's as fitted to the TTGO-PCIe module that this is mounted on our own PCB.
But I think this or these problems happens to most devices in differing ways.
At the moment I have several devices in a remote location that are waiting for a power cycle reset due to the wifi lockout.
We have GSM contact with and can perform a soft reboot but that does not clear the problem hence a more

[2021-11-19 13:27] asier70 opened #5909 "ESP32-C3 too much current consumption"
### Hardware:
1. ESP32-C3-WROOM-02 XXH4 @80MHz
2. ESP32-WROOM-32D @80MHz

IDE:   arduino 1.8.16
library:  arduino-esp32 ver 2.0.1 (ver 2.0.0)
application:  based on "BLE_uart.ino" (examples from the library)

### Description:
Measured power supply current consumption:

1. ESP32-C3:      77mA (81mA for ver 2.0.0)
2. ESP32:            31mA (31mA for ver 2.0.0)

In my opinion for this BLE application

[2021-11-19 13:36] SuGlider commented on #5908
OK. It makes a lot of sense to set it up correctly with the right parameters.
Those are the functions you can use with Arduino Core 1.0.6 (PlatformIO):

[code]

```uint32_t config``` can be one of these (for number of bits, parity and stop bits - default is ```SERIAL_8N1``` - 8 bits, No parity, 1 stop bit):
[code]

[2021-11-19 13:44] hicham-vv commented on #5908
@SuGlider i already did that :(   ....
can you tell me how to force state of TX0 pin " GPIO 3 "  from HIGH to LOW  before Serial.begin() ,??

i tryed pin Mode output and digitalWrite LOW but nothing happend

[2021-11-19 13:57] SuGlider commented on #5908
Maybe runing ```Serial.end()``` before trying to use ```pinMode()``` and ```digitalWrite()```.

Please remember that UART0 is used by boot software to send information when ESP32 starts up.
Not sure if this "boot serial data" may set your sensor in a wrong state right in the bootup, when using UART0.

As alternative, you may want to use Serial2 with other pins than 16 and 17.

[2021-11-19 14:00] swanny101 commented on #5907
Sure. I was using a Total Phase Aardvark for my master.

#include "Wire.h"
#include "pins_arduino.h"

#define I2C_DEV_ADDR 0x40

char regs[256] = "0";
int LED_BUILTIN = 2;

uint32_t i = 0;

char readVal = '0';
int dataReady = 0;
char counter = 0;

void onRequest()
{
  char buffer[30];
  if(dataReady == 1)
  {
    sprintf(buffer,"Sending %x",readVal);
    Serial.println(buffer);
    counter = count

[2021-11-19 14:02] hicham-vv commented on #5908
Ok thank you anyways ...

[2021-11-19 14:03] me-no-dev commented on #5875
Clock stretching fix: https://github.com/espressif/arduino-esp32/pull/5910

[2021-11-19 14:14] swanny101 commented on #5906
So should another issue be opened against this or this one re-opened? Since onReceive does not process slaveWrite's there isn't a way to preload the FIFO for the ESP32's.

[2021-11-19 14:17] me-no-dev commented on #5906
why do you think that onReceive does not process slaveWrite? Did you try to give it some time between master write and read?

[2021-11-19 14:21] SuGlider commented on #5908
You may also want to try using Arduino Core 2.0.1 to verify is this issue also occurs.

[2021-11-19 15:02] PlanetaryGear commented on #2501
For those that are upset with waiting too long to connect who are also using WiFi Multi remember that it is necessary for it to do a wifi scan to find the network that it is configured for that has the best RSSI. This doubles or triples the amount of time necessary to connect, but gives you the option of having more than once choice. If you want to connect faster just connect directly to a single

[2021-11-19 15:08] mlord commented on #2501
Scanning takes less than a second for me here.
As for the "sporadic" failures to connect -- those are due to bugs in the WiFi state transition sequence.   My post above shows how to 100% avoid that particular problem.
https://github.com/espressif/arduino-esp32/issues/2501#issuecomment-968534842

[2021-11-19 15:16] swanny101 commented on #5906
Because I reviewed Wire.cpp. Timing wise I was using Total Wire's Aardvark test program so times between writes and reads was in the order of seconds to 10's of seconds.

**size_t TwoWire::write(uint8_t data)**
Pushes data to txBuffer and increments txLength

**TwoWire::onReceiveService**
Doesn't reset the length of that buffer nor does it check the length of the buffer to see if wire->slaveWrite

[2021-11-19 15:17] tablatronix commented on #2501
Thats literally just another timeout loop, as already posted countless times. no one is waiting 10 seconds for a timeout.
Why the SDK throws concurrent or race condition disconnects is what needs to be investigated and fixed.

That is why we do short aborts and retries instead.

[2021-11-19 15:21] mlord commented on #2501
It never waits 10 seconds.  It exits the loop as soon as it connects, usually under 1 second, but as long as 4 seconds for me here.  The 10-second limit was chosen simply because that's what the buggy supplied `WiFi.waitForConnectResult()` function uses as a timeout.  If it bugs you that much, change it to something shorter.

[2021-11-19 15:42] mlord commented on #2501
Some of that 1-4 seconds of connect time includes negotiation with the remote DHCP server after the WiFi itself is connected.  One must allow for that too, unless using Static IP configuration.

[2021-11-19 15:54] caternuson commented on #5875
Just tested those changes with the ESP32 / SCD30 combo that was previously failing. It is now working.

[2021-11-19 16:41] nseidle commented on #5875
![image](https://user-images.githubusercontent.com/117102/142657619-51ed49e3-23fb-4a44-b2e3-ed1300da049b.png)

ESP32 with u-blox works great. Clock stretching looks fixed. And unless I'm mistaken, the writes with repeated start issue is also alleviated. I still understanding how fix #5910 affects this but either way, the communication looks great. Thanks @me-no-dev.

[2021-11-19 16:43] me-no-dev commented on #5875
It should not do anything for multiple repeated starts, but stretching and other timing related issues should be fixed :) merging...

[2021-11-19 16:44] #5875 closed

[2021-11-19 18:01] star297 commented on #2501
I'm still using ESP32 board OS version 1.0.6.
I did update to 2.0.1 but found problems using the PubSub library and appeared to use more flash space so dropped back to 1.0.6.
Has anyone using 2.0.1 found any improvement with Wi-Fi stability?

[2021-11-19 18:50] #5892 closed

[2021-11-19 18:58] SuGlider commented on #5908
Not sure about what you want to do, but there is an inverted mode in UART.
Inverting would set the idle UART state to 0v instead of 3.3v (UART default behavior).

```Serial.begin(begin(unsigned long baud, uint32_t config, int8_t rxPin, int8_t txPin, *bool invert*, unsigned long timeout_ms);```

[2021-11-19 19:26] hicham-vv commented on #5908
i will try that  👍  because the sensor datasheet said that  the UART RX Serial input, 3.3V logic. Must be
low when module is powered on or off.
i will tell you if it's worked or not
Thank you

[2021-11-19 19:32] hicham-vv commented on #5908
it convert Tx too ? or it work only for Rx pin

[2021-11-19 19:41] TD-er commented on #2501
And there is probably a part of your problem.
The minimal scan period per channel (for active scanning) should be 100 msec to give all APs a chance to reply.
But even then you may need to scan a few times to see (almost) all APs.
Problem is that you need to collect the scan results yourself between scans and then pick the ones you can use.

@star297
I have tried 2.0.1 and regarding WiFi, there is

[2021-11-19 19:56] SuGlider commented on #5908
```Serial.begin(....)``` with ```invert``` as ```true``` will invert the pins that are not equal to ```-1``` (which means to use default pin number).

### Examples (that work for Arduino Core 1.0.6 with PlatformIO):

```Serial.begin(9600, SERIAL_8N1, -1, 1, true);``` -- RX will **NOT** be inverted and will use default pin 3, **BUT TX** (set as pin 1) will be inverted because it is not ```-1```.
``

[2021-11-19 20:00] hicham-vv commented on #5908
allright 👍  i will try that and i will let you know the result , i hope it work

[2021-11-19 20:03] SuGlider commented on #5908
Humm...
Not sure that UART_0 will work in that case beacuse, as I said, pin 1 (default TX) will send a lot of debug messages in boot time.
Your sketch will start executing only after those messages are already sent out.
This may diturb the initial setup of your sensor.

These boot messages may be the reason for having trouble with using UART_0 for this sensor...

[2021-11-19 20:22] tablatronix commented on #2501
That has always been the case and is also why sta_ap mode is super unstable, rule of thumb has always been do not wifiscan in sta mode, I am surprised the sdk lets you

[2021-11-19 20:24] mlord commented on #2501
The WiFi here has NO problems now that I use the loop posted.  Scanning is working just fine and correctly identifies the networks I use it with.

The note about 2.0.1 and scanning is interesting.  The behaviour you describe for "horrible performance" is something I do see from time to time after a reset (but not a fresh power-on), and could be the same or similar to what MikeKnife reports on 1.0.

[2021-11-19 20:28] TD-er commented on #2501
I never made it exclusive in my code, to not scan while being connected.
But since 2.0.1 it really is a problem.
Took me quite a lot of hours debugging to find it, as my project was always allowing to scan when being connected.

N.B. I made sure the node would not perform auto reconnect and at boot, the WiFi was turned off before turning on to connect.

[2021-11-19 21:23] tablatronix commented on #2501
What project is that, I would love to see it

[2021-11-19 21:29] TD-er commented on #2501
@tablatronix Just to see the differences, you may have a look at the PR I was working on to make 2.0.1 work with WiFi: https://github.com/letscontrolit/ESPEasy/pull/3845

The reason it isn't done yet is that I am running into build issues where the linker command line exceeds 32767 characters. (again...)

[2021-11-19 21:55] hicham-vv commented on #5908
my bad it not worked :( :( :(

[2021-11-20 11:00] AcuarioCat opened #5912 "ESP-C3-12F crashes when serving static files with AsyncWebServer and LittleFS"
### Hardware:
Board:							ESP-32-C3
Core Installation version:			2.0.0
IDE name:						Visual Studio/Visual Micro
Flash Frequency:					80Mhz
PSRAM enabled:                                    no
Upload Speed:					921600
Computer OS:                                        Windows 10

### Description:
I don't know if this is the ESP code or AsyncWebServer code that is causing the problem but...

When

[2021-11-20 12:00] VishalGMeshram37 commented on #2731
When rolled back to 1.0.4 i got this msg.

![Error msg](https://user-images.githubusercontent.com/61344512/142725509-51c2df7c-8d47-4599-b8ba-3ec9b655746d.jpg)

[2021-11-20 12:03] VishalGMeshram37 commented on #2731
And No error with 2.0.1 versions

[2021-11-20 12:06] me-no-dev commented on #2731
did you run an example from newer Arduino on older version? That would explain the error :)

[2021-11-20 22:27] luisfear commented on #2835
Did you find a way to do it?

[2021-11-20 22:47] chegewara commented on #2835
https://github.com/tobozo/ESP32-targz

[2021-11-21 03:51] tablatronix commented on #2501
The sdk/lib connection code is absolute shite.. I certainly will be looking into this.

[code]

[2021-11-21 04:24] tablatronix commented on #2501
[code]

[2021-11-21 04:46] ShenRen commented on #5876
Yes, the problem seems to have been solved. thank you.

[2021-11-21 05:02] tablatronix commented on #2501
It appears to toggle between success and fail on every reboot,

preliminary observations, I will fire up wireshark in a bit to confirm what my ap logs show..

Obviously this varies build to build and mcu to mcu..
esp32 S2 on IDF 4.4 arduino 2.0.1

If the esp was previously connected, and you reboot/reconnect,  STA sends De-Auth reason 3
Perhaps when the ESP gets the De-Auth response 2 and dissocia

[2021-11-21 11:41] ZinggJM commented on #5043
This issue seems still to be present. See e.g. https://forum.arduino.cc/t/esp32-e-paper-display-upload-but-no-output/927375/3

[2021-11-21 15:31] #5876 closed

[2021-11-21 15:37] SuGlider commented on #5889
@muzahid13
Please let me know if this issue can be closed.

[2021-11-21 15:47] tablatronix commented on #2501
I stopped testing last night because now my softap wont start.. sigh

[2021-11-21 19:03] tablatronix commented on #2501
Ok so 1 more reason that waitforconnectresult is unreliable, is that wifi.begin does not clear status bits, so status is essentially still `WL_CONNECT_FAILED` on subsequent begins, so the best solution I have so far is to check the status that begin returns and if it is WL_DISCONNECTED then retry using a custom loop and never waitforconnectresult.

I think the issue is that the SDK is using eventi

[2021-11-21 19:32] mlord commented on #2501
Best to completely avoid waitforconnectresult() for another reason too:  The WiFi status always goes to state 0 (zero) briefly just before changing to WL_CONNECTED.

[2021-11-21 20:31] tablatronix commented on #2501
Ideally the status should be idle status as soon as begin is called..

[2021-11-21 20:44] JohnMacrae commented on #5420
This behaviour also confirmed with CLI

[2021-11-22 00:21] thaynapatricio commented on #961
Hey Guys!
This video soved my problem in VSCode
Error: exec:" / bin / xtensa-esp32-elf-g ++

www.youtube.com/watch?v=d1D83G-PpqM

[2021-11-22 00:46] SuGlider commented on #5908
@hicham-vv
Can we close this issue or you have some other related question?

[2021-11-22 03:39] kbssa opened #5913 "Is core v2.0.1 compatible with W5500 ethernet module ?"
I can't manage to get the W5500 working over the v2.0.1 core with Arduino Ethernet library.

The ETH.h library is compatible with W5500 ? If so, is there any example or any guide where I can see how to make it work ?

Any help would be appreciated.

Now it's working over de core v1.0.6 with Arduino Ethernet library, but I want to upgrade to v2.0.1.

Thanks in advance.

[2021-11-22 05:17] wxzed opened #5914 "S3 support"
When will s3 support

[2021-11-22 05:39] chegewara commented on #5914
When its ready.

[2021-11-22 07:10] sudheeshsmadhav opened #5915 "ESP-32 - BLE- MQTT"
Hi everyone,
I am working on project, that scans active bluetooth beacons and gets their rssi and send to mqtt server. for an application, I am using 20 ESP32 devices, 10 bluetooth tags- all esp32are programmed with same code, named them uniquely. when I use 1 to 5esps, active scan time is around 6s, i am able to get data logging every 6 to 8 seconds at mqtt server(RPi 4). when i turn on all the e

[2021-11-22 07:15] FStefanni commented on #5875
Hi,

thank you for the fix.
I'll test the fix asap (right now I am very busy on other stuff).
I hope a new official release incorporating this fix will be made to
avoid people using official packages to get this error.

Regards.

[2021-11-22 08:11] felmue commented on #5913
Hello @kbssa

I don't think ETH.h library is compatible with W5500 given this list in ETH.h:
[code]
What is the exact issue you are getting with the Arduino Ethernet library? Compilation? Error at runtime?

Thanks
Felix

[2021-11-22 08:12] wxzed commented on #5914
Is there an approximate time?

[2021-11-22 08:27] igrr commented on #5914
Hi @wxzed, please follow the link to https://github.com/espressif/arduino-esp32/issues/5594 and click "subscribe" there to get notified about S3 support progress.

@chegewara I appreciate you helping respond to Github issues, your comments are generally very helpful! I kindly ask you to keep making constructive comments in the future, or ignore the issue if you don't see a way to respond construct

[2021-11-22 08:27] #5914 closed

[2021-11-22 08:33] chegewara commented on #5914
Constructive response:
- please use search:
- https://github.com/espressif/arduino-esp32/issues?q=is%3Aissue+s3+support+is%3Aclosed

[2021-11-22 08:40] mobizt commented on #5897
If you define the **SPIClass** object that passed by reference to **SD.begin** as local variable and  you call SD member functions outside the **SPIClass** object scope, that is why you get the error **"Exception was unhandled"**.

[2021-11-22 09:19] P-R-O-C-H-Y commented on #5632
@lunadm Any updates?

[2021-11-22 09:19] P-R-O-C-H-Y commented on #5415
@BaxBoyGH Any updates?

[2021-11-22 09:32] BaxBoyGH commented on #5415
I found a solution

The problem is based on the Library.

After a lot of hours in the internet I found a working Lib

https://github.com/nhatuan84/esp32-micro-sdcard

[2021-11-22 09:33] BaxBoyGH commented on #5415
I found a solution

The problem is based on the Library.

After a lot of hours in the internet I found a working Lib

https://github.com/nhatuan84/esp32-micro-sdcard

[2021-11-22 09:35] #5415 closed

[2021-11-22 10:04] blacknax commented on #2144
Yes, it worked for me also! Thank you very much!
I searched a solution for days and suspected my Raspi hostapd to causing the issue because my D1R32 did not connect to it but connected to a different wlan successfully. But after adding the 330 ohm resisitor it immediately worked with Raspberry hostapd.

[2021-11-22 11:00] VojtechBartoska commented on #5917
@Zaki23madrid Can you please provide more information? thanks!

[2021-11-22 12:31] visicon-masc commented on #2526
Hi everyone!

Any news on this? This issue is unfortunately unresolved for me, since i can't find a reliable way to workaround. Anyone else?
How can I help? Using latest platform didn't helped.
@VojtechBartoska and @AlexTZA perhaps this issue should be reopened?

Thanks to everyone helping!

Bye, Marc.

[2021-11-22 13:05] me-no-dev commented on #5892
Merged in master :)

[2021-11-22 13:43] visicon-masc commented on #2526
Hi again!

I have now a reliably working workaround: `settimeofday` in a task just created for this.

Like this:

[code]

That this works indicates, that accessing vars by `settimeofday` is disturbed by task context switch?

[2021-11-22 18:20] Jason2866 commented on #5601
The LilyGo board rev 1 is faulty. You can ask LilyGo for a replacement

[2021-11-22 18:25] salvatoreraccardi commented on #5601
I'm not using the LilyGo board.

[2021-11-22 18:32] Jason2866 commented on #5601
We have no problem with the actual released core 2.0.1 using the ESP32-C3 in project [Tasmota](https://github.com/arendst/Tasmota). Tasmota has many installations.
We have no issue feedback regarding wifi problems

[2021-11-22 18:43] Jason2866 commented on #5869
@DhirajGehlot The file in Arduino is Info what values are configured. You cant change settings here. If you want to change you have to use Arduino as IDF component or build your own Arduinio framework with https://github.com/espressif/esp32-arduino-lib-builder

[2021-11-22 18:46] salvatoreraccardi commented on #5601
Ah ok, it gives me this error, could you help me?
[code]

[2021-11-22 21:53] NiklasVoigt commented on #5502
Ran today into the same error with unusuable GPIO5 (ADC2_0) after manufacturing my pcbs...

[2021-11-23 01:14] sohtamei commented on #2144
This issue has been found in M5Atom/M5StickC/TimerCAM/unitV, and we fixed it with FW update of CH552.

https://sohtamei.github.io/docs/esp32AndUsbUartWith5V_IO_Issue2.html
![image](https://user-images.githubusercontent.com/43091864/142957714-da098650-d121-4cd6-837c-3faeeeb6726b.png)

[2021-11-23 01:18] thaynapatricio commented on #5308
Can you add the Esp32MQTTClient library for me to download? I'm not finding her anywhere.

[2021-11-23 02:04] SuGlider commented on #5913
@kbssa

W5500 is supported by IDF 4.4 but the current Arduino v2.0.0+ Lib ETH.h does not implement it, yet.

### About W5500 IDF support in Arduino Core v2.0.0+:

It can be found in sdkconfig file for ESP32.
https://github.com/espressif/arduino-esp32/blob/master/tools/sdk/esp32/sdkconfig#L618

W5500 initialization function from IDF 4.4 is included here:
https://github.com/espressif/arduino-esp32/b

[2021-11-23 02:10] SuGlider commented on #5913
@kbssa

I could not find W5500 in Arduino Core v1.0.6

From ETH.h I found this list:
```typedef enum { ETH_PHY_LAN8720, ETH_PHY_TLK110, ETH_PHY_IP101, ETH_PHY_MAX } eth_phy_type_t;```

Which one of those options did you use to make W5500 work?

[2021-11-23 03:04] kbssa commented on #5913
Is there any working example ?

I have no idea on how to include it in my code as I am completely noob with IDF implemention.

[2021-11-23 03:07] kbssa commented on #5913
The W5500 works with the Arduino Ethernet library in Arduino Core v1.0.6.

[2021-11-23 04:59] ebineser opened #5921 "After some time esp32 module reseting for same work"
Make your question, not a Statement, inclusive. Include all pertinent information:

What you are trying to do?
  i can do some work with this module, like when the water is filling led is off.
Describe your system( Hardware, computer, O/S, core version, environment).
  esp32 dev module,arduino ide software using
Describe what is failing.
 In starting this woriking properly when the l]water is fill

[2021-11-23 05:33] brahmajit opened #5922 "SD card only mounts when connected to and programmed from a specific PC"
I've a custom PCB with ESP32 Wroom 32 and SD module. When trying to mount the SD card (using the default ESP32 sd_test sketch) the card mount fails only when it's connected to one of my two laptops and stays so. I've to connect and reprogram from the other computer to get the SD card working.

I've no clue what could be the issue here. Mind you the PCB, the USB cable all remains the same.

[2021-11-23 11:04] dexion opened #5923 "Problem with using HSPI and WiFi simultenously. WiFi can't connect to AP with AUTH_EXPIRE error."
### Hardware:
Board:							?ESP-WROOM-32?
Core Installation version:			?1.0.4? ?2.0.1? ?latest build from github?
IDE name:						?Arduino IDE? ?Platform.io? doesn't matter
Flash Frequency:					?40Mhz?
PSRAM enabled:                                    ?no?
Upload Speed:					?115200?
Computer OS:                                        ?Windows 10?

### Description:
We have PCB with esp-wroom-32. PIN

[2021-11-23 12:22] DmytroKorniienko commented on #5912
@AcuarioCat , Hi, can you check please behavior with this fork/branch of [ESPAsyncWebServer](https://github.com/DmytroKorniienko/ESPAsyncWebServer/tree/ESPAsyncWebServerMod)?

Or as another point for testing you can try comment out this line in ESPAsyncWebServer\src\StringArray.h :

[code]

* This issue related with http-headers handling.

[2021-11-23 14:10] luckwaski commented on #1675
Anyone looking into that?

[2021-11-23 14:51] AcuarioCat commented on #5912
Hi, great, I tried both suggestions and both work. I guess I need to stay with the forked version for now.
I have been using Aardvark MQTT but this 'demands' it's own modified (and broken :-( ) AsyncWebServer.
I guess it's time to investigate MQTT options again.

[2021-11-23 16:56] DmytroKorniienko commented on #5912
@me-no-dev Can you please take a look at this issue? Maybe you can provide better solution for ESP32-C3 support and clarify whats going wrong there...

--------------------

@AcuarioCat
We using AsyncMqttClient for our EmbUI project (currently supported ESP8266, ESP32, ESP32-S2, ESP32-C3; ESP32-S3 - not tested yet), you can check my github page - this is open sourse software, maybe something will

[2021-11-23 20:33] atanisoft commented on #5923
@dexion Usually this is a power related issue, are you supplying at least 750mA (1A if shared with other devices) on the 3v3 inputs?

[2021-11-23 20:33] thaynapatricio commented on #5308
There's actually one version of Azure IoT that I didn't find in my directory.

[2021-11-23 20:34] thaynapatricio commented on #5308
[AzureIoT.zip](https://github.com/espressif/arduino-esp32/files/7590876/AzureIoT.zip)

There's actually one version of Azure IoT that I didn't find in my directory.

[2021-11-23 22:18] dexion commented on #5923
Power supply is ok

[2021-11-23 23:35] atanisoft commented on #5923
Stating "power supply is ok" doesn't answer the Q of are you providing sufficient current for what you are trying to run on your custom PCB. What LDO are you using on the PCB, what sort of power supply is feeding the LDO, etc.

I also have custom PCBs that also use the 12-15 range of pins for HSPI and don't see issues. On my PCB I'm using a 2A 5v buck converter supplied by an external 15-28v suppl

[2021-11-24 03:11] wenzhicode opened #5924 "xQueueGenericReceive)- assert failed"
### Hardware:
Board:							ESP32 Dev Module
Core Installation version:			not sure,  installed by Platform IO with vscode
IDE name:						Platform.io
Flash Frequency:					?40Mhz?
PSRAM enabled:                                     ?no
Upload Speed:					460800
Computer OS:                                         Windows 10

### Description:
Hi .
I use ESP32 for  [ ELRS project,](https://github.com/Exp

[2021-11-24 03:51] qt1 opened #5925 "undefined reference to `MD5Update' in arduino as component"
The compilation of a project referencing MD5Builder fails link with undefined reference to `MD5Update'

Creating a minimal project with this error:

1. Latest ESP-IDF, install.sh and export.sh
2. Create new project using

        idf.py create-project proj1
        cd proj1

At this point the project compiles.

3. Add arduino-esp32 as in the [docs](https://docs.espressif.com/projects/arduino-esp32

[2021-11-24 08:01] dexion commented on #5923
We are using laboratory power supply for testing, and see 120 mA at 5V DC. So I don't think that problem is in power supply.

[2021-11-24 08:12] TD-er commented on #5923
Not saying the power is an issue, nor that your lab psu is of bad quality.
But just to let you know about what happens between the lab PSU and the ESP.
You have of course wires, but let's assume those are thick enough to not cause a significant voltage drop.
Then there is a voltage regulator turning 5V into 3V3.
That one is underpowered on many boards sold with ESP's.
When connecting to WiFi the E

[2021-11-24 11:05] VishalGMeshram37 commented on #2731
NO everything is latest

[2021-11-24 12:29] xgarb commented on #2731
You need to use v 1.0.4 (or 5, probably) of the ESP32 Hardware libraries and load the CameraWebServer example as here: https://robotzero.one/esp32-cam-arduino-ide/ You can't use the examples from a different hardware library.

Pretty sure  fb->timestamp doesn't exist in the v1.0.4 so you must be using the new example with the old library.

[2021-11-24 13:39] atanisoft commented on #5925
arduino-esp32 master (assuming that is what you are using since you didn't specify) only supports ESP-IDF v4.4 and not earlier. You state "Latest ESP-IDF" but that doesn't indicate what version you are using.

[2021-11-24 13:44] atanisoft commented on #5924
Do you have a smaller reproducible test case other than the very complex ELRS project? If I was to guess you have multiple ISRs bound to the same core (SPI, I2C and HWTimer) all competing for exclusive access to the same cpu core.

What specific build are you using from PlatformIO?

Can you also post the full backtrace as there may be more clues in the output which you have omitted.

[2021-11-24 14:47] tablatronix commented on #2501
I have been looking into this in my lab as its reproducible, it might be different issues for different routers.
I am running unifi APs, 2.4ghz only, most everything turned off , fast roaming etc.

I thought this was a PMF issue ( as I noted above with de-auths ), so I disabled PMF on both sides and the issue still exists although due to a different reason now.  Now instead of a discon event (203)

[2021-11-24 15:22] NiklasVoigt commented on #5601
Well I flashed the latest tasmota c3 target in release and development and both throw "invalid header: 0xffffffffff" and don't run.

The Wifi example from Arduino (w. 2.0.1) causes permanent reboots.

[2021-11-24 16:05] GeorgeFlorian opened #5926 "esp_eth_set_mac does nothing. Can't change ESP's MAC Address"
### Hardware:
Board:							ESP32 EVB
IDE name:						Platform.io
PSRAM enabled:                                    no
Computer OS:                                        Windows 10

### Description:
Hello.

I'm trying to set the MAC of the ETH interface the same as the WiFi interface using the following code:
[code]
This prints the right MAC, which is the same as the WiFi's MAC (7c-9e-bd-30-2d-a8),

[2021-11-24 16:50] HarborDesigns commented on #5897
@mobizt Thank you for your response. That helped me figure out the issue in code.

[2021-11-24 16:58] qt1 commented on #5925
This happens with multiple matching versions of esp-idf and arduino-esp32.

Specifically the latest versions are:
components/arduino   399f4ecbb3a4cef21e2bffa37adb6190356dfb76
esp-idf                         ddc44956bf718540d5451e17e1becf6c7dffe5b8

MD5Update is a C function that may also be available in the ROM, but I don't know.

I suspect that there is a linker setting or some flag that is need

[2021-11-24 17:22] atanisoft commented on #5925
which specific ESP32 target are you using via idf.py?

[2021-11-24 17:24] Jason2866 commented on #5601
@NiklasVoigt Looks like a flashing issue/error

[2021-11-24 17:29] chegewara commented on #5601
this may have 2 reasons. Flash has been erased and no bootloader found or bootstrap pin is in wrong state and flash didnt run.
On C3 we have 3 bootstrap pins: GPIO 2, 8 and 9.
https://www.espressif.com/sites/default/files/documentation/esp32-c3_datasheet_en.pdf

[2021-11-24 20:25] SuGlider commented on #5921
@ebineser
It lacks information in order to help you with this issue.
Can you provide a minimum sketch that causes the reset you mentioned?

It also will help a lot if you can send the debug output message associated with the execution and reset.

[2021-11-24 20:36] NiklasVoigt commented on #5601
The standard sketch of the arduino ide with bluetoothle works like a charm. But every time i try to activate the wifi the esp restarts... this can't have anything to do with flashing.... it can't be the power, the esp is powered by an external voltage source.

[2021-11-24 20:51] Jason2866 commented on #5601
Why does wifi work for many with the c3 and the actual core 2.0.1?
It is possible that your module is defect.

[2021-11-24 20:56] NiklasVoigt commented on #5601
this is a good question.. i have two esp32c3-mini-1-n4 and both have the same issue

ESP-ROM:esp32c3-api1-20210207
Build:Feb  7 2021
rst:0x1 (POWERON),boot:0xa (SPI_FAST_FLASH_BOOT)
SPIWP:0xee
mode:DIO, clock div:1
load:0x3fcd6100,len:0x137c
load:0x403ce000,len:0x8c0
load:0x403d0000,len:0x2924
SHA-256 comparison failed:
Calculated: 7e3ee51ec984c760a1ab62bc896f8cccf04acc25ab883634a46a416d68336a07
E

[2021-11-24 21:00] chegewara commented on #5601
`rst:0xf (BROWNOUT_RST),`

[2021-11-24 21:05] dedesite commented on #1271
Hi @philipn7,

I try to get an UHS Mini v2.0 bought [here](https://opencircuit.shop/Product/Mini-USB-Host-Shield) working with an [Inkplate 6 ](https://inkplate.readthedocs.io/en/latest/features.html) (ESP32 based e-ink board).
My shield doesn't have a date or DuinoFun marked on the board, just "UHS mini v2.0".
Do you think the MOSI and CLK are also mixed up ?

Also, as the Inkplate 6 is 3.3V only

[2021-11-25 01:12] #5881 closed

[2021-11-25 02:58] qt1 commented on #5925
The target is esp32 (default). Same result when the target explicitly using `idf.py set-target esp32` .

[2021-11-25 09:51] hinjo commented on #296
Hi, I realize this is an old post but maybe I'get lucky :). I'm curious as how you got this working with HardwareSerial, is this a library, how did you get a hold of it and integrate this with libraries that otherwise except a SoftwareSerial object?

[2021-11-25 11:06] Ben79543 opened #5928 "No timeout on start_ssl_client(): Performing the SSL/TLS handshake... ESP occasionnaly hangs indefinitely"
I have a large program, that at some points connects to AWS using mqtt PubSubClient.
It works 99,9% of the time, but once in a while the ESP32 just hangs while performing the SSL/TLS handshake.
The issue is not to understand why it fails as it is so rare, but to understand why no timeout kicks that could allow this to be  handled properly.
As it is, the ESP becomes unresponsive until manual reset.

[2021-11-25 11:35] VojtechBartoska commented on #5927
Please take a look on this updated [documentation](https://docs.espressif.com/projects/arduino-esp32/en/latest/esp-idf_component.html). Current Arduino core version is compatible with [ESP-IDFv4.4 branch](https://github.com/espressif/esp-idf/tree/release/v4.4).

[2021-11-25 11:53] rv9c commented on #5806
Experiencing a similar problem using AsyncWebServer. In addition, if you use AsyncWebServer after some time of use, the esp 32 module spontaneously reboots.

I did not notice this on older versions of the kernel. Updated to the extreme version and started ...

[2021-11-25 13:45] marcelwinter04 opened #5929 "IDF (Arduino) OTA problem"
I'm trying to get the OTA SD Card example working. This thing worked with the Arduino IDE unfortunately there is no option to change the menuconfig with the arduino ide. So now im trying the same example with the esp idf but with the arduino component.

[code]
But when i build this project i get following error message

[code]
Does anybody knows what the problem may be?

ESP-IDF: 4.4

[2021-11-25 13:53] VojtechBartoska commented on #5899
@DigKleppe Did you solve your problem with using proposed versions? Thanks for update!

[2021-11-25 18:45] davidkleng commented on #5806
Still having problem with web server, ESP32 resets.

[E][AsyncTCP.cpp:797] _flushWriteQueue(): socket 59 lwip_write() failed errno=104

[2021-11-25 23:23] hutje opened #5930 "Dedicated MQTT Arduino library from ESP-MQTT"
### Description:
There is no dedicated MQTT Library for ESP32/ESP8266 with Arduino that is implemented from ESP-MQTT.
This library would be extremely useful to improve the stability of the connection. Now the MQTT function is depending on third-party libraries and cause connection errors.

It would be a great option to implement the ESP-IDF ESP-MQTT library in Arduino.

[2021-11-26 04:09] GalactusX31 commented on #5886
After much research, I have [SOLVED IT](https://github.com/horihiro/esp8266-google-tts/issues/19#issuecomment-979680610), I hope this helps other people in their personal projects.

[2021-11-26 08:07] bertmelis commented on #5930
The Arduino core for the two platforms are built on different toolchains.
ESP-MQTT is out-of-the-box usable on ESP32.

[2021-11-26 08:19] hutje commented on #5930
That I understand, but that would make an Arduino library of ESP-MQTT from the ESP-IDF so much more stable.

[2021-11-26 09:00] me-no-dev commented on #5930
There is no reason to say that Arduino MQTT libraries are less stable than IDF's MQTT lib. MQTT is not rocket science and you do have access to IDF's MQTT through Arduino. It is just not wrapped into a class.

[2021-11-26 09:00] #5930 closed

[2021-11-26 12:57] DigKleppe commented on #5899
It works OK now, thanks.

[2021-11-27 12:00] tobozo commented on #5870
closing this as irrelevant since mixing internal even names with system even names is out ot scope.

[2021-11-27 12:00] #5870 closed

[2021-11-27 12:08] tobozo opened #5933 "Boards.txt is missing ttgo-lora32-v2 profile although listed in variants folder"
The entry `ttgo-lora32-v21new` in `boards.txt` has many duplicate properties.

Those duplicate properties are probably a result of a script trying to produce variants choice in the boards menu, and apparently failing.

Current symptom: only `ttgo-lora32-v21new` is available from the boards menu, no trace of `ttgo-lora32-v2`.

The expected result is having either two separate board choices, or two

[2021-11-27 14:57] #5879 closed

[2021-11-27 17:36] leifclaesson opened #5934 "I2C Master Wire.requestFrom timeout not obeyed, takes a whole second to read when slave is not present"
What you are trying to do?
I'm trying to read from an I2C device which is not always present.
With ESP32 Arduino 1.0.6, the read fails instantly as it should. With 2.0.1 it blocks for a full second (1000ms) every time.

This sketch will duplicate the error, no hardware required.

[code]

If run on a regular ESP32 board with Arduino Core version 1.0.6, each Wire.requestFrom completes instantly or w

[2021-11-27 18:28] bigowash commented on #2731
Does face detection not work with version 2.0.1 of ESP32?

[2021-11-27 19:04] xgarb commented on #2731
Nope: https://github.com/espressif/arduino-esp32/issues/5878

1.0.4 definitely works.

[2021-11-27 19:23] sguarin commented on #5826
This temporary fix work for me.
But I think the memory pointer should not be static and should live on the class.

https://github.com/espressif/arduino-esp32/compare/master...sguarin:fix_streamLoad?expand=1

[2021-11-27 19:24] sguarin commented on #5781
The problem I was having it's related to call malloc again on WiFiClientSecure without freeing the previosly stored certificate.
Related issue with temporary fix here:
#5826

[2021-11-27 20:26] TD-er commented on #5826
Just a repeat of the comment I placed with that commit:

You're not checking the return value of `realloc`.
If the return value is not a nullptr, you should assign it to `*destPtr`.
If it is a nullptr, it depends on the C++ version whether it was a failed alloc or not changed (e.g. size was the same)

And no need to check if `*destPtr` is a nullptr, as `realloc` called with a nullptr acts like mal

[2021-11-27 20:28] TD-er commented on #5781
The issue you're trying to fix is just when you stream the certificate.
The issue I referred to is related to the client context not being initialized and cleared well when verification fails and you try again to connect.

[2021-11-28 00:27] atanisoft commented on #5933
https://github.com/espressif/arduino-esp32/commit/8869d39d7997eb57177f1cd95f32fd3c26300d13 added the variant but never created an entry in boards.txt.

https://github.com/espressif/arduino-esp32/commit/ccab428e4dc67e47a2db22ef66d983164a21e7fc created the ttgo-lora32-v21new variant along with the duplicated entries, which might have been a copy/paste error.

Feel free to submit a PR to fix this.

[2021-11-28 00:54] coderforlife commented on #5885
I am also having this issue on the ESP32-C3 chip. I have tried iOS. The LightBlue app asks for approval to use Bluetooth services while the ESP app does not. It seems the ESP app isn't using Bluetooth at all? This is sounding more like an issue to https://github.com/espressif/esp-idf-provisioning-ios/tree/master/ESPProvision

[2021-11-28 01:13] electricidea commented on #1334
The problem can be solved with a delay(20); at the end of the loop() function. 10ms was not enough on my system, but 20 does not show any more ghost keystrokes.

[2021-11-28 02:22] coderforlife commented on #5885
Check out https://github.com/espressif/esp-idf-provisioning-ios/issues/35 (at least for iOS).

[2021-11-28 04:09] aiotech-pub opened #5936 "ESP32 boards error on upload"
I have a Wemos D1 R32 board that is compatible with EspDuino32. Using Arduino ide I am able to build the applications but I am not able to upload/program the board.
This is the error:
java.lang.NullPointerException
	at cc.arduino.packages.uploaders.SerialUploader.uploadUsingProgrammer(SerialUploader.java:295)
	at cc.arduino.packages.uploaders.SerialUploader.uploadUsingPreferences(SerialUploader.ja

[2021-11-28 04:36] leifclaesson commented on #5934
Thanks @me-no-dev

[2021-11-28 06:59] leonelsr commented on #1261
So... What is actually still missing?

On ESP8266, IPv6 DHCP "just works", all you gotta do is select the right lwip "flavor" on Arduino IDE (or maybe use a build flag on platformio.

What exactly still needs to be done and/or ported (from where?), so we can have the same functionality on ESP32?

[2021-11-28 07:51] Huckies opened #5937 "Weird serial behavior on Pico kit"
I'm using a PICO-D4 dev board with code from an aarch64 mac running VScode and the latest extension from Espressif.

The IDF version is 4.4 and arduino component is 2.0.1, if they matter too.
Also I don't think the macOS operation system has any interference, it occurred in Big Sur 11.6 and remain the same after upgraded to Monterey 12.0.1.

It might be a long story so I'll list my requirements in

[2021-11-28 08:40] cicciocb opened #5938 "The esp32 i2s internal DAC output is not working with the release 2.0.1"
The audio output using I2S works both with an external DAC or in PDM mode but not using the internal DAC.
This seems to be related to the ESP-IDF [https://github.com/espressif/esp-idf/issues/7684](url)

[2021-11-28 08:52] Huckies commented on #5937
I forgot to mention before that the receiving serial is HardwareSerial No.1 and the debug serial is the default one.

[2021-11-28 08:56] me-no-dev commented on #1261
First it needs to become a configuration value in ESP-IDF (that means the option to be accessible by idf.py menuconfig), then we can enable that for the Arduino builds and bring support to you. Until then, we can not provide this. Manually editing headers is not really an option for us. 8266 Arduino builds it's own LwIP and we use the one in ESP-IDF

[2021-11-28 10:44] tobozo commented on #5933
@atanisoft thanks for your feedback.

I've ordered a unit and will do a few tests as soon as it's delivered (hopefully next wednesday).

Does it make sense to rename ttgo-lora32-v21new to ttgo-lora32-v2 and create "v1", "v2", "v2.1" menu variants as it is done in TTGO-TWatch menu ?

![image](https://user-images.githubusercontent.com/1893754/143764572-69bcc936-0146-4975-bc2d-110c0ab2574b.png)

ping

[2021-11-28 11:54] atanisoft commented on #5933
@tobozo I think it does make sense for visual purposes but likely the entry keys should remain as-is.

[2021-11-28 12:46] igrr opened #5939 "Publish arduino-esp32 component in idf-component-manager"
Currently the [instructions](https://docs.espressif.com/projects/arduino-esp32/en/latest/esp-idf_component.html) for installing arduino-esp32 as an IDF component use git to clone arduino-esp32 into the project components directory.

We could make arduino-esp32 available via component manager in ESP-IDF, simplifying installation and dependency management. For example, arduino-esp32 component could

[2021-11-28 14:33] savejeff opened #5940 "Serial1 breaks when updateBaudRate() is used together with WIFI"
I have found wierd behavior/a bug with the hardwareSerial.updateBaudRate function.
It only happens if i also use WIFI

When i connect to wifi and then change the baud rate of Serial1, the serial port does only read 0x00.
it only works if i use the updateBaudRate  and WIFI is connected
if i use Serial.end(), Serial,begin() it works fine.

The use case is as follows:
I use a Ublox GPS Sensor over se

[2021-11-28 14:44] Huckies commented on #5939
You will add this library to the Espressif extension in VSCode, right? One of the charming things of ESP32 is the official support in VSCode, it makes coding much more painless than STM32 where Keil is commonly used.

[2021-11-28 15:13] SuGlider commented on #5937
@Huckies
Could you please post a minimal sketch that causes the issue you have reported?

It will help a lot in figuring out the issue.

Thanks.

[2021-11-28 15:39] atanisoft commented on #5925
@qt1 Try disabling `CONFIG_WPA_MBEDTLS_CRYPTO` in your sdkconfig. It looks like when this is enabled there is no actual implementation compiled of the various MD5 functions that are used currently by `MD5Builder`.

[2021-11-28 16:23] qt1 commented on #5925
According to some other issues referencing  MD5Update

Adding the following to `esp-idf/components/esp_rom/esp32/ld/esp32.rom.ld ` seems to solve the problem.

        PROVIDE ( MD5Final = 0x4005db1c );
        PROVIDE ( MD5Init = 0x4005da7c );
        PROVIDE ( MD5Update = 0x4005da9c );

I is possible that theses where left out for a reason, so I m not sure if I should PR esp-idf or not..

Settin

[2021-11-28 16:28] atanisoft commented on #5925
Those entries are intentionally omitted from the ld scripts as they used to be provided by the WPA code, as part of migrating to ESP-IDF v4.4 though this became optionally compiled based on `CONFIG_WPA_MBEDTLS_CRYPTO`. The PR I've created migrates to the underlying ROM APIs which are available on all targets.

[2021-11-28 16:56] garudaonekh opened #5942 "Random crash on TCP/IP stack of ESP32"
Hi,
I got this crash after some a few requests from client(My ESP32 act as server) and not able to find out the root cause as it happen sometimes after an hour of running. The sketch will tunnel http request thru MQTT response so user will send MQTT request to the sketch and the sketch will convert this MQTT as http request and push it to TCP/IP stack and then convert the HTTP response and send ba

[2021-11-28 20:55] rhr407 opened #5943 "../components/arduino/cores/esp32/esp32-hal-i2c-slave.c:363:12: error: 'i2c_slave_struct_t' {aka 'struct i2c_slave_struct_t'} has no member named 'lock'"
I am facing the following error after adding arduino as an esp-idf component. The version of esp-idf is v4.4
[code]

[2021-11-28 23:56] qt1 commented on #5925
Thanks!

[2021-11-29 01:02] me-no-dev commented on #5943
yup :) will fix. you can enable hal locks and should compile fine.

[2021-11-29 01:48] Huckies commented on #5937
@SuGlider
Please check this repo [https://github.com/Huckies/serialcheck](url).
You might want to add a public MQTT server IP to HuckAL.h line 13.
Also a modification to HuckAL_WiFi.cpp line 5&6 might be needed.

I've mistaken something, the glitch I described above was on a platformio framework which uses an arduino-component v1.0.6 [https://github.com/espressif/arduino-esp32/releases/tag/1.0.6](

[2021-11-29 02:39] Mesihas commented on #5908
If you use the Arduino IDE to program the ESP32, you might be interested in [Andreas Spiess’] latest video . In it, he shows an example of using all three ESP32 UARTs from an Arduino program. He calls the third port “secret” although that’s really a misnomer. However, it does require a quick patch to the Arduino library to make it work.

Just gaining access to the additional UARTs isn’t hard. You

[2021-11-29 10:46] obaterspok commented on #1675
@eyaleb

1.0.6 changed scanning method to WIFI_ALL_CHANNEL_SCAN. Try to comment line 179 in WiFiSTA.cpp to check if that makes it as fast as 1.0.5

[2021-11-29 11:45] eyaleb commented on #1675
Two things @obaterspok

1) in 1.0.6 it is line 137 that needs to be commented out, and it fixes the speed problem.

2) in 2.0.1 it is, as you say, line 179 but it makes no difference.
    I needed to fix line 85 and change the default `scan_method` to
    `... scan_method=WIFI_FAST_SCAN, ...`
which did fix the speed.

HTH

[2021-11-29 12:05] SuGlider commented on #5940
@savejeff
Please let me know more information about your development environment, such as Arduino Core Version, board model, used IDE etc.

If possible, please run the code below using the same setup of the sketch used to demonstrate the issue and report back the output.

[code]

[2021-11-29 13:27] SuGlider commented on #5937
@Huckies
We have refactored UART in Arduino Core v2.0.0+
A lot of UART bugs have been solved in this newer version.

Could you please test your sketch using Arduino Core 2.0.1 (current latest release) and report back if those issues are still happening?
Thanks!

[2021-11-29 13:42] SuGlider commented on #5908
This a 2017 video. It is way too old.
Do not follow this "secret" because the current ESP32 Arduino version 2.0.1 has refactored UART.
In order to use UART0, UART1 and UART2, just use Arduino ```Serial.begin()```, ```Serial1.begin()``` and ```Serial2.begin()```

ESP32 has those 3 UART ports available. It is possible to change RX and TX pins in the ```begin()``` call.

One important note is that ES

[2021-11-29 13:44] hicham-vv commented on #5908
yes i changed the uart 1 to 27 and 26 pin

[2021-11-29 13:48] SuGlider commented on #5908
@hicham-vv
We recommend using Arduino Core 2.0.1 because UART has been refactored in version 2.0.0+.
You are using Core 1.0.6 as per your messages. This version has some bugs.

[2021-11-29 13:53] Huckies commented on #5937
@SuGlider
Like I said, currently running a 2.0.1 version and still occurs the glitch.

It just become reticent instead of receiving broken sentences before re-initialized, but it should work fine even without the second initialization, shouldn't it?

[2021-11-29 13:59] SuGlider commented on #5937
@Huckies
I'll ckeck it out and see if I can reproduce the issue. I'll report back here along this week.

[2021-11-29 14:44] savejeff commented on #5940
Hi!

thanks for the fast response.

I'm using Arduino IDE 1.8.13
ESP Arduino Core Version 2.0.1

I also tested this with PlatformIO and the latest version.

here the output of the program:
[code]