[2022-03-25 00:23] SuGlider commented on #6476
@MiyukiDark
The sketch you posted can't be compiled. It seems to be part of a bigger sketch.
There are missing parts. Please provide some simpler sketch that reproduces the issue.

One possible reason for this issue would be if there are two '\n' or a '\r\n' at the end of the input from Serial2.
It may lead to a ```String``` correct read and then in the next ```run_countert``` it outputs nothing b

[2022-03-25 00:32] lexfee commented on #6466
I think I identified the broken file.  It is the `libmbedtls.a` causing the problem.  The file created by lib-builder is only 104kb, while the original file is 1203kb. If I replace this file with the original one,  all of the problems are gone. The project can be built, and my code is working. So the lib-builder did create the `libmbedtls.a`  file but somehow in a much smaller size.  There is no e

[2022-03-25 01:00] Legohead259 opened #6480 "ESP32-S2 Writing Only 512B of Good Data to XTSD08G Using SD Library"
### Board

ESP32-S2 WROOM

### Device Description

This device is a custom PCB with the ESP32-S2 WROOM as the main MCU and various peripheral devices. The schematic can be found [here](https://github.com/Legohead259/Project-Thetis-CAD/blob/main/Documentation/Thetis_RevF3_SCH.pdf).

### Hardware Configuration

The device in question is the [XTX XTSD08G](https://www.lcsc.com/product-detail/NAND-FLAS

[2022-03-25 06:31] MiyukiDark commented on #6476
Here is a compilable sketch

UDP printf is not a standard a printf it has it own format

[code]
Here is the what happens on port
![logic](https://user-images.githubusercontent.com/94926679/160066614-824ba286-dddd-4779-8ee9-dd983924a489.png)

and on Serial output is this every second
[code]

[2022-03-25 06:47] StarOfSlytherin commented on #6478
This fix worked. But on other projects I'm getting compile errors.
[code]

[2022-03-25 07:45] MiyukiDark commented on #6476
When the other side did not reply (nothing is in the receive buffer to process) it work just right
![without reply](https://user-images.githubusercontent.com/94926679/160076596-16ce483d-35b0-4bfa-8cac-3786230e5619.png)

[2022-03-25 07:56] SDS712 commented on #6414
Pardon me if I say anything wrong here. I'm new to electronics. But we were facing this exact same error on a custom PCB with ESP-WROOM-32U (ESP32-D0WD chip)

After some searching and debugging our circuit, we found that GPIO12 was being pulled high by default. And Pulling it low solved the problem for us and we were able to upload the firmware.

Check out [this](https://github.com/espressif/ardui

[2022-03-25 08:20] owenduffy opened #6481 "Export compiled binary - merged"
### Related area

Export compiled binary

### Hardware specification

ESP32

### Is your feature request related to a problem?

It would be useful if the Menu/Sketch/ExportCompileBinary exported a merged binary rather than just a part of the merged image, leaving it to the user to find the other bits which are in temporary directories.

### Describe the solution you'd like

That export binary expo

[2022-03-25 08:48] mrWheel opened #6482 "HTTPUpdateServer does not update SPIFFS or LittleFS"
### Board

ESP32 Wrover Module

### Device Description

Nothing, just the bare board

### Hardware Configuration

Nothing

### Version

v2.0.2

### IDE Name

Arduino IDE

### Operating System

macOS 12.2.1

### Flash frequency

80MHz and 40MHz

### PSRAM enabled

no

### Upload speed

921600 and 230400

### Description

Created both SPIFFS and LittleFS bin files.

Tried to upload using the `WebUpd

[2022-03-25 08:51] me-no-dev commented on #6480
You mention USB MSC, but is the log above from Arduino's SD lib reading the file or from USB?

[2022-03-25 08:57] P-R-O-C-H-Y commented on #6480
Hi @Legohead259,

The version 2.0.2 has bugs in SD library. Can you try to clone master branch of Arduino-esp32 and test with that? There are instructions [here](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html). Look for manual installation.

Please set "Core debug level" to "VERBOSE" and post the debug message :)

[2022-03-25 09:08] P-R-O-C-H-Y commented on #3603
Not yet in the Arduino Board manager. All fixes are planned for version 2.0.3 but you will have to wait for release to be able to update in Arduinos board manager.
BUT you can clone Arduino-esp32 master branch to your Arduino. Instructions can be found [here](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html#windows-manual-installation)

[2022-03-25 09:14] P-R-O-C-H-Y commented on #6089
To test that connect simple USB cable (without trancievers) to ESP32C3 pins:
D- to GPIO18, D+ to GPIO19, 5V and GND. And it should work as is.

[2022-03-25 09:53] dsyleixa commented on #3603
thank you, then I will have to wait!

[2022-03-25 10:42] Jason2866 commented on #6466
@lexfee So "something" with your Lib builder setup is wrong. The Github Actions lib builder is generating the file `libmbedtls.a` correctly.

[2022-03-25 11:12] T365 opened #6483 "Add RISING/FALLING for esp_sleep_ext1_wakeup_mode_t in esp_sleep.h"
### Related area

Deep sleep esp_sleep.h extra function

### Hardware specification

ESP32

### Is your feature request related to a problem?

Missing RISING / FALLING in esp_sleep_enable_ext1_wakeup

### Describe the solution you'd like

In esp_sleep.h I want to use
esp_sleep_enable_ext1_wakeup (RISING/FALLING)
there is only:

 	typedef enum {
		ESP_EXT1_WAKEUP_ALL_LOW = 0,    //!< Wake the chip

[2022-03-25 11:32] denisalexee commented on #6468
char x[8];                                                   //
	  dtostrf(temperature, 5, 1,x);
    pTxTimeCharacteristic ->setValue((std::string)x);
    pTxTimeCharacteristic ->notify();

    char ax[8];                                                   //

   sprintf(ax, "%d", minTempPar);
   pTxminTempParCharacteristic ->setValue((std::string)ax);
   pTxminTempParCharacteristic ->notify();

[2022-03-25 11:33] denisalexee commented on #6468
thanks for helping

[2022-03-25 11:33] #6468 closed

[2022-03-25 11:38] Jason2866 commented on #6478
On 'other projects' is a unspecific problem description. Providing a example sketch would help.

[2022-03-25 11:58] SuGlider commented on #6476
@MiyukiDark
I tested a simplified (without UDP) code and it seems to run OK...
I have no idea why you may have 2 tasks running.
I think you may need to debug your code further.

[2022-03-25 12:00] SuGlider commented on #6476
@MiyukiDark

The issue is in ```vTaskDelayUntil(&xLastWakeTime, pdMS_TO_TICKS(1000));```
Given that ```xLastWakeTime``` is never updated, it has no effect and doesn't block for 1 second.

https://www.freertos.org/vtaskdelayuntil.html

[2022-03-25 12:49] viafx24 commented on #3363
I got a similar error  "i2cCheckLineState(): Bus Invalid State, TwoWire() " after ESP32 awake from light sleep. The answer of Cyberman54 solved my problem : in fact, the power of my I2C device (ina3221) was switch off in my code to save battery power. I just ask to switch on again the I2C device in the loop() and not only in the setup() function to allow my I2C device to get power when awake from

[2022-03-25 13:14] MiyukiDark commented on #6476
@[SuGlider](https://github.com/SuGlider)

No, it isn't
It is **exactly what is in the example**
And it is called once per second
It is just a pointer, vTaskDelayUntil updates it

[2022-03-25 13:21] MiyukiDark commented on #6476
Sorry I did close instead of just comment

[2022-03-25 13:23] SuGlider commented on #6476
@MiyukiDark

I need a code example that demonstrates that the issue you reported is related to the ESP32 Arduino Core.

Please send us the smaller/simpler code that can be used to validate the issue.

You application has not related components such Wireless communication, message exchange and a state machine that may be also related to the issue.

I run some testing cases and I can't reproduce the

[2022-03-25 13:45] MiyukiDark commented on #6476
@SuGlider [SuGlider](https://github.com/SuGlider)

Here is just the core of it with just Serials and it behaves the same
When something is received it executes twice
Without incoming message behaves as expected

[code]

ESP-IDF version is: v4.4-beta1-189-ga79dc75f0a
ESP32-arduino 2.0.2

[2022-03-25 13:49] VojtechBartoska commented on #6467
Hello @savagerex,

thanks for your contribution. The request is now being discussed internally. I will let you now when we have some resolution.

[2022-03-25 18:12] SuGlider commented on #6476
@MiyukiDark

This is what I can see with this latest sketch:

#### Using:
ESP-IDF version is: v4.4-beta1-189-ga79dc75f0a
ESP32-arduino 2.0.2

1) When no "2:0:1:0:1:0:1:0:1:0:0:0:0:1" is sent through Serial2, everything goes well. Every 1 second a number and "empty" goes to Serial and "#APP:cw:data?" goes to Serial2.
2) When I send "2:0:1:0:1:0:1:0:1:0:0:0:0:1" to Serial2, it delays more than 1 sec

[2022-03-25 18:12] #6476 closed

[2022-03-25 18:25] kriswiner commented on #6089
I ran the sketch on my ESP32C3 device which uses the native USB only (no
CP2102 transceiver). I see only a single COM port and get this output:

11:10:59.776 -> I (104) boot:  4 spiffs           Unknown data     01 82
0029000USB-OK[0]
11:10:59.776 -> USB-OK[1] USB-OK[2] USB-OK[3] USB-OK[4] USB-OK[5] USB-OK[6]
USB-OK[7] USB-OK[8]
11:10:59.776 -> USB-OK[9] USB-OK[10] USB-OK[11] USB-OK[12] USB-OK[13]

[2022-03-25 18:37] kriswiner commented on #6089
I have the same problem I had before when using deep sleep. When the
ESP32C3 wakes up it hangs until I open a serial monitor. If I try to run
the sketch from battery it also hangs, presumably waiting for a serial
monitor...

On Fri, Mar 25, 2022 at 11:26 AM Tlera Corporation ***@***.***>
wrote:

[2022-03-25 18:57] kriswiner commented on #6089
OK, maybe this is obvious, but when I removed all USBSerial calls like
USBSerial.print, etc the sketch runs even using deep sleep. So I will be
able to measure the power consumed. This is useful for building an
environmental data logger, which is my goal. So now I can run the ESP32C3
using deep sleep mode and log data at whatever duty cycle I like and can
calculate the battery lifetime, etc.

In t

[2022-03-25 19:03] SuGlider commented on #6385
@gonzabrusco

IDF UART driver controls all the Interrupt events from the ESP32 for UART.

There is an interrupt available, called UART_TX_DONE_INT, but **IDF UART driver doesn't use it to send any event to the user application**.

### Sorry, but we won't ESP32 be able to fulfill your request.

You can try to do something around IDF call [```esp_err_t uart_wait_tx_done(uart_port_t, uart_num, TickTy

[2022-03-25 19:03] #6385 closed

[2022-03-25 19:50] gonzabrusco commented on #6385
Thanks @SuGlider for taking your time checking this.

[2022-03-25 21:18] MiyukiDark commented on #6476
[SuGlider](https://github.com/SuGlider)

Thank you, with  Serial2.setTimeout(0); it works fine

Just how can 1 second wait cause duplicate output
It is not single duplicity, but duplicity on both ports for all the time
I can understand it will cause it for the first time to shift this message
But when it gets a reply every second it should behave fine just delayed
Or something other happens?

[2022-03-25 21:59] SuGlider commented on #6476
Actually there is no duplicate output. This is the sequence:

1)  waits 1 second and sete xLastWakeTime to NOW.
    //run this task every x ms
    vTaskDelayUntil(&xLastWakeTime, pdMS_TO_TICKS(1000));

2) Receives the "packet" on Serial2.  It holds 1 second because of ```Stream::setTimeout(1000)``` as default.
3) After this 1 second, xLastWakeTime is already late...
4) Outputs on Serial the "packe

[2022-03-26 04:56] mobizt commented on #6478
Since the content length header is **strlen(DATA)**, the payload to send should match the header.

Then replace these lines

[code]

with

[code]

[2022-03-26 07:40] MiyukiDark commented on #6476
[SuGlider](https://github.com/SuGlider)
Oh I see
It results in 2 second interval.
I should have seen it in the first place.
It will be obvious 🤦
Thanks for your help

Anyway, it brings up a question. Shouldn't there be a warning in references or somewhere it has this feature default on?
I think it can cause some confusion.

[2022-03-26 13:04] SuGlider commented on #6476
Actually Arduino Stream is as old as Arduino itself.

This is the original Arduino API.
It is documented in Arduino Site.

ESP32 Arduino just follows Arduino API.

Reference:

https://www.arduino.cc/reference/en/language/functions/communication/stream/

https://www.arduino.cc/reference/en/language/functions/communication/stream/streamsettimeout/

[2022-03-26 17:12] MiyukiDark commented on #6476
Sorry I do not know where I was looking
It is clearly there

[2022-03-26 19:20] lexfee commented on #6466
The only setting would be `menuconfig` which I did not touch yet.  The installation of modules and submodules are all done automatically. I am using WSL 2,  so I also tried to reset the Ubuntu-18.04 and start over., which did not help.  Any setting for mbedtls I should check? It is looks like all files are good except the `libmbedtls.a`. Any log I should check?

[2022-03-27 01:34] chrisyouritdept commented on #1890
For me I was able to fix the issue using the command:
$ esptool.py  -p /dev/tty.SLAB_USBtoUART write_flash_status --non-volatile

[2022-03-27 03:06] sudheeshsmadhav commented on #6129
any solution for this. ?

[2022-03-27 05:45] fanfanlatulipe26 opened #6485 "Cant' connect to network. OK in release 1.0.6"
### Board

ESP32 Dev Kit

### Device Description

nothing

### Hardware Configuration

nothing

### Version

v2.0.2

### IDE Name

Arduino IDE 1.8.19

### Operating System

Windows 10

### Flash frequency

80

### PSRAM enabled

no

### Upload speed

921600

### Description

Can't connect to a wifi network.  STA mode.
Standard example HelloServer in for the library WebServer fails.

**Exactly** th

[2022-03-27 09:03] BT3D commented on #2591
Anyone can share board settings and perhaps simple code for TTGO T8 that tests SD card, which works for him?
I tried multiple examples from IDE and internet but still "mounting card failed...".'
thanks

[2022-03-27 09:05] hzhh110 opened #6486 "ESP32 How to set high resistance power supply for GPIO"
### Related area

ESP32

### Hardware specification

ESP32

### Is your feature request related to a problem?

ESP32  How to set high resistance power supply for GPIO

### Describe the solution you'd like

ESP32  How to set high resistance power supply for GPIO

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### I have checked existing list of Fe

[2022-03-27 11:27] Jason2866 commented on #6485
WPA really? Not WPA2. WPA is highly insecure. Do not use anymore.

[2022-03-27 11:49] podaen opened #6487 "Socket close on error in ssl_client.h"
### Board

ESP32 wrover

### Device Description

Doit esp32 devkit v1

### Hardware Configuration

SPI Devices and I2S

### Version

latest master

### IDE Name

Arduino IDE with Visual micro

### Operating System

Windows 7

### Flash frequency

80Mhz

### PSRAM enabled

no

### Upload speed

115200

### Description

See my log

it says the connection is already in progress, but it failed the las

[2022-03-27 12:04] fanfanlatulipe26 commented on #6485
WPA is at least more secure than WEP.
The box from my internet provider does not offer WPA2.

[2022-03-27 12:08] Jason2866 commented on #6485
Open a ticket to get the box changed.

[2022-03-27 12:20] podaen commented on #6487
My mistake... I have comment  FD_ZERO(&fdset);

[2022-03-27 12:20] #6487 closed

[2022-03-27 12:26] pipi61 commented on #6485
Try change to wpa2 on your router

[2022-03-27 12:27] Jason2866 commented on #6485
@pipi61

[2022-03-27 13:51] menachers opened #6488 "SDWebServer example has issues with paths"
### Board

DOIT ESP32 DEVKIT v1

### Device Description

Plain module with SD reader

### Hardware Configuration

Nothing special besides SD reader.

### Version

v2.0.2

### IDE Name

Arduino IDE

### Operating System

Windows 10

### Flash frequency

80 MHz

### PSRAM enabled

no

### Upload speed

115200

### Description

When using the basic example for SDWebServer on edit mode the path are ge

[2022-03-27 15:54] Jason2866 commented on #6466
Which branch do you use from the Arduino lib builder?
The builds i make are from branch `/esp32-s3-support`. Not saying master branch is not working (i just do not use to make builds from, so idk).
Tbh, no idea what to check. I use github actions for building the framework.
Maybe this is easier for you too. You can just clone my fork. After a successfull run a complete framework is released. [http

[2022-03-27 16:44] lbu01 commented on #475
you should use flush() to force print act immediatly .
This code works perfectly for me in Arduino IDE:

#include <WiFi.h>

void setup() {
    Serial.begin(115200);
    Serial.println("light_sleep_mode");
    Serial.flush(); // send immediatly
    esp_sleep_enable_timer_wakeup(1000000); //1 second
}

int unsavedCount=0;
void loop(){
  //This is not going to be called
    unsavedCount++;
    Serial

[2022-03-27 20:56] 0x0fe opened #6489 "ESP32C3, PCNT cannot be used due to linking problem"
### Board

ESP32-C3 dev module

### Device Description

dna

### Hardware Configuration

dna

### Version

latest master

### IDE Name

arduino IDE

### Operating System

windows 10

### Flash frequency

80M

### PSRAM enabled

no

### Upload speed

CDC

### Description

I append to need the PCNT peripheral for an application where a very high number of pulse, at high rate has to be achieved, this

[2022-03-27 21:17] 0x0fe commented on #6489
Well, my bad

[2022-03-27 21:19] kriswiner commented on #5194
What is the lowest ESP32C3Mini1 clock speed that still supports BLE?

[2022-03-27 21:37] 0x0fe commented on #6489
![image](https://user-images.githubusercontent.com/89607149/160302006-31996a32-6eb9-4de7-8795-3938393c73ad.png)
well, there is some conflicting information, the datasheet diagram shows a pulse counter block, but not much mention of it later on. So the question remains, what is the best way to count pulses, comming at a too high rate to use interrupts (say 1 to 3 MHz).

[2022-03-27 22:00] Legohead259 commented on #6480
That is the contents of the file, as copied over USB.

Hi there! I think I installed the master branch successfully, however the same issue occurs during testing. I set the the core level debug to verbose, but did not see any additional outputs during compiling. Is the debug message posted over Serial when the chip boots?

[2022-03-28 00:27] lbernstone commented on #5194
AFAIK, the radio cannot operate at a lower speed than the crystal frequency, which is almost certainly going to be 40MHz on any Espressif manufactured modules.

[2022-03-28 01:08] esambell opened #6490 "esp_wpa2.h Not Found when Building ardunio-esp32"
### Board

M5 StickC

### Device Description

M5StickC no additional peripherals.

### Hardware Configuration

USB Connection

### Version

v2.0.2

### IDE Name

VS Code

### Operating System

Windows 10

### Flash frequency

40MHz

### PSRAM enabled

no

### Upload speed

1500000

### Description

Include of esp_wpa2.h in WiFiST.cpp fails. Needed to manually hardcode the path using:

#include "C:

[2022-03-28 05:31] StarOfSlytherin commented on #6478
Thanks, this seems to work fine. What exactly was the issue? Extra line is causing the issue?

[2022-03-28 05:34] mobizt commented on #6478
Yes, that can cause the issue, depending on server because of invalid payload.

[2022-03-28 05:44] #6478 closed

[2022-03-28 05:56] P-R-O-C-H-Y commented on #6480
@Legohead259 Yes, exactly. Post the debug messages printed over Serial. There must be some errors about sd, why its failing to write to file.

[2022-03-28 08:02] fanfanlatulipe26 commented on #6485
Back home, I ran some tests with my usual internet box where I have more choice with the authentication scheme and I confirm that It appears that WPA is no longer supported in 2.0.2.
In my opinion this choice is more than questionable:

- First of all it introduces incompatibility / regression with 1. 0.6
- It is up to the user to choose the level of security. It is his own responsibility.
- It in

[2022-03-28 08:27] Jason2866 commented on #6490
Needs commit https://github.com/espressif/arduino-esp32/commit/a2077711311ab77e509b79e45dfa3e0a07294c7a which is not merged in main branch

[2022-03-28 09:09] technoblogy commented on #6221
When do you plan to release this version?

[2022-03-28 09:11] #6187 closed

[2022-03-28 09:14] me-no-dev commented on #6485
"fix" is coming. More of an option to allow WPA actually :)

[2022-03-28 10:30] P-R-O-C-H-Y commented on #6089
The issue that can be reproduced by the sketch is about ESP restarts when some Serial monitor connected to COM port of USB-CDC is closed.
To see the result if the ESP restarts you need to connect USB cable to USB port on board (that will be UART - Serial) and 2nd cable to the USB-CDC pins (D- to GPIO18, D+ to GPIO19, 5V and GND) than you will see 2nd COM port for the USB-CDC.
So open both ports (1

[2022-03-28 10:42] Jasoroony commented on #6221
This certainly fixes all the buffering issues I found before.  I do however still have the device lock up with this sketch:

[code]

As before, on Windows 7 x64, if I only send in 64 bytes at a time I.E. one input packet, and I wait until I get back 16 * 64 bytes before sending more, then it runs well forever.  If I send in 128 bytes at a time, it locks up eventually, sometimes having transferred

[2022-03-28 11:16] 0x0fe commented on #6374
Oh ok, thank you, i will take a look, is the change in the current mastr branch?

[2022-03-28 11:21] 0x0fe commented on #6489
is there a way to do it with an RMT RX channel? my need is to count pulses occuring between fixed intervals. Pulses frequency is 1 to 4MHz. I will count at 100ms interval at first. If the RMT does not allow this maybe it can trig an interrupt after a defined number of pulses?

[2022-03-28 11:45] Jason2866 commented on #6490
It is fixed. Commit is merged

[2022-03-28 11:47] SuGlider commented on #6089
@specternecter @kriswiner @P-R-O-C-H-Y

Let's keep it simple and address the initial issue.
The original pain points are:

Correct. All the examples of the same foder of USBSerial example will only work for the S2. They are all about TinyUSB and how to use it. None will work for the C3.

C3 has no full USB interface. It has just a JTAG/Serial that works as USB-CDC.

Because of it, it has a whole s

[2022-03-28 12:34] PantalaLabs commented on #2388
go back to arduino IDE and reinstall
https://dl.espressif.com/dl/package_esp32_index.json

work fine here !

[2022-03-28 13:02] Jason2866 commented on #6481
If you change to Platformio as IDE, this is easily possible. Just add [this](https://github.com/arendst/Tasmota/blob/development/pio-tools/post_esp32.py) script and you will get a merged firmware.

[2022-03-28 13:40] pipi61 commented on #475
ligantx: try
[https://randomnerdtutorials.com/esp32-deep-sleep-arduino-ide-wake-up-sources/](url)

[2022-03-28 15:26] me-no-dev commented on #2388
@PantalaLabs this is a very old link to the JSON. We have not updated that in ages. Please see our documentation for the new link and use that.

[2022-03-28 16:26] Legohead259 opened #6494 "esptools/get.exe Downloads "riscv32-esp-elf" Instead of "xtensa-esp-elf" During Manual Install"
### Board

ESP32-S2 WROOM

### Device Description

ESP32-S2 WROOM on custom PCB

### Hardware Configuration

N/A

### Version

latest master

### IDE Name

VS Code with Arduino Plugin

### Operating System

Windows 10

### Flash frequency

80 MHz

### PSRAM enabled

no

### Upload speed

921600

### Description

During manual installation of the ESP-Arduino master branch, the "get.exe" command dow

[2022-03-28 16:32] mbratch commented on #1484
The best case I'm getting from pinging 3 different ESP32's on my network is in the low 100's of ms. Worst case, it's taking a few seconds! Everything else on my network response within 20ms. There's something dreadfully wrong with the ESP32 response.

I have wifi power save disabled.

I'm using ESP-IDF 4.4.

[2022-03-28 16:39] SteveRMann commented on #2388
**"Please see our documentation for the new link and use that."**
And, that link is, _where_?

[2022-03-28 17:16] SuGlider commented on #6221
One of the pending issue for releasing v2.0.3-RC was the support to the S3.
It seems solved now, with the latest commit to master.

I think that  v2.0.3-RC may go out in about a week or so.

[2022-03-28 17:21] Legohead259 commented on #6480
@P-R-O-C-H-Y I set the debug level to verbose and did not see anything additionally outputted. Are the debug messages sent over UART or USB?

[2022-03-28 17:59] mbratch commented on #1484
I am running ESP-IDF 4.4 and I have Wifi powersave turned off. Pings average about 200ms. Pretty slow.

[2022-03-28 18:28] hamza765 opened #6495 "Partition Table/Option for 16MB flash (and 32MB flash)"
### Related area

Board Support

### Hardware specification

ESP32-WROVER-B

### Is your feature request related to a problem?

I'm trying to flash my wrover-b with a 16MB flash partition, but i can't find any support at all for that. There is a option for ` (2mb app/12.5mb fat)` but i'm using LittleFS, so that won't work. I'm currently stuck using No OTA (1mb app/ 3mb spiffs) which works, but onl

[2022-03-28 18:35] 0x0fe commented on #6494
well, it seems to be a non issue really, when using get.exe it does install the riscv toolchain but it also install the xtensa toolchain, which is certainly the expected behaviour. get.exe is not target specific, it install both toolchains.

[2022-03-28 18:38] Legohead259 commented on #6494
The Xtensa toolchain was not installed on my machine during installation,
hence the issue.

On Mon, Mar 28, 2022, 14:35 0x0fe ***@***.***> wrote:

[2022-03-28 18:38] 0x0fe commented on #6494
![image](https://user-images.githubusercontent.com/89607149/160464560-06e48898-749c-4a5f-940b-2cae680496d7.png)
strange..

[2022-03-28 18:45] Legohead259 commented on #6494
Agreed.
![image](https://user-images.githubusercontent.com/8077426/160465632-e1e9475b-b60b-411a-857e-886d9b92d1e8.png)

[2022-03-28 20:21] Jason2866 commented on #6495
For 16MB a partition example. You can change like you want the OTA partitions and
 SPIFFS (used for LittleFS)
Just do the hex math
esp32_partition_app2944k_spiffs10M.csv
[code]

[2022-03-28 23:23] SuGlider commented on #6221
@Jasoroony
I tested the suggested sketch with Win10 and I can't reproduce any issues with it.
This issue olny happens with Win7?

[2022-03-29 01:44] msun0948 opened #6496 "Cannot simultaneously read/write from Serial"
### Board

WEMOS Lolin32 Lite

### Device Description

WEMOS Lolin32 Lite

### Hardware Configuration

Pins 0 and 4 are jumped together to test simultaneous serial communication
![20220329_122304](https://user-images.githubusercontent.com/31881086/160514810-c6716b42-fd30-46ac-aa56-97b329b18367.jpg)
.

### Version

v2.0.2

### IDE Name

Arduino IDE 1.8.15

### Operating System

Windows 10

### Flas

[2022-03-29 04:53] bongoo1 commented on #6199
hi @P-R-O-C-H-Y
thanx for testing!
my actual settings in the platformio.ini are:

[code]

does this take version 2.0.2 or what do i need to change there?
unfortunately i do not really understand this version settings, as whatever i tried to select there did not work.

and about your modification to the code:
what i wanna do with
`     ledcWriteTone(1,100);`
is to fully set the output to high (with

[2022-03-29 05:07] AcuarioCat commented on #6452
It seems there is a difference between ESP8266 and ESP32 when it comes to the destination IP address.
Whereas ESP8266 is quite happy to use 0.0.0.0 it seems the ESP32 only sends data when it is sent to a broadcast destination ip so 255.255.255.255 works, as does (in my case) 192.168.0.255 but a non-broadcast address (such as 192.168.0.111) does not work and no data is sent.

[2022-03-29 07:10] Jasoroony commented on #6221
I have confirmed it does the same thing on Windows 10 x86 (I don't have a machine with Windows 10 x64 to test though)
[testusbd.zip](https://github.com/espressif/arduino-esp32/files/8368879/testusbd.zip)
This is my test .exe which when run, opens COM1: and shows it fail after transferring a few MB of data.  Try it again on a real serial port with the same sketch and it will run forever (unless you

[2022-03-29 07:33] P-R-O-C-H-Y commented on #6199
Actually I am not familiar with PlatformIO settings. I am using Arduino IDE / VS code. But what you can do is to check [our docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html#installing-using-platformio) or this issue [link](https://github.com/platformio/platform-espressif32/issues/619). But I think you are using just 2.0 version of Arduino-esp32. Follow the docs or

[2022-03-29 07:48] bongoo1 commented on #6199
hi @P-R-O-C-H-Y

i too thought that i probably use 2.0.0, but could also be 2.0.2. i was not able to find that out. that's why i asked ;-)

and about the code:
yes, first part is turning off by keeping the output low.
second is turning on at nominal frequency by keeing the output high. i tried to do so by modifying the duty cycle accordingly. should i do here just a
`ledcWrite(1,255); `
? i was no

[2022-03-29 08:16] P-R-O-C-H-Y commented on #6199
Hi @bongoo1

I think according to your platformio.ini you use 2.0.0. But if change this it should do the thing ;)
[code]
to
[code]

Actually in 2.0 version I don't know if 254 or 255 will do it for you. In 2.0.2 the LEDC was refactored and now the 255 will do the thing for you.
But you want to set output to HIGH and change the frequency to best option is to call `ledcChangeFrequency(1,100,8);` and

[2022-03-29 08:52] fary99 commented on #6444
Tried it. Same thing

[2022-03-29 09:34] me-no-dev commented on #6494
not extracting for some reason?

[2022-03-29 09:36] me-no-dev commented on #2388
https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html

[2022-03-29 10:52] VojtechBartoska commented on #6444
Hello @fary99, thanks for your test.

@PilnyTomas Can you please test this issue on the latest master? In the meantime.

[2022-03-29 11:40] VojtechBartoska commented on #1084
Hello, I'm closing this issue as a problem was in cable. Marking with label "for Reference" and we will consider adding this later into our FAQ section in the documentation.

[2022-03-29 11:40] #1084 closed

[2022-03-29 12:15] VojtechBartoska commented on #5064
Hello, I'm closing this issue. Right now ESP-IDF v4.4 is supported for using Arduino as ESPIDF component. Related issue #5819.

[2022-03-29 12:15] #5064 closed

[2022-03-29 12:17] VojtechBartoska commented on #5370
Hello @savagerex, I'm closing this issue. If you still need help you can reopen this one or create a new issue. Thanks for your contribution.

[2022-03-29 12:17] #5370 closed

[2022-03-29 12:19] mbratch commented on #1484
The ping response on my ESP32 running with ESP-IDF 4.4 seems to be relatively long. Unclear why this is the case.
![image](https://user-images.githubusercontent.com/7990964/160609652-c32a4b68-b62b-4ef1-b7fb-0f4f8f1f9ad9.png)

[2022-03-29 12:29] VojtechBartoska commented on #5450
Hello @hasenradball, sorry for replying so late. Any chance you will test this on latest version 2.0.2? Thanks a lot in advance for your answer.

[2022-03-29 12:34] VojtechBartoska commented on #6433
Hello @MassimilianoMontagni98, as mentioned above, we need more info. I'm closing this issue due to that. If you are able to provide more info, please do so and reopen this issue. Thanks for your contribtuion.

[2022-03-29 12:34] #6433 closed

[2022-03-29 12:36] VojtechBartoska commented on #6431
I'm closing this issue because more info wasn't provided. If needed, consider reopening @JachinY.

[2022-03-29 12:36] #6431 closed

[2022-03-29 12:37] VojtechBartoska commented on #6427
Hello @hgshoggins, any chance you take a look on mentioned PR above?

[2022-03-29 12:44] VojtechBartoska commented on #6381
Hello I'm closing this issue due to no response. If needed you can reopen it.

[2022-03-29 12:50] VojtechBartoska commented on #6496
Hello @msun0948, Thanks for your contribution. We will soon release version 2.0.3-RC1 (this week). Can you please wait and retest your code on it? We did some changes on Serial from version 2.0.2 which can solve your problem.

[2022-03-29 12:59] hgshoggins commented on #6427
I'd love to, but actually I'm not sure how I can manage to do so. Ideally, I would work directly from published upstream master. Unless you guide me on how to work from that PR, but that's out of the scope of these comments, and I'm afraid I don't have time/skills for that.

Clearly, here is what is at stake right now: I have a WiFi network to which I connect machines (Linux + Windows + Android) a

[2022-03-29 13:39] hasenradball commented on #5450
Hi,
yes I could test this with the actual version.

[2022-03-29 13:42] SuGlider commented on #6221
@Jasoroony
UART and CDC are way different. Both deal with serial communication but they work in a very different way in the layers 1 and 2 (phy and link from OSI/ISO model).

ESP32-S2 CDC  applies [Bulk Transfers](https://www.beyondlogic.org/usbnutshell/usb4.shtml). It is based on stream pipes that sends blocks of 64 bytes in sequence. The time between transferring two consecutive blocks is about

[2022-03-29 13:54] #6458 closed

[2022-03-29 16:06] brentru commented on #6430
@P-R-O-C-H-Y I tested this with the recent release of [ESP32 Arduino 2.0.3-RC1 based on ESP-IDF 4.4](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) and the QTPY ESP32-C3

The `WiFiClientSecure` sketch included with Arduino-ESP32 works intermittently,

On a successful run:
[code]

On an unsuccessful run:
[code]

[The WiFiClient (insecure) sketch](https://learn.adafruit.com/adafr

[2022-03-29 17:06] Jason2866 commented on #6430
Which Brand is your Router / Accesspoint?

[2022-03-29 17:26] brentru commented on #6430
@Jason2866  I'm using a Verizon FiOS G3100. Devices connect to the 2.4GHz "IoT Device Network".

[2022-03-29 17:36] bongoo1 commented on #6199
hi @P-R-O-C-H-Y
after switching platform_packages, i get the error message
[code]
i get this entry for each project where i switch the platform_packages.
is this just something to ignore or is something missing in my setup?
thanx!

[2022-03-29 18:05] hasenradball commented on #5450
I testetd it on the latest version of the Espressif 32 on PIO.
`PLATFORM: Espressif 32 (3.5.0) > Espressif ESP32 Dev Module`

The issue is still available...
see below.

[code]

[2022-03-29 18:13] khoih-prog commented on #5594
I've tested the new [**ESP32 core 2.0.3-RC1**](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) using many libraries, and everything is working OK so far to replace the temporary `s3-support branch`. Thanks for so good jobs and it's now so much easier to install via Arduino Library Manager.

[2022-03-29 18:19] Jason2866 commented on #6430
So a very new one. We have users which have problems with brand new feature rich routers when using [Tasmota](https://github.com/arendst/Tasmota) Brand Asus are most of the time problematic. But not only. Until now we did not find the reason for this issue. Other do just work fine. Maybe your issue is such a combination too.
Maybe you have the possibility to try a other AP? If this works a deep di

[2022-03-29 18:28] brentru commented on #6430
@Jason2866  I don't think it's the router's age - I've had this router a well over a year and have used it with a large number of ESP8266, ESP32, ESP32-S2 development boards for my work at Adafruit. Additionally, Tasmota does work on this board and router combination.

I would be open to trying another AP and/or diving into the network traffic w/ WireShark - I'll order one up.

[2022-03-29 18:45] Jason2866 commented on #6430
Okay, router issues hit all esp devices. If only the C3 behaves badly it is something else.
Tried a IDF44 wifi example sketch already?

[2022-03-29 20:01] me-no-dev commented on #5450
@hasenradball  PIO's original support is for very old version now. Check: https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html#installing-using-platformio

[2022-03-29 20:06] SuGlider commented on #6430
@brentru I'll look into it.

[2022-03-29 21:07] Jasoroony commented on #6221
I don't use 2048 bytes for CDC input in this example, I send 128 bytes and I wait for 16 * 128 (2048) bytes to come back, where I've increased the PC buffer to 4096 bytes.  This test case has worked on every other device (CDC or UART) I've tried it on and some of them are transferring data much faster than the ESP32-S2 without any issue (Pi4 in gadget mode).

Besides, If you ran my example and saw

[2022-03-29 21:20] Jasoroony commented on #6221
I should mention, the 4096 byte PC buffer is a device driver IO control setting I make, not my actual test code.

[2022-03-29 22:33] msun0948 commented on #6496
@VojtechBartoska
Thanks for getting back to me.
I'll try again later then.

[2022-03-30 00:20] SuGlider commented on #6430
@brentru
I tested both sketches and they worked fine with v2.0.3RC1.

Board: ESP32-C3-DevkitM1-v1.0 (C3 Mini1 module)
I reset the board several times and both sketches connected to AP, got IP and then connected to the remote server.
The AP was configured for ```WPA_PSK``` and then later ```WPA2_PSK``` - always with ```AES```.

### UART0 Debug output (CDC on -- which doens't work with WiFi):

[code

[2022-03-30 01:33] Legohead259 commented on #6480
@P-R-O-C-H-Y

I have it printing statements through USB. I can see the usual print messages ("Appending to File", "File Appended", "Used space..."). However, there does not seem to be any additional debug messages like you have described. Another bug? Or do the debug messages specifically use the UART GPIO pins? If it is the latter, that will be a problem...

[2022-03-30 01:35] Legohead259 commented on #6494
That screenshot is right before the terminal window closed. As far as I can tell, the executable is not even attempting to download the right files.

[2022-03-30 01:41] lbernstone commented on #6494
Can you open a terminal window and run get.exe from there?  That way you can see if there is an error happening on the xtensa download.

[2022-03-30 02:28] SuGlider commented on #6221
Ok, I'll investigate it further.

[2022-03-30 04:34] msun0948 commented on #6496
@VojtechBartoska
The jumped serial test code works with version 2.0.3-RC1.
Thanks for your help!
I'm unsure of the correct etiquette... Do I need to "Close with comment"?

[2022-03-30 06:30] P-R-O-C-H-Y commented on #6480
@Legohead259
If you set debug level to verbose and you don't see any debug messages, you can try call `Serial.setDebugOutput(true);` in `setup()` after `Serial.Begin()`. But I think this should be enabled by default. If your code is different from sketch provided, use instead of Serial the "serial you use".

[2022-03-30 07:52] P-R-O-C-H-Y commented on #3603
@dsyleixa You can now update from Arduino Board Manager to 2.0.3-RC1 version :) So you can give it a shot.

[2022-03-30 08:34] PilnyTomas commented on #5155
Hi, there was a recent update of Arduino-ESP32 core to version 2.0.3-RC1 and with this, it seems to me that the issue is gone. Could you please update a try it out?

[2022-03-30 08:36] codemee opened #6499 "cannot use variable times"
### Board

LOLIN D32, DOIT ESP32 DEVKit

### Device Description

Plain LOLIN D32, DOIT ESP32 DEVKit module.

### Hardware Configuration

All pins not connected.

### Version

v2.0.2

### IDE Name

Arduino IDE 1.8.13

### Operating System

Windows 10

### Flash frequency

40MHz

### PSRAM enabled

no

### Upload speed

115200

### Description

The value of variables times was overritten with 620773

[2022-03-30 08:46] llamaonaskateboard commented on #6269
I can also confirm that everything is fine on the release MacOS 12.3 after reversing the workarounds.
Guess we can just assume the betas had a weird dylib behaviour.

[2022-03-30 09:41] me-no-dev commented on #6499
you need to make it `static int times = 32;` if you want to have it initialized with particular value.

[2022-03-30 09:41] #6499 closed

[2022-03-30 09:51] PilnyTomas commented on #6444
Hi, what exactly does it means that the frequency does not change - are you checking it on an oscilloscope, or how?
Right now I can check it only via software and it seems ok. The maximum frequency is 1 million - anything above that will set that 1 million.
Please try to call `Wire.getClock()` to see what the software has to say about the requested clock frequency.
It is also good practice to chec

[2022-03-30 10:12] PilnyTomas commented on #4980
Hello, there has been a recent update of the Arduino-ESP32 core to 2.0.3-RC1 and on my side, it seems that connection time got back to previous values similar to pre-1.0.6
Can you guys please try it out?

[2022-03-30 10:28] codemee commented on #6499
Thanks. Can you explain why does it need to be static ? If it didn't named 'times',  everything works. And the same code works fine with  ESP32 Arduino Core 1.0.6.

[2022-03-30 11:09] VojtechBartoska commented on #6496
@msun0948 Thanks for your fast testing. I will close a issue. Good luck with your Arduino projects and if needed, don't hesitate to contribute.

[2022-03-30 11:09] #6496 closed

[2022-03-30 11:19] VojtechBartoska commented on #6435
Hello @gcohen10, can you please give it a try on 2.0.3-Rc1? Thanks for your help!

[2022-03-30 11:19] me-no-dev commented on #6499
I would guess that the variable is used (also not as static) somewhere in the SDK source. That is why it is good to keep local variables static :)

[2022-03-30 11:23] me-no-dev commented on #5594
the integrated JTAG+CDC that is used for flashing has the same USB PID/VID. We do not have a way to distinguish the board that way, so it picks one of them.

Nothing has been changed to cause crashes to not show ;)

[2022-03-30 11:23] codemee commented on #6499
thanks.

[2022-03-30 11:38] VojtechBartoska commented on #6486
@P-R-O-C-H-Y Can you help with answering this please?

[2022-03-30 11:47] VojtechBartoska commented on #5494
Hello, I'm closing this issue as it's outdated and seems it was solved already. Thanks for your contribution, if needed, you can reopen the issue.

[2022-03-30 11:47] #5494 closed

[2022-03-30 11:49] VojtechBartoska commented on #5380
Hello, as a part of Issue tracker cleanup I'm closing the issue, if still needed. You can reopen it. Thanks for your contribution.

[2022-03-30 11:49] #5380 closed

[2022-03-30 11:49] tobozo commented on #5594
@me-no-dev I'm testing this crash code:

[code]

Serial console output loops on this, but produces no "Exception was unhandled" message or backtrace :

[code]

openocd output:

[code]

[2022-03-30 11:50] VojtechBartoska commented on #5481
Hello @badril1978, sorry for late reply. Are you able to test your issue on development version 2.0.3-RC1. You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release in Arduino IDE.

[2022-03-30 11:52] VojtechBartoska commented on #5500
Hello @Electro-boy, is this still valid?

If yes, please give it a try on latest development version 2.0.3-RC1. How to use this version is explained [here](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html).

[2022-03-30 11:54] VojtechBartoska commented on #5506
For some reason issue wasn't closed with given PR. I'm closing manually.

[2022-03-30 11:54] #5506 closed

[2022-03-30 11:54] VojtechBartoska commented on #5507
Thanks for your contribution! Closing.

[2022-03-30 11:54] #5507 closed

[2022-03-30 11:56] VojtechBartoska commented on #5514
Hello, as there is no traction. I'm closing this issue. If need, you can reopen it @dibalavs. Keep in mind UART was refactored and it needs to be validated against v2.0.3-RC1. Thanks for your contribution.

[2022-03-30 11:56] #5514 closed

[2022-03-30 11:58] VojtechBartoska commented on #5510
Hello, as there is no traction. I'm closing this issue. If need, you can reopen it @victor-chew. Thanks for your contribution.

[2022-03-30 12:18] codemee commented on #6499
I guess this file does the trick https://github.com/espressif/arduino-esp32/blob/371f382db7dd36c470bb2669b222adf0a497600d/tools/sdk/esp32/ld/esp32.rom.syscalls.ld

[2022-03-30 12:47] smuellener opened #6500 "LAN8720 PHY can fail to initialize or crash. Methods to monitor or query this are inaccessible for arduino core >=2.0.0"
### Board

ESP32 PICO D4 with LAN7820

### Device Description

Custom

### Hardware Configuration

LAN7820 connected to ESP32 via RMII in a standard way. ETH.begin() can be called without arguments.

### Version

v2.0.2

### IDE Name

Arduino IDE with VisualMicro

### Operating System

Windows 11

### Flash frequency

40Hz

### PSRAM enabled

no

### Upload speed

115200

### Description

Before a

[2022-03-30 13:43] VojtechBartoska commented on #5515
Hello @rishadali , sorry for late reply. Are you able to test your issue on development version 2.0.3-RC1 to check if it is still valid?. You can take a look on [hDocs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release in Arduino IDE.

[2022-03-30 13:47] VojtechBartoska commented on #5255
Hello @maxgerhardt , I'm closing this issue as there is nothing to do on our side. Thanks for your contribution.

[2022-03-30 13:47] #5255 closed

[2022-03-30 13:47] VojtechBartoska commented on #5534
Hello @rishadali , sorry for late reply. Are you able to test your issue on development version 2.0.3-RC1 to check if this is still valid?. You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 13:52] VojtechBartoska commented on #5459
Hello, sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 13:53] maxgerhardt commented on #5255
Doing it in *only* platform-espressif32 scripts is way more complicated. The board definitions for the boards using the TinyUF2 bootloader should be expanded by an attribute (say, board.build.arduino.tinyuf2_bootloader = true) which can then be reacted to in the builder scripts **in this respository**. Otherwise code for some bootloaders is in the builder script here and some others in some weird

[2022-03-30 13:53] VojtechBartoska commented on #5459
Hello, sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 13:54] VojtechBartoska commented on #5524
Hello @JonRobo, I'm closing as it was answered above. Kudos to @chegewara, If needed you can reopen the issue.

[2022-03-30 13:54] #5524 closed

[2022-03-30 13:55] VojtechBartoska commented on #5255
Thanks for fast reply, @me-no-dev can you please take a look in meantime on last comment and if it's applicable? Thanks!

[2022-03-30 13:57] VojtechBartoska commented on #5542
Hello @tradexsrl, did you solve your issue?

[2022-03-30 13:59] VojtechBartoska commented on #5543
Hello, sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 13:59] VojtechBartoska commented on #4736
Hello @tko, sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 14:00] VojtechBartoska commented on #5551
Hello @chibisuke, is this still actual or you found a solution?

[2022-03-30 14:01] VojtechBartoska commented on #5553
Hello @danilodivaio, still actual?

[2022-03-30 14:02] VojtechBartoska commented on #5555
Hello @PORTB, thanks for your contribution. We will consider this and let you know.

[2022-03-30 14:03] VojtechBartoska commented on #5552
Hello @helmut64 , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 14:04] VojtechBartoska commented on #5495
Hello, I'm closing this one as there is no traction. If needed, you can reopen it.

[2022-03-30 14:04] #5495 closed

[2022-03-30 14:06] VojtechBartoska commented on #5542
Ok, so then I will close this issue and if needed, open a new one as there is a issue template which gives us more information. Thanks for your quick response and good luck with your projects.

[2022-03-30 14:06] #5542 closed

[2022-03-30 14:07] VojtechBartoska commented on #5561
Hello @Kaibin11, sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 14:09] VojtechBartoska commented on #5455
Hello @francescot92, sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 14:11] VojtechBartoska commented on #5558
Hello @jandrassy, sorry for late reply. We will take a look on this if we can fix this.

[2022-03-30 14:12] chibisuke commented on #5551
I did work around it by using two seperate ESP32 devices, so... yes this should still be current.

[2022-03-30 14:12] VojtechBartoska commented on #3902
Hello @Twilight-Logic , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 14:13] VojtechBartoska commented on #5258
Hello @denschub , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? Serial was refactored lately. You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release ver

[2022-03-30 14:13] VojtechBartoska commented on #5221
Hello @avillacis , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 14:17] jgamble-simple commented on #5534
Yes....this no longer asserts on a corrupt file system.....I am using arduino 2.0.0 and we no longer have our custom patch in place to fix it.

[2022-03-30 14:17] #5534 closed

[2022-03-30 14:18] VojtechBartoska commented on #5584
Hello, closing. Thanks @atanisoft for your reply.

[2022-03-30 14:18] #5584 closed

[2022-03-30 14:18] VojtechBartoska commented on #5559
Hello @saeedbala, sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 14:19] VojtechBartoska commented on #5587
Hello @Bei-Ji-Quan, sorry for late reply. Timer was refactored to use ESP-IDF API. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose developmen

[2022-03-30 14:20] VojtechBartoska commented on #5588
Hello @minhhieuec , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 14:22] VojtechBartoska commented on #5597
Hello @xpdrycry , sorry for late reply. I2S was implemented already. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release vers

[2022-03-30 14:24] VojtechBartoska commented on #5602
Hello @tsctrl , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 14:25] VojtechBartoska commented on #4882
Hello @jfjlaros  , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 14:26] VojtechBartoska commented on #5537
Hello @drws, we will take a look on this again. Sorry for late reply.

[2022-03-30 14:28] VojtechBartoska commented on #5612
Hello @Mos135, I'm not sure what exactly is this request about. We will take a look on it with the Team and let you know later.

[2022-03-30 14:29] VojtechBartoska commented on #5618
Hello @manchoz, is this still valid?

[2022-03-30 14:31] VojtechBartoska commented on #4305
Hello @radimkohout, is this still actual?

[2022-03-30 14:32] VojtechBartoska commented on #5460
Hello @Jason2866  , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid?

Thanks!

[2022-03-30 14:34] VojtechBartoska commented on #5629
Hello, closing. Please take a look on #6012.

[2022-03-30 14:34] #5629 closed

[2022-03-30 14:37] VojtechBartoska commented on #5489
Hello, I'm closing this issue you can found and link issues in #6044 for PIO setup.

[2022-03-30 14:37] #5489 closed

[2022-03-30 14:38] VojtechBartoska commented on #5638
Hello @assumptionsoup, I'm closing this issue as we weren't able to reproduce it and no more info was provided. If needed you can reopen it. Thanks for your contribution.

[2022-03-30 14:38] #5638 closed

[2022-03-30 14:39] VojtechBartoska commented on #5641
Hello @ClemensGruber, we will reevaluate this again and let you know.

[2022-03-30 14:49] VojtechBartoska commented on #5646
Hello, I'm closing this issue. You can find more info and workaround in this issue #6044.

[2022-03-30 14:49] #5646 closed

[2022-03-30 14:50] VojtechBartoska commented on #5246
Hello @ToMe25 , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 14:52] VojtechBartoska commented on #5653
Hello @olicooper, we will take a look on this request. Thanks for conttribution.

[2022-03-30 14:53] VojtechBartoska commented on #4566
This seems to me outdated and solved already. Closing, if needed you can reopen it. Thanks for understanding.

[2022-03-30 14:58] Jason2866 commented on #5460
@VojtechBartoska Thank you for the reminder, i will remove the workaround code and test.

[2022-03-30 15:00] VojtechBartoska commented on #5662
Hello @Universumgames , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 15:01] VojtechBartoska commented on #5666
Hello @brahmajit, is this still valid?

[2022-03-30 15:02] VojtechBartoska commented on #5654
Hello @mightChamp  , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 15:04] VojtechBartoska commented on #5705
Hello @sssuun  , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 15:05] VojtechBartoska commented on #5710
Hello @gomegs , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 15:06] helmut64 commented on #5552
Hello @VojtechBartoska the problem still exists with the 2.0.3-RC1 release

[2022-03-30 15:07] VojtechBartoska commented on #5713
Hello, I'm closing this as duplicate. Please follow mentioned issue #5597.

[2022-03-30 15:07] #5713 closed

[2022-03-30 15:08] VojtechBartoska commented on #5578
Duplicate of #5597, I'm closing this one. @xpdrycry please continue discussion in mentioned issue so we don't have 3 same issues. Thanks!

[2022-03-30 15:08] #5578 closed

[2022-03-30 15:11] VojtechBartoska commented on #5715
Hello @ballen4705, we will take a look on this again and check if it's applicable. Thanks for your contribution.

[2022-03-30 15:12] #5658 closed

[2022-03-30 15:14] VojtechBartoska commented on #5691
as there is a PR which didn't sync. I'm closing this manually, if needed you can reopen this. Thanks!

[2022-03-30 15:14] #5691 closed

[2022-03-30 15:15] VojtechBartoska commented on #5725
Hello @mbastida123, is this still relevant?

[2022-03-30 15:17] VojtechBartoska commented on #5460
Thanks @Jason2866, adding to Roadmap then and we will investigate it more. :)

[2022-03-30 15:19] VojtechBartoska commented on #5742
Hello @Kevin-CEN, do you still need help?

[2022-03-30 15:22] VojtechBartoska commented on #5780
Hello @mrdc, sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 15:23] atanisoft commented on #5552
@P-R-O-C-H-Y Change https://github.com/espressif/arduino-esp32/blob/1e388a24cef1b336990b8f67dbce63cc8a4794a4/cores/esp32/esp32-hal-gpio.h#L45 to `0x3` which maps to https://github.com/espressif/esp-idf/blob/e3c0229d2ec9bfd0203a3cab18d6642798457578/components/hal/include/hal/gpio_types.h#L376. Perhaps it would make more sense to use the IDF type values directly?

[2022-03-30 15:23] VojtechBartoska commented on #5560
Up to last comment, I'm closing this issue as you found a solution. :)

[2022-03-30 15:23] #5560 closed

[2022-03-30 15:26] VojtechBartoska commented on #5782
Hello @ericlangel , I'm closing this issue as Timer was refactored and this was supposed to be solved by both mentioned PRs above. If you will still face issue on latest version 2.0.3-RC1, please reopen it. Thanks for your contribution.

[2022-03-30 15:26] #5782 closed

[2022-03-30 15:27] helmut64 commented on #5552
Dear @atanisoft I understand, however in Arduino ESP32, Atmel D21 and all others Arduino's the GPIO  OUTPUT reading is working. I watched that this compatibility problem exists only with the C3

[2022-03-30 15:27] VojtechBartoska commented on #5783
Hello @olicooper, adding this to roadmap and we will investigate this more.

[2022-03-30 15:28] #5779 closed, assigned to nobody

[2022-03-30 15:34] atanisoft commented on #5552
That is due to C3 being the only ESP32 variant that uses the IDF APIs so far. It is not a bug in so far as how the pin is configured, it is strictly OUTPUT only and IDF does not track the state for OUTPUT only pins. It must be configured as INPUT_OUTPUT for IDF APIs to track and return the state.

[2022-03-30 15:34] VojtechBartoska commented on #5454
Hello @rtrbt , we will take a look on this.

[2022-03-30 15:35] VojtechBartoska commented on #5446
Hello @witnessmenow, sorry for replying that late but did you solve your issue?

[2022-03-30 15:37] VojtechBartoska commented on #5442
Hello @openedhardware, we will take a look on this.

Related links:
https://www.arduino.cc/reference/en/libraries/esp32spislave/
https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/peripherals/spi_slave.html

[2022-03-30 15:38] VojtechBartoska commented on #5465
Hello @ln-12, is this still valid?

[2022-03-30 15:39] VojtechBartoska commented on #5435
Solved already, thanks for your contribution.

[2022-03-30 15:39] #5435 closed

[2022-03-30 15:41] VojtechBartoska commented on #5432
Closing as expired, version 1.0.4 is very old. We are not going to support that anymore. Thanks for your contribution.

[2022-03-30 15:41] #5432 closed

[2022-03-30 15:42] VojtechBartoska commented on #5423
Hello, I'm closing this issue as there is already merged PR. Thanks for your contribution @rtrbt!

[2022-03-30 15:42] #5423 closed

[2022-03-30 15:42] VojtechBartoska commented on #5421
Hello @Duster98 , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 15:43] VojtechBartoska commented on #5400
Closing due there is merged PR already.

[2022-03-30 15:43] #5400 closed

[2022-03-30 15:44] VojtechBartoska commented on #5392
Hello @krupis, can I consider this as solved?

[2022-03-30 15:45] VojtechBartoska commented on #5386
Hello @blaubaer, do you still need some help?

[2022-03-30 15:46] VojtechBartoska commented on #5379
Hello @DavidHsu100, is this still valid? If yes, are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 15:47] VojtechBartoska commented on #5377
Hello @dazhao168  , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-30 15:48] VojtechBartoska commented on #5335
Hello @shariq-azim, sorry for replying to you late. Are you still looking for help?

[2022-03-30 15:49] #5313 closed

[2022-03-30 15:51] VojtechBartoska commented on #5233
Hello @Magerquark, still relevant? Thanks for your answer!

[2022-03-30 15:52] VojtechBartoska commented on #3659
Hello, adding this issue to Roadmap so we will investigate this more.

[2022-03-30 15:53] #5170 closed

[2022-03-30 15:55] VojtechBartoska commented on #4655
Hello, adding this to Roadmap so we will investigate this more and come with some resolution.

[2022-03-30 15:56] VojtechBartoska commented on #4551
Hello, we will take a look on this issue and evaluate it soon. Thanks for your contribution.

[2022-03-30 15:59] VojtechBartoska commented on #976
I'm closing this as mentioned PR was merged. If you still face some issues regarding this, you can reopen it. Thanks to all for your contribution.

[2022-03-30 15:59] #976 closed

[2022-03-30 16:23] mycbtec commented on #5694
Unfortunately, no solution yet. If you have ampersand & in the sketch folder name it will cause a compile problem!

[2022-03-30 16:23] maxgerhardt commented on #6463
Fixed through #6464.

[2022-03-30 16:47] VojtechBartoska commented on #5694
Can you then provide more info? Your sketch and so on?

[2022-03-30 16:51] Nischal-Poudel commented on #3722
Hey, I have been experiencing the same issue with my esp 32. It connects to a https every 2 sec to get a API request and then closes the connection with the server with client.stop(). I am adding this to a function and the function is called every 2 sec.

The code works fine for 10-15 minutes then the infamous error pups out and there is no-improvements thereafter.
I have been reading this thread

[2022-03-30 17:06] mbastida123 commented on #5725
Hello @VojtechBartoska,

Yes it is still relevant. I haven't checked since then (I gave up on using Beacon with ESP32 for other reasons). But it would be nice to have it working :)

Will try again just in case some release has fixed the problem.

[2022-03-30 17:14] mbastida123 commented on #5725
I have just tried and I still get the same error... :(

[2022-03-30 17:14] roysG commented on #5600
No, i close it now

[2022-03-30 17:14] #5600 closed

[2022-03-30 17:17] mycbtec commented on #5694
It's easy to simulate the bug:

1- Create a blank sketch
2- Save it into a folder containing &, for example: C:\Bugtest&\sketchdemo
3- Try to compile
4- Remove & and try to compile the sketchdemo again... it should works.

The problem here is if the PC user has "&" in it's name, the sketch will never compile... this bug did not happen in version 1.0.4

[2022-03-30 17:47] Shane87F3Ng commented on #5053
Thanks for your answer!!

I can do that on next monday, until then i am away, but maybe one of the others can check it earlier :)

[2022-03-30 18:16] tablatronix commented on #5038
Yeah this is bizarre bug has to be in SDK, or flash, I have not gotten that far into checking mem or structs..

This should never happen.. but it is, and i have no idea how to reproduce, it just happens now and then..

![Screen Shot 2022-03-29 at 1 45 13 PM](https://user-images.githubusercontent.com/807787/160903626-b1974844-e4bf-4a63-935e-743de28e27cc.png)

[2022-03-30 18:54] hasenradball commented on #5450
Hi @me-no-dev,

I changed now to the actual version, and get mor issues:

[code]

[2022-03-30 19:22] YordanYanakiev commented on #3722
Rock-solid ? - the short answer is "No", disregarding that the best part of ESP's is the WiFi as a controller - it is one of the worse as a software.
There is a fix, which did most of it if You trace my suggestion for it.
Yet, they implemented it, it worked, but then scratched out, and then again did other changes, which I am not sure if it is good at the moment.
So, first of all -did you try with

[2022-03-30 19:27] Nischal-Poudel commented on #3722
SDK? regarding the changes you suggested? I am running the latest version
of libraries as I use platform Io and I have using default method of adding
library to the project.
I need to esp because of its performance for my project but i also need
this feature working.
I am working on another part of code now, but that problem still exists.
I'll try upgrading the library as you've suggested in ardui

[2022-03-30 19:37] YordanYanakiev commented on #3722
So, You are on 2.0.2 ?

[2022-03-30 19:38] YordanYanakiev commented on #3722
Also You can try the dev version of it https://github.com/espressif/arduino-esp32/releases/

[2022-03-30 19:39] Nischal-Poudel commented on #3722
Yes, I think so, I am on the latest available Library version.

On Thu, Mar 31, 2022, 1:22 AM Yordan Yanakiev ***@***.***>
wrote:

[2022-03-30 19:39] jfjlaros commented on #4882
Hi @VojtechBartoska ,

I tested version 2.0.3-RC1, but I see no difference in behaviour.

[2022-03-30 19:48] radimkohout commented on #4305
Yeah, it's still relevant.

[2022-03-30 19:55] dsilletti opened #6502 "2.0.3 RC1 issues with ESPAsyncWebServer Processor"
### Board

ESP32 Dev Module

### Device Description

DevKitC

### Hardware Configuration

SPI connected Display

### Version

latest master

### IDE Name

Arduino IDE

### Operating System

Mac OS 12.3

### Flash frequency

80Mhz

### PSRAM enabled

no

### Upload speed

115200

### Description

after the upgrade to 2.0.3 RC1 the ESPAsyncWebServer Processor is not working as expected, is cutting t

[2022-03-30 21:01] dsilletti commented on #6502
I tried to revert to previous commits to find the issue.

I found the commit that is breaking the code:
Edited VFSFileImpl::read to use both read/fread https://github.com/espressif/arduino-esp32/commit/7b89b39e1087742ada6e8992159390f885c07919

please fix it or remove it.

reverting to the previous commit  905f8f2 Warns about SSP only available for ESP32 (#6455) fixed  finally the issue and the web

[2022-03-30 21:04] me-no-dev commented on #6502
@P-R-O-C-H-Y take a look please :)

@dsilletti thanks for digging in! Will get fixed!

[2022-03-30 21:18] me-no-dev commented on #5450
@hasenradball it is very much possible that since we added S3 support, support in PIO degraded. I will poke @Jason2866 here for ideas. esptool and the toolchain are not the correct version. PIO guys are from Ukraine and understandably they are in a sticky situation ATM, so we need to resort to "hacks" to keep things going.

cc: @pedrominatel we might need update of the docs

[2022-03-30 21:36] Twilight-Logic commented on #3902
Thank you for your response. I have tried both versions 1.8.19 and 2.0.0 rc5 of the IDE:

[code]

[code]

[2022-03-30 21:43] me-no-dev commented on #5594
<img width="908" alt="Screenshot 2022-03-31 at 0 43 30" src="https://user-images.githubusercontent.com/12663778/160936041-87ff3cda-d45c-4fc1-a7bd-a46a51bb80a0.png">

[2022-03-30 21:58] Jason2866 commented on #5450
@hasenradball  This setup should do the job. It uses Arduino core 2.0.3-rc1
[code]

[2022-03-31 00:27] me-no-dev commented on #5594
probably your issue is that you are attached to the USB port of the chip (integrated CDC+JTAG) and not through the UART0 port, where backtrace will be printed. I will check later to confirm

[2022-03-31 03:16] stevenli2020 commented on #5860
i had the same "scan_evt timeout" issue, been scratching my head for the past 2 weeks. did anyone managed to find a fix?

[2022-03-31 03:21] stevenli2020 commented on #5860
currently i am testing adding a delay of 10ms before "pBLEScan->clearResults();" - suspect clearResults happens too fast while callback function is still retrieving data. not sure if this could help...
the test has been going on for 2 days now, so far still running ok

[2022-03-31 04:51] pilnikov commented on #5741
yes, I saw it

[2022-03-31 04:51] #5741 closed

[2022-03-31 05:18] hasenradball commented on #5450
Thanks for the reply,
I will check this again in the evening.

[2022-03-31 06:13] ballen4705 commented on #5715
Hi Vojtech, thanks for picking this up.  As I wrote in September last year, if there is support for this, I will provide a patch as a pull request. Please let me know.  Cheers, Bruce

[2022-03-31 06:21] VojtechBartoska commented on #5725
Adding it to the Roadmap, thanks for testing.

[2022-03-31 06:28] VojtechBartoska commented on #5694
@mycbtec I see, ampersand is often forbidden in Windows as it can cause problems in some apps having collision, so it's safer to not use it
I would say we won't fix this and gladly ask you to not use this character in your filename or a path.

[2022-03-31 06:28] #5694 closed

[2022-03-31 06:59] VojtechBartoska commented on #4882
Hi, Thanks for testing. I'm adding it to the roadmap and we will take a look on this more.

[2022-03-31 07:17] rtrbt commented on #5454
Thanks, but this is already done: espressif/esp32-arduino-lib-builder@5a8939e9

[2022-03-31 07:17] #5454 closed

[2022-03-31 08:15] krupis commented on #5392
Yes this is solved. I am closing the issue. Thanks :)

[2022-03-31 08:15] #5392 closed

[2022-03-31 09:57] VojtechBartoska commented on #6443
Hello, are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-31 10:14] VojtechBartoska commented on #6445
Hello @guoquan1963, did you try approach shared by @lbernstone ?

[2022-03-31 10:19] VojtechBartoska commented on #6451
@ferbar Thaks for contribution and your PR, let's wait till your proposed PR is reviewed.

[2022-03-31 10:22] VojtechBartoska commented on #6461
Hello, Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-31 10:23] tobozo commented on #5594
That's odd though, as all `ESP_LOG*`, `log_*` and `Serial.print()` statements I've tried are showing up correctly.

Now I suspect this also happens on esp32-s2.

If there is no particular reason to the minimalism of ESP32-S3-Box profile in boards.txt, I will experiment and extend it with some of the ESP32S3-DEV menu options, then submit a PR.

[2022-03-31 10:24] VojtechBartoska commented on #6465
Adding it back to 2.0.3 milestone to not forget on it.

[2022-03-31 10:27] VojtechBartoska commented on #6482
Hello, are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-31 10:30] VojtechBartoska commented on #6490
Hello, up to the merged commit mention above. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-03-31 10:33] VojtechBartoska commented on #6207
related issue: #6499. @Sola85 Please take a look there.

[2022-03-31 11:21] PilnyTomas commented on #6444
Hi again, we already checked the issue on the oscilloscope and indeed the real output CLK frequency is off by a lot. We will investigate...

[2022-03-31 12:17] PilnyTomas commented on #2020
Hello @MartinDavidWaller .
There has been a recent update (v 2.0.3-RC1) which should fix lots of WiFi issues.
I tried your sketch with the version to it seems ok.
Could you please try it out and let us know?

[2022-03-31 12:30] P-R-O-C-H-Y commented on #6488
Hi @menachers,
I have tested the issue and I made a change in the example to make it work.
I will post a PR where you can see the changes later today.

[2022-03-31 12:35] gonzabrusco opened #6504 "PlatformIO not compiling/working after 2.0.3RC1/master"
### Board

ESP32 DevKit

### Device Description

ESP32 DevKit

### Hardware Configuration

ESP32 DevKit

### Version

latest master

### IDE Name

PlatformIO

### Operating System

Windows 10

### Flash frequency

40MHz

### PSRAM enabled

no

### Upload speed

115200

### Description

After updating my platformio.ini to use the latest commits from master (right now is the equivalent of using 2.0.

[2022-03-31 13:30] P-R-O-C-H-Y commented on #6488
@menachers You can test the changes from PR #6505 till it gets merged. But don't update to 2.0.3-RC1 yet otherwise the SDWebServer won't work. SD reading needs to be fixed. Wait for 2.0.3 release.

[2022-03-31 13:54] #6488 closed

[2022-03-31 14:03] me-no-dev commented on #5594
the reason is that it has all settings related to the board already. Your USB port is not UART0 but instead connected to the chip directly. If you want to try options, maybe switch to the ESP32S3 Dev Module and adjust there.

[2022-03-31 15:08] s-hadinger commented on #6164
@P-R-O-C-H-Y Sorry I'm cross-posting here, but #6456 is breaking reads when mixing small and large chunks.

The code is in Berry but the mapping is striaghtforward.

Scenario 1:
- open file
- read 128 bytes
- read 128 bytes
- close

[code]

Scenario 2:
- open file
- read 128 bytes
- read 256 bytes
- close

[code]

In scenario 2, the read is above 128 ans the result is wrong. The result looks like

[2022-03-31 15:09] ToMe25 commented on #5246
Using version `2.0.3-RC1` with platformio and this lightly updated sketch [esp-ap](http://esp-ap/) still wasn't reachable.

Here the updated sketch:
[code]
Here the log created by this updated sketch:
[code]

Again a request to [192.168.4.1](http://192.168.4.1/) works, while [esp-ap](http://esp-ap/) doesn't.
This time the test was done using Google Chrome on a Windows 10 notebook, as well as firef

[2022-03-31 15:20] Jason2866 commented on #6502
We run in issues to. See https://github.com/espressif/arduino-esp32/discussions/6507

[2022-03-31 15:21] HaydenHu opened #6508 "Face Detection in CameraWebServer Example Not Working in 2.0.3"
### Board

ESP32-CAM

### Device Description

CAMERA_MODEL_AI_THINKER  ESP32-CAM

### Hardware Configuration

#define SIOD_GPIO_NUM     26
#define SIOC_GPIO_NUM     27

### Version

latest master

### IDE Name

arduino IDE

### Operating System

win10

### Flash frequency

40MHZ

### PSRAM enabled

yes

### Upload speed

115200

### Description

![image](https://user-images.githubusercontent.com/3

[2022-03-31 15:27] guestisp opened #6509 "mDNS: Support for subtypes"
### Related area

mDNS

### Hardware specification

ESP32-DevKit-C

### Is your feature request related to a problem?

I've seen that support for mdns subtypes exists in Expressif library but the official port for Arduino doesn't allow the usage of subtypes.

Could you please add subtypes support for mDNS on Arduino ?

### Describe the solution you'd like

Something like :
[code]

### Describe alt

[2022-03-31 16:20] me-no-dev commented on #5246
I think you are mistaking DHCP hostname with DNS/mDNS/SSDP resolution. Check those libraries in order to resolve the IP by calling `http://esp-ap` on windows, or `http://esp-ap.local` on Linux and Mac

[2022-03-31 16:21] me-no-dev commented on #6508
yes, the API for image recognition changed and we need to update the examples. It will be done.

[2022-03-31 16:29] ToMe25 commented on #5246
Uh, what does the AP hostname do then?
Does it just set an internal variable used for nothing then?

[2022-03-31 16:31] TheRealDJ commented on #5246
[code]

[2022-03-31 16:37] TheRealDJ commented on #5246
So ...
[code]

[2022-03-31 16:40] me-no-dev commented on #5246
it sets the interface host name. Name resolution is a whole another thing in networking.

[2022-03-31 16:52] FernandoGarcia commented on #6461
Hi!

Unfortunately I can't test with Arduino IDE because the framework I'm using is not compatible with it.

Using latest [Tasmota framework-arduino-espressif32](https://github.com/tasmota/arduino-esp32/releases/tag/2.0.3rc1) based on 2.0.3-RC1 I have the invalid IP issue yet.

Best regards.

[2022-03-31 16:59] P-R-O-C-H-Y commented on #6164
@s-hadinger Hi, its OK :)
But Jason from Tasmota opened discussion about that -> #6507.
So if you can post the sketch and your tests there I will appreciate that.
Its better to be all in 1 place. You can just "copy/paste" your comment from here ;)
Thank you for understanding!

[2022-03-31 17:10] ToMe25 commented on #5246
And what is that interface hostname used for on the AP interface?
I understand now that apparently it isn't supposed to do any DNS resolution with that.
And thats fine, but I would like to understand what it does with the AP hostname instead before closing this.

[2022-03-31 17:18] P-R-O-C-H-Y commented on #5306
Hi @joshua-8, can you test your issue with the 2.0.3-RC1 release? So we can close this ;)

[2022-03-31 17:20] P-R-O-C-H-Y commented on #6199
Hi @bongoo1 ,
I am sorry but I am not familiar with the PlatformIO. Actually I never used that.
I thought that only adding the master will solve that. But please do thru the docsI linked in comments before. It has to work ;)

[2022-03-31 17:39] hasenradball commented on #5450
Got the following errorwith this configuration:

[code]

[code]

[2022-03-31 17:54] ToMe25 commented on #5246
I just realized I really shouldn't keep this open since the issue was just me misunderstanding what exactly it was meant to do.
I will close this issue in a day, regardless of whether I figure out what it does with that hostname.

Also I apologize for my last comment sounding more aggressive then it was meant to :)

[2022-03-31 17:56] Jason2866 commented on #5450
The setup is wrong. Either you do
[code]
or when you want to use latest git master
[code]
The `.git` is mandantory !!

[2022-03-31 19:17] CRprog opened #6510 "Using esp_wifi_internal_set_fix_rate (for ESPNOW) don't work after upgrading from 1.0.6 -> 2.0.2"
### Board

ESP32-Dev Module / ESP32 Pico Kit V4.1

### Device Description

None, only stand alone DevBoards.

### Hardware Configuration

No.

### Version

v2.0.2

### IDE Name

Arduino IDE 1.8.15

### Operating System

Windows 10

### Flash frequency

80MHz

### PSRAM enabled

no

### Upload speed

921600

### Description

So far I've used this for a long time: ESP32 Arduino Release **1.0.6** bas

[2022-03-31 19:23] menachers commented on #6488
Thank you for the quick fix. It works fine now.

[2022-03-31 19:26] hasenradball commented on #5450
@Jason2866  sorry I can't chatch your measage!

What do you mean with `.git`:
You copied exactly the same as I:
My config looks like that now:

[code]

[2022-03-31 19:33] CRprog commented on #6510
@igrr Thank you for your fast support, I agree of course to close here.
Regards.

[2022-03-31 19:47] #6510 closed

[2022-03-31 20:31] Andr1961 commented on #4980
Updated through the IDE, it turned out to install only on a clean win10.
With "debug" it always connects in 15-18 seconds, without "debug" it connects once out of 10
22:55:18.859 -> [    45][I][WiFiMulti.cpp:84] addAP(): [WIFI][APlistAdd] add SSID: Ty16
22:55:18.859 -> [    45][I][WiFiMulti.cpp:84] addAP(): [WIFI][APlistAdd] add SSID: ssid_from_AP_2
22:55:18.899 -> [    47][I][WiFiMulti.cpp:84] ad

[2022-03-31 20:59] GitNik1 opened #6511 "Ticker::active() crashes when it call before attach_ms()"
### Board

ESP32 Dev Module

### Device Description

Custom

### Hardware Configuration

-

### Version

latest master

### IDE Name

VisualMicro

### Operating System

Windows 10

### Flash frequency

80MHz

### PSRAM enabled

no

### Upload speed

115200

### Description

_timer in Ticker lib is null before you call a attach methode and crashes in esp_timer_is_active(_timer);

### Sketch

[code]

[2022-03-31 21:11] Jason2866 commented on #5450
I tried this setup. I does work. Your Platformio setup is messed up. Delete the hidden folder `.platformio`

[2022-03-31 22:14] hasenradball commented on #5450
OK I deleted the `.platformio`folder:

Thats my result after compile, many issues:

[code]

[2022-03-31 22:23] hasenradball commented on #5450
Are you sure this is the right version?
![grafik](https://user-images.githubusercontent.com/26808969/161159163-ababdd00-3b7f-477f-bf4b-9c58bd83bdad.png)

My first entry was with the version:
![grafik](https://user-images.githubusercontent.com/26808969/161159359-614448f3-67e9-4f62-bab1-1d4a7940c4d4.png)

2.0.3 vs. 3.5.0

It would be nice to know whats the latest and greatest version of the core :-)

[2022-03-31 22:40] joshua-8 commented on #5306
With 2.0.3-RC1, the issue is fixed!

I tested with the code I posted when I opened this issue, and the duty cycle now changes:
![the frequency changes now](https://user-images.githubusercontent.com/59814881/161160720-1d5e2a66-24bb-44e0-8ed0-45b760c48ad1.png)

Thank you to everyone who worked on fixing this problem!

[2022-04-01 00:56] fary99 commented on #6444
Yes, the IIC frequency can not exceed 100K set in the library file, but I have seen the introduction of ESP-IDF, the IIC frequency can exceed 100K. So I modified the source code so that it could be set to be greater than 100K. Then I used the logic analyzer to capture the frequency of IIC, but it was different from the actual. Looking forward to your solution. Here is the code I modified
esp_err_t

[2022-04-01 00:57] fary99 commented on #6444
Yes, the IIC frequency can not exceed 100K set in the library file, but I have seen the introduction of ESP-IDF, the IIC frequency can exceed 100K. So I modified the source code so that it could be set to be greater than 100K. Then I used the logic analyzer to capture the frequency of IIC, but it was different from the actual. Looking forward to your solution. Here is the code I modified
esp_err_t

[2022-04-01 04:23] brahmajit commented on #5666
Hi Vojtěch Bartoška.

I was able to fix this. May be it was something wrong with that perticular
version. But after a few updates, everything is working fine.

On Wed, Mar 30, 2022 at 8:31 PM Vojtěch Bartoška ***@***.***>
wrote:

--
Regards
*Brahmajit*

[2022-04-01 04:24] brahmajit commented on #5642
Hi Vojtěch Bartoška.

I replied to another comment of yours, this issue is (fixed for me).

On Wed, Mar 30, 2022 at 8:33 PM Vojtěch Bartoška ***@***.***>
wrote:

--
Regards
*Brahmajit*

[2022-04-01 04:54] versamodule opened #6514 "USB as Host examples"
### Board

esp32-S3

### Device Description

ESP32-S3

### Hardware Configuration

NA

### Version

v2.0.2

### IDE Name

ESP-IDF

### Operating System

Win10

### Flash frequency

80

### PSRAM enabled

no

### Upload speed

1152000

### Description

The docs say "The USB host mode, you can connect devices on the ESP32, like external modems, mouse and keyboards."
"https://docs.espressif.com/proje

[2022-04-01 05:02] lbernstone commented on #6514
https://github.com/espressif/arduino-esp32/tree/master/libraries/USB/examples

[2022-04-01 05:58] ZJDATY opened #6515 "esp32c3 compile error when using OneWire"
### Board

esp32c3

### Device Description

D:\Users\XXX\Documents\Arduino\libraries\OneWire\util/OneWire_direct_gpio.h:226:18: error: 'gpio_dev_t' {aka 'volatile struct gpio_dev_s'} has no member named 'enable1_w1ts'; did you mean 'enable_w1ts'?
             GPIO.enable1_w1ts.val = ((uint32_t)1 << (pin - 32));
                  ^~~~~~~~~~~~
                  enable_w1ts
exit status 1
为开发板 ESP32C3

[2022-04-01 06:03] lbernstone commented on #6515
OneWire is not part of arduino core.
https://github.com/pstolarz/OneWireNg

[2022-04-01 06:36] ZJDATY commented on #6515
OK,Think you!

[2022-04-01 06:36] #6515 closed

[2022-04-01 07:01] stevenli2020 commented on #5860
i have bad news and good news.
bad news - the test failed after continuous scanning for about 60 hours, with the same **Scan_evt Timeout** error and everything fell into a deadlock. so **adding the delay did not solve the problem**.
however, good news is - i have successfully force the board to reboot when this error happens, by using **Task Watchdog Timer (TWDT)** .
here are the code fragments -

[2022-04-01 07:32] VojtechBartoska commented on #6511
Hello @GitNik1, thanks for issue and proposed PR. We will review it soon. :)

[2022-04-01 07:33] VojtechBartoska commented on #6514
@pedrominatel Maybe something to be consider at docs?

[2022-04-01 07:36] VojtechBartoska commented on #5306
@joshua-8 Perfect, thank you for testing and contribution!

[2022-04-01 07:36] #5306 closed

[2022-04-01 07:38] VojtechBartoska commented on #5666
@brahmajit Perfect, congrats you figured that out. I'm closing the issue then.

[2022-04-01 07:38] #5666 closed

[2022-04-01 07:39] VojtechBartoska commented on #5642
Great, closing as well.

[2022-04-01 07:39] #5642 closed

[2022-04-01 07:41] VojtechBartoska commented on #5860
Hello@stevenli2020, thanks for giving it a shot. Did you run it on 2.0.3-RC1?

[2022-04-01 07:46] VojtechBartoska commented on #6500
Hello @smuellener, can you please test this on 2.0.3-RC1 too?

[2022-04-01 08:02] PilnyTomas commented on #4980
Can you please edit your code to be complete, and without the TFT? I would like to check your code exactly how are you using it.

[2022-04-01 08:38] me-no-dev commented on #5450
I think those 3.x.x versions are something that PIO guys did. It's not our version number. But your 2.0.3 seems to be the one that is latest

[2022-04-01 08:50] Andr1961 commented on #4980
The last log from example WiFiMulti.ino,
on 1.04 everything works well, problems start from 1.05

[2022-04-01 08:52] stevenli2020 commented on #5860
I have not test it on 2.0.3-RC1, my boards are FireBeetle ESP32. however i believe the TWDT will still be supported on the 2.0.3-RC1, isnt it?

[2022-04-01 09:01] smuellener commented on #6500
@VojtechBartoska yes this applies to 2.0.3-RC1 as well.
I will close this issue though because in the meantime we tested those scenarios and we will always get the Disconnect() event on any PHY crash due to electrostatic discharges. That is enough for us to reset the PHY in that case. So from our point of view, we do not need to access the low-level PHY registers anymore.

[2022-04-01 09:01] #6500 closed

[2022-04-01 09:14] Jason2866 commented on #5450
I did not like the versioning numbers from pio (3.5.0 is Arduino core 1.0.6).
So i changed in my fork to be align with the Arduino core version. So 2.0.3 is latest.
The errors you have are normal. You have to adopt your code to the changes in Arduino core 2.0.3. Happy Coding :-)

[2022-04-01 09:50] hasenradball commented on #5450
Thanks it was a little confusing for me with the numbers.
Schould I make some PR to prevent these warings?

[2022-04-01 10:39] TD-er commented on #6500
@smuellener How do you reset the Phy?

[2022-04-01 11:20] smuellener commented on #6500
@TD-er  using a dedicated gpio

[2022-04-01 11:28] htmltiger commented on #6443
The bug is still present in latest master
[code]

[2022-04-01 11:44] TD-er commented on #6500
I was affraid you would say that, as my boards don't have the LAN8720 RST pin connected to a GPIO.

Does power cycle (of the LAN chip) help here on these issues?

[2022-04-01 12:20] VojtechBartoska commented on #6443
@htmltiger Thanks for your test, adding it to our Roadmap.

Adding you here @P-R-O-C-H-Y, it's a lower priority comparing to your other issues you are working on so to be picked up later :)

[2022-04-01 12:27] TD-er commented on #6500
Yep, I can measure the voltage on the (separate) LAN voltage circuit.
As a matter of fact, I have done this a while ago while debugging some issues with LAN.
![image001 (1)](https://user-images.githubusercontent.com/3751318/161263217-fbebca82-4576-4b78-993d-f65ed7db789b.png)

[2022-04-01 12:40] alastaira commented on #5053
@VojtechBartoska I just tried compiling against the latest 2.0.3-RC1 but unfortunately the issue remains for me. The only difference is the line number on which it occurs ;)

`ASSERT_WARN(1 8), in lc_task.c at line 1409`

[2022-04-01 12:40] ankostis commented on #565
@me-no-dev don't you won an explanation of what is the current status of the code?

[2022-04-01 12:59] hasenradball commented on #5450
How Do I get the info if there is an new core Version?
Is then loading the esp32 core via Pio library manager the wrong way in general for the esp32?

[2022-04-01 13:18] Jason2866 commented on #5450
Lets hope the war in the Ukraine is soon over. Since Platformio is a Ukraine project.
When #6501 is merged you can use the released versions from here.
(Just do with `platform_packages = framework-arduinoespressif32 @ url to release zip`

[2022-04-01 14:07] halilozdgn commented on #1387
Hey there @WebDust21 after a long time. I was triying to encrypt esp32 again but i had some issues. I though it's about esp idf's version. I'm triying encryption with esp-idf  v3.0 but im going to update ASAP. My question is how did you ported arduino's bootloader. Can you give me details so i can port for new version and share? Or if you have ported new versions bootloader can you share it? I'm w

[2022-04-01 14:46] manchoz commented on #5618
@VojtechBartoska no, it has been fixed in https://github.com/espressif/arduino-esp32/pull/5673

[2022-04-01 14:46] #5618 closed

[2022-04-01 14:49] alastaira commented on #5053
@VojtechBartoska And thankyou for your attention - it's much appreciated :)

[2022-04-01 14:52] david-cermak commented on #6467
Hi @savagerex

Yes, you're correct, the header file [eth_phy_regs_struct.h](https://github.com/espressif/esp-idf/blob/master/components/esp_eth/include/eth_phy_regs_struct.h) contains register definitions, but only the generic ones, those that are mostly used for all supported phy's. You can check specific driver's sources for other definitions, specific to each device. As for the RTL802, it's loc

[2022-04-01 15:05] adamb0403 opened #6517 "fs.open is slower as filename increments"
### Board

ESP32 dev module

### Device Description

Adafruit sd card module connected to ESP using default spi pins. Interfacing with SD using spi and default SD library

### Hardware Configuration

32x32 RGB matrix also connected.

### Version

latest master

### IDE Name

PlatformIO

### Operating System

Windows 10

### Flash frequency

40Mhz

### PSRAM enabled

no

### Upload speed

115200

#

[2022-04-01 16:43] dsyleixa commented on #3603
thanks, but unfortunately only 2.0.1 and 2.0.2 are available!

[2022-04-01 18:30] hedgemybets opened #6519 "ESP32-C3 bootloop"
### Board

ESP32-C3-DevKitC-02U

### Device Description

Stock board with USB cable to PC running Arduino IDE.

### Hardware Configuration

No external hardware

### Version

v2.0.2

### IDE Name

Arduino IDE v1.8.19

### Operating System

Windows 10

### Flash frequency

80MHz

### PSRAM enabled

no

### Upload speed

921600 and tried 512000 and 115200

### Description

Using new Espressif board

[2022-04-01 20:59] lbernstone commented on #6519
Please change your title to ESP32-C3 bootloop.  The SHA comparison failing here is cosmetic, and due to the way arduino compiles.
This seems to indicate a problem with the 2nd stage bootloader, as this is the behavior I get when I try to upload a program to the unsupported beta C3 dev board that I have. I forget that it doesn't work every couple weeks, and it does not give any indication why it fa

[2022-04-01 21:49] hedgemybets commented on #6519
Thanks for the quick reply. I didn't call it bootloop as the ESP doesn't continuously reboot (i. e., the message doesn't continuously repeat) as in issue #6013. The boot process hangs and no further output is visible. Of course there could be a loop hanging things up in the background so I did change the title per your request.

I did try erasing the flash and it didn't change the results. Also, t

[2022-04-01 22:23] SuGlider commented on #6221
@Jasoroony

I confirm that this issue you described with the sketch found at https://github.com/espressif/arduino-esp32/issues/6221#issuecomment-1080489314 happens with Arduino Core 2.0.2.

We have released a new Arduino Core 2.0.3-RC1 that has TinyUSB bug fixes.
I tested the sketch with this new version and it seems solved.

Please try it with the version 2.0.3-RC1 and let me know.
Thanks!

[2022-04-01 22:31] SuGlider commented on #6430
@brentru - Please let me know if you still have problems with WiFi using Arduino Core 2.0.3-RC1.

[2022-04-01 22:40] SuGlider commented on #6379
@Sys64736 - Thanks for the detailed report and investigation.

I have tested WiFi connection with different Encryption modes using the ESP32-C3-DevkitM-1 v1.0 board and Arduino Core v2.0.3-RC1. Unfortunately, I don't have any C3-devkitc-02 to test it.

It seems that some C3 issues have been solved with latest IDF version used in the new Arduino Core RC version we released.
Could you please test it

[2022-04-02 00:45] FernandoGarcia commented on #6461
Hi @me-no-dev!

Could you point me the way to find if this problem with invalid IP is coming from your library `WiFi.h`?

[Here](https://github.com/FernandoGarcia/esp8266-react/tree/make_library_2.0.x) you can find the framework I'm using.

The changes I did on framework to make it compatible with `Arduino-Espressif32 2.0.x` are [here](https://github.com/FernandoGarcia/esp8266-react/commit/810adcb

[2022-04-02 01:30] WebDust21 commented on #1387
I did not do any "porting" of sorts.  See, the Arduino ESP32 implementation basically replaces all "bootloader function calls" with stubs that either return nothing, or try to ascertain the data some other way.  (For example, you cannot read the bootloader version number in the Arduino ESP32 system.)  In short, there is no connection between the bootloader and the application code (unlike the ESP-

[2022-04-02 02:11] Jasoroony commented on #6221
@SuGlider

Maybe I'm doing something wrong, but the sketch still hangs for me with 2.0.3-RC1 (after a few MB being transferred).

[2022-04-02 03:17] iwas108 commented on #3761
any update on how to use PSRAM to publish base64 image?

[2022-04-02 06:43] hubbiw commented on #5039
Hello Iberstone. Thanks for the answer. How can I install the newer code? Best regards Hubert

[2022-04-02 07:27] tko commented on #4736
Now I get
[code]
I suppose it's better for not hanging anymore though the error seems little out of place.

Adding bit more logging I see before `flush()` calling `available()` returns 214, and checking `connected()` returns 0 and logs additionally
[code]

[2022-04-02 07:55] Jason2866 commented on #6519
Please use latest Arduino core 2.0.3-rc1. GPIO handling has been fefactored.
C3 has never PSRAM so there no menu entry.
Your test sketch does work fine with my to C3 boards.
I do NOT use Arduino IDE. I have made a PlatformIO port since a official version is not available from Platformio crew. You can use in Platformio with
[code]

[2022-04-02 08:02] Jason2866 commented on #6519
I could imagine that your board is not identified as rev3. IDF libs are configured and compiled to be only compatible with boards  >= rev3. In this case boot process will stop.
In this case you can try a other Platformio Arduino Core build from me which has a modified sdkconfig (we need for our Project Tasmota) which supports older C3 boards too.
[code]

[2022-04-02 09:41] ToMe25 commented on #5246
Closing this since it seems like it was never supposed to do what I thought it should.
As I should have done months ago.

[2022-04-02 09:41] #5246 closed

[2022-04-02 09:50] adamb0403 commented on #6517
Anyone able to help?

[2022-04-02 10:07] tobozo commented on #5594
I've tried very hard using every possible combination from the ESP32S3 Dev Module but never got to print the stack trace to the serial console.

The usb port number keeps on changing which makes the flash&monitor operation very challenging.

While testing all combinations I could observe that the ESP32-S3-Box bootloops on all partition schemes except the default 4MB, is that worth testing custom p

[2022-04-02 12:01] me-no-dev commented on #5594
Arduino does not use DMA

The board you are using has UART0 pins broken out on the back. I suggest you connect external USB-UART to them. Correct settings in the ESP32S3 Dev Module for S3-Box are: Flash-QIO-80m, PSRAM-OPI/Off, CDC on Boot (On means that Serial will be the USB port, else it's UART0)

That can be true if you select USB-OTG and TinyUSB with some examples.

[2022-04-02 12:04] me-no-dev commented on #6517
I think that this is to be expected. The ESP is not a computer and has limited amount of memory, so it does not cache the FAT partition tables (and folders). It needs to go and find the file you want to open, which means that it needs to read quite a bit of file tables, before it get's to it. Splitting files in folders might make things faster ;)

[2022-04-02 12:10] me-no-dev commented on #6461
@FernandoGarcia the information given is not enough. How do you start WiFi and how do you get that IP to the interface? You need to try minimal example using this repository and regular Arduino first, the see what is wrong. IP when we start WiFi here is fine.

[2022-04-02 12:11] me-no-dev commented on #6461
You also have an exception up there and backtrace, but you forgot to decode it ;)

[2022-04-02 12:27] tobozo commented on #5594
Those settings (using SPI_DMA_CH_AUTO) don't appear to produce problems, does it mean it has no effects?

[code]

https://www.youtube.com/watch?v=dOZSOzYs3QY

The 32kb transfer limit is still puzzling though.

[2022-04-02 12:31] desi2108 commented on #1137
i try to change my port in device manager, and it's worked

[2022-04-02 12:54] Lukaswnd commented on #5164
I got the same Problem. Any Windows 10 system (i tried 4 different) have huge issues to connect to a esp32.
I also tried to use all of my esp32's including esp32s, esp32-woover-e, esp32-wroom,  esp32-wroom-e,  esp32-wroom-u.

There was one chip among 10, that could make a connection to win10, but it was by far not the first tries.
10 Minutes ago i found this issue and BAM with version 1.0.4 it wor

[2022-04-02 16:57] adamb0403 commented on #6517
Hi @me-no-dev thanks for the reply. That makes sense. Splitting each file into its own folder hasn't helped unfortunatly. Would getting an ESP32 Wrover module with external flash to store the data on fix the issue? Is there any alternative with the hardware I currently have

[2022-04-02 18:46] aryehassbian commented on #5994
Yes, I agree with both above - I have been working with windows 8.1 64 on all my developments and I am not sure why i am NOT being able to use ESP32-S2 Com Port on Windows 8.1.
I have tried Zadig with NO LUCK at all - There should be a driver for it supporting Windows 8.1 - still a supported Windows by Microsoft till end of 2023 - Please let us know when we will have a proper driver to work with.

[2022-04-02 21:34] FernandoGarcia commented on #6461
Hi!

Thanks for you answer.

I found [the line](https://github.com/FernandoGarcia/esp8266-react/blob/make_library_2.0.x/src/WiFiSettingsService.cpp#L74) that is causing the IP problem.

You can try reproduce the error with [HelloServer](https://github.com/espressif/arduino-esp32/blob/master/libraries/WebServer/examples/HelloServer/HelloServer.ino) example and adding `WiFi.config(INADDR_NONE, INADD

[2022-04-02 21:56] Jason2866 commented on #6461
Probably because to be align with arduino https://www.arduino.cc/en/Reference/wiFiConfig

[2022-04-03 02:38] ggalisky commented on #6519
I had this same issue, used the change that Jason provided for the ini file and now I get nothing on the serial monitor after uploading code.

My ini file:
[env:arduino-esp32c3]
platform = https://github.com/Jason2866/platform-espressif32/releases/download/v2.0.3-rc1/platform-espressif32-2.0.3-rc1.zip
board = esp32-c3-devkitm-1
framework = arduino
platform_packages =
   framework-arduinoespressif3

[2022-04-03 08:38] nimaltd opened #6524 "esp-idf compiler error"
### Board

Nodemcu-32s

### Device Description

on httpsotaupdate.h file. please add '#ifndef .... #endif'

### Hardware Configuration

any

### Version

v2.0.2

### IDE Name

eclipse

### Operating System

win10

### Flash frequency

80

### PSRAM enabled

no

### Upload speed

115200

### Description

can not compile

### Sketch

[code]

### Debug Message

[code]

### Other Steps to Reproduce

_

[2022-04-03 08:43] rezaneam opened #6525 "Continues reboot when enabling PS-RAM"
### Board

ESP32-PICO-MINI-02

### Device Description

ESP32-PICO-DevKitM-2

### Hardware Configuration

[env:pico32]
platform = espressif32
board = pico32
framework = arduino
monitor_speed = 115200
upload_port = COM3
build_flags =
	 -DBOARD_HAS_PSRAM
	 -mfix-esp32-psram-cache-issue

### Version

v1.0.6

### IDE Name

PlatformIO

### Operating System

Windows 10

### Flash frequency

default

###

[2022-04-03 09:06] Jason2866 commented on #6519
Just place this in the ini file.
[code]

[2022-04-03 09:15] Jason2866 commented on #6525
Pico does not need the PSRAM fix since it is a fairly new chip and does not have the PSRAM bug.
Arduino Core 1.0.6 does NOT support this variant. You have to use actual core 2.0.3-rc1
There is no official version (yet) for Platformio for this core version.
You can use my inofficial Platformio build for using the latest core.
[code]

[2022-04-03 09:18] Jason2866 commented on #6524
Arduino 2.0.3-rc1 as IDF component does compile without any error with IDF4.4
Please use actual version. Old core versions will be not updated if issues occour.

[2022-04-03 09:28] ggalisky commented on #6519
Even after changing my ini to this I still get a blank serial monitor. The same sketch on the Arduino IDE works with this board so I know it is a platform.io issue. Thank you for getting back to me quickly

[2022-04-03 10:50] Jason2866 commented on #6519
Just deleted folder `.platformio` and used this `platformio.ini`
[code]
and this sketch (my board has the Led on GPIO 3)
[code]
LED is blinking, and no serial message

So sketch is working in general. I have to look what is different regarding Serial ArduinoIDE setup and current PlatformIO setup

[2022-04-03 11:18] Jason2866 commented on #6519
I highly doubt it was working in Arduino IDE since there is ` Serial.begin(115200);` missing before `Serial.println("In Loop");`
Adding this and i get
[code]

[2022-04-03 11:18] Jason2866 commented on #6519
So there is NO issue at all.

[2022-04-03 14:26] mrWheel commented on #6482
@VojtechBartoska
Sorry for the delay.

Tested with 2.0.3-RC1, same result.

Used [Tools]->[ESP32 LittleFS Data Upload] to create a `WebUpdater.littlefs.bin` file
<pre>
16:16:16.174 -> IP address [192.168.12.24]
16:16:16.174 -> HTTPUpdateServer ready! Open http://esp32-webupdate.local/update in your browser
16:17:08.883 -> Update: WebUpdater.littlefs.bin
16:17:08.883 -> Bad Size Given
16:17:08.883

[2022-04-03 15:20] hedgemybets commented on #6519
I've retested and all is working fine now with the Arduino IDE, so I'm closing the issue. I believe my test code was missing the Serial.begin(115200) line as @Jason2866 noted above for @ggalisky's issue. So I wasn't seeing any output. Also, I do know that my larger project code did have Serial.begin(9600), but my monitor was probably in 115200. Usually when I do this I see some garbage characters

[2022-04-03 15:20] #6519 closed

[2022-04-03 15:53] fanfanlatulipe26 opened #6526 "ESP32-CAM test crashes in 2.0.2- OK in 1.0.6"
### Board

ESP32-CAM

### Device Description

"Simple" (?) ESP32-CAM module here from [Banggood](https://www.banggood.com/ESP32-CAM-WiFi-+-bluetooth-Camera-Module-Development-Board-ESP32-With-Camera-Module-OV2640-Geekcreit-for-Arduino-products-that-work-with-official-Arduino-boards-p-1394679.html?imageAb=1&cur_warehouse=CN&akmClientCountry=FR)

### Hardware Configuration

No other connection.
Powe

[2022-04-03 16:09] iwas108 commented on #5751
Any update on this?

[2022-04-03 16:31] ggalisky commented on #6519
I had the Serial.begin(XXXXX) in my first post though... and still have no output on the Serial monitor for Platform.io. It does work on the Arduino IDE which makes me think it has something to do with "USB CDC on boot" option that is enabled in the Arduino IDE. When I turn this option off in the Arduino IDE the serial monitor stops working.

[2022-04-03 17:23] atanisoft commented on #5994
@aryehassbian Open a new issue and provide a reproducible test case. Windows itself needs to support USB-CDC devices and not specifically the ESP32-S2. If you are using custom descriptors it is possible you have an error in the descriptor which is why Windows is not recognizing the device when plugged in. I haven't seen this issue on any of my available devices or machines.

[2022-04-03 18:40] Jason2866 commented on #6519
This is related https://github.com/espressif/arduino-esp32/issues/6089#issuecomment-1077607496

[2022-04-03 20:55] martinius96 opened #6528 "Arduino Core 2.0.2 does not support TLS 1.3 --> WiFiClientSecure"
### Board

ESP32 Devkit V1 DOIT

### Device Description

There is connected HC-SR04 ultrasonic sensor that have no impact on problem.

### Hardware Configuration

D22  -->  Trigger
D23  -->  Echo
3V3  -->  Vcc
GND --> GND

### Version

v2.0.2

### IDE Name

Arduino IDE 1.8.19

### Operating System

Windows 10 Education x64

### Flash frequency

80 MHz

### PSRAM enabled

no

### Upload speed

9216

[2022-04-03 21:57] fanfanlatulipe26 commented on #6526
Simpler  testcase with no wifi webserver.  Only take a picture, save it in SPIFFS
[code]
[code]

[2022-04-03 23:33] martinius96 commented on #6528
**Edit 3 hours later:**
I tried to import .json of development branches to my Arduino IDE.
Then in Board Manager I have used 2.0.3-RC1. And connection is working!
There is some SSL related error, but request was done okay and datas were written into MySQL database.

[code]

**In changelog of 2.0.3-RC1 there is:**
"Support the updated MbedTLS in ESP-IDF v4.4 by @me-no-dev in https://github.com/espr

[2022-04-04 02:35] ggalisky opened #6529 "ESP32-C3-MINI Serial monitor stays blank when uploading with Platform.io, but not with Arduino IDE"
### Board

ESP32-C3-MINI Custom board

### Device Description

A ESP32-C3-MINI module with hand soldered wires and decoupling caps (see diagram below)

### Hardware Configuration

Hand wired module with below schematic

<img width="547" alt="Screen Shot 2022-04-03 at 7 33 22 PM" src="https://user-images.githubusercontent.com/44689332/161464559-de22083e-078e-45ec-96fb-73ddd14e0826.png">

### Versio

[2022-04-04 03:10] lbernstone commented on #6529
If it works in Arduino IDE, but not in platform.io, the issue should be moved to https://github.com/platformio/platform-espressif32/issues

[2022-04-04 06:49] kargarisaac opened #6530 "Connecting esp32-c3 to google cloud iot core"
### Board

ESP32-C3

### Device Description

ESP32-C3 devkit

### Hardware Configuration

No additional configuration to the devkit

### Version

v2.0.2

### IDE Name

Arduino IDE

### Operating System

Windows 11

### Flash frequency

80 MHz

### PSRAM enabled

no

### Upload speed

115200

### Description

I try to connect my esp32-c3 to google cloud iot core via [this library](https://github.co

[2022-04-04 08:04] VojtechBartoska commented on #3603
@dsyleixa Take a look on this page: https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html

You need to change to development release link in your Arduino IDE preferences.

[2022-04-04 08:08] VojtechBartoska commented on #3761
@iwas108 Do you still face this issue on 2.0.3-RC1 version?

[2022-04-04 08:10] VojtechBartoska commented on #5039
Hello @hubbiw, take  a look here: https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html

You need to change your link in preferences to **development release link** to see 2.0.3-RC1 version in Boards manager.

[2022-04-04 08:11] VojtechBartoska commented on #4736
Thanks for answer, we will test this.

[2022-04-04 08:17] VojtechBartoska commented on #6524
Thanks for clear explanation @Jason2866! I'm closing this one, @nimaltd if you need you can reopen.

[2022-04-04 08:17] #6524 closed

[2022-04-04 08:18] VojtechBartoska commented on #6482
Thanks for testing @mrWheel, I'm adding this to our Roadmap and we will take a look. :)

[2022-04-04 08:21] VojtechBartoska commented on #6530
Hello @kargarisaac, it seems to me more like a problem with that particular Library. Did you consider opening an issue in their repo?

[2022-04-04 08:28] VojtechBartoska commented on #6528
Hello @martinius96, Arduino ESP32 Core v2.0.3-RC1 is based on ESP-IDF v4.4 and there have been done some fixes in meantime what can explain this behaviour.

We are now waiting for ESP-IDF v.4.4.1 which includes more bug fixes.

I'm sorry that it brings you some confusion.

In summary, under v2.0.3-RC1 everything is working correctly?

[2022-04-04 08:33] Jasoroony commented on #6221
@VojtechBartoska

What response is being waiting for?  There's apparently some discrepancy betweem SuGlider's testing and mine, but mine certainly didn't work with 2.0.3-RC1.  I also checked various repositories (TinyUSB [main] and Espressif's/TinyUSB) and I don't see any recent bug fixes in either.  There was something about build issues there though, back on the 4th of March:

https://github.com

[2022-04-04 08:42] technoblogy commented on #6221
I'm only testing my use case, which is uploading a long Lisp program to the ESP32-S2 over Serial, and as far as I can see that now works OK, so I'm happy!

[2022-04-04 08:44] martinius96 commented on #6528
Thanks for reply, yes, under v2.0.3-RC1 WiFiClientSecure client working good, there is just that _handle_error() output -76 UNKNOWN ERROR CODE (004C), but request was successful and data written into MySQL database.

**That v2.0.2 release was based on ESP-IDF v4.4-beta1, so that caused problem I think, because it wasn't from release ESP-IDF version.** I haven't tried other things such as Bluetooth

[2022-04-04 08:56] Jasoroony commented on #6221
Then I'll formally bow out.

[2022-04-04 09:39] Jason2866 commented on #6529
It is 100% Platformio!
The reason is that the Serial Console after flashing is on standard UART (serial) and NOT on USBSerial (GPIO 18 /19)
anymore. I will have a look if i find a solution

[2022-04-04 10:18] VojtechBartoska commented on #6526
Hello. is the error the same for 2.0.3-RC1?

[2022-04-04 10:43] Jason2866 commented on #6529
Update :-) Board added
[code]

[2022-04-04 11:03] Jason2866 commented on #6526
The test sketch is not working.
[code]

[2022-04-04 11:10] fanfanlatulipe26 commented on #6526
Don't know how to install   2.0.3-RC1
May I have both version 2.0.2 and  2.0.3-RC1 at the same time and an easy way to switch from one to the other ?

[2022-04-04 11:13] me-no-dev commented on #6517
not each file in it's own folder. More like 16 folders with 16 files each. Wrover will not help, you need change in strategy. I am not quite sure what your target is though

[2022-04-04 11:14] me-no-dev commented on #6526
decoding those exceptions can also help much. (And it is a requirement) https://github.com/me-no-dev/EspExceptionDecoder

[2022-04-04 11:20] fanfanlatulipe26 commented on #6526
Well: there is no stack in the output, just  "Backtrace:0x400ea765:0x3ffbee0c |<-CORRUPTED"

[2022-04-04 11:22] adamb0403 commented on #6517
I'm using the data to program GIFs on an LEd matrix display. The data for
one frame is stored in 1 file. If there's more frames or struggles to keep
a consistent frame rate for the reasons above.

Forgive me my knowledge on storage devices is not extensive, but why would
the external flash on Wroover not help?

I will try the 16x16 method asap, thanks

On Mon, 4 Apr 2022, 12:13 Me No Dev, ***@***.

[2022-04-04 11:24] fanfanlatulipe26 commented on #6526
@Jason2866 : no problem in Arduino IDE.
Maybe just need to add the function prototype before

[2022-04-04 11:47] SuGlider commented on #6221
@Jasoroony

I'm still testing your sketch in a more deeply way, separating TX and RX using CDC and UART for each direction, in order to check in which side is the issue.

I won't use the EXE file you sent, but instead I have created a Python Script to be used instead, and then to test it isolating CDC Tx and Rx.

I will publish the script here, so we can debate around it for building a common test

[2022-04-04 12:06] kargarisaac commented on #6530
The problem is solved. Yes it was the library. I close this.

[2022-04-04 12:06] #6530 closed

[2022-04-04 12:20] Jason2866 commented on #6526
In general there is no problem with the webcam. We have a webcam build with [Tasmota](https://arendst.github.io/Tasmota-firmware/) and it worked never so stable as with core 2.0.x

[2022-04-04 12:34] fanfanlatulipe26 commented on #6526
Test done with 2.0.3-RC1:
- small testcase with no wifi / webserver runs perfectly.
- test case with the webserver runs also pretty well, but many messages in the log, such as
cam_hal: EV-EOF-OVF
or
cam_hal: EV-VSYNC-OVF
Doesn't occur in 1.0.6
The program needs to take 2 or more picture in order to get one really stored in the SPIFFS. Don't understand.

Doesn't occure if the picture is save on the

[2022-04-04 12:35] PilnyTomas commented on #4980
Yes, there were problems but with the recent 2.0.3-RC1 they should be fixed. I just tried the example sketch `WiFiMulti.ino` on the newest version and it works - no errors, connected in 2.5 sec.
I am unable to replicate your error.
Arduino IDE: 1.8.19
Arduino-ESP32 core: 2.0.3-RC1
HW: DevKitC ESP32-WROVER-B
OS: Linux Fedora 34

[2022-04-04 12:46] Skywalkerf34 opened #6532 "Error compiling for board ESP32C3 Dev Module."
### Board

ESP32C3DEV

### Device Description

many devices

### Hardware Configuration

i2c, sensorS, OLED....

### Version

latest master

### IDE Name

arduino 1.8.19

### Operating System

WIN10

### Flash frequency

40MHZ

### PSRAM enabled

no

### Upload speed

115200

### Description

I work on this sketch from Nov. It was compiling good up to nowsince

### Sketch

[code]

### Debug Messag

[2022-04-04 13:18] RensMvP opened #6533 "Response from a POST request is nowhere to be found"
### Board

WT32-ETH01

### Device Description

none

### Hardware Configuration

nothing.

### Version

latest master

### IDE Name

Arduino IDE

### Operating System

Windows 10

### Flash frequency

80

### PSRAM enabled

no

### Upload speed

921600

### Description

I am sending a POST request to pair with a https server on a insecure line to get the timestamp and auth key.
On this Post reques

[2022-04-04 13:28] esambell commented on #6490
Hello,

I'm happy to test this, but I'm actually using VS Code, and my Git skills are pretty terrible, but I think I'm on the correct version since when I ran Git Tag the last tag was 2.0.3-RC1. I am no longer seeing the issue.

Thanks,

Eric

From: Vojtěch Bartoška ***@***.***>
Sent: Thursday, March 31, 2022 3:30 AM
To: espressif/arduino-esp32 ***@***.***>
Cc: esambell ***@***.***>; Author ***@**

[2022-04-04 13:48] Jason2866 commented on #6490
Yo can test with VS Code and Platformio by using this
[code]

[2022-04-04 14:22] me-no-dev commented on #6532
logs say ESP8266. You are doing something wrong :)

[2022-04-04 15:07] ggalisky commented on #6529
This solved my issue, I also posted in https://github.com/platformio/platform-espressif32/issues as per @Ibernstone suggestion, Jason responded with the same solution and I can confirm it is working on my end: https://github.com/platformio/platform-espressif32/issues/755

[2022-04-04 15:07] #6529 closed

[2022-04-04 18:56] ankostis opened #6534 "Cludge needed to enable both IDF & Arduino log-statements"
### Board

ESP32 dev (but irrelevant)

### Device Description

[Freematics](https://freematics.com/products/freematics-one-plus-model-h/) but HW is irrelevant

### Hardware Configuration

HW is irrelevant

### Version

latest master

### IDE Name

PlatformIO

### Operating System

Debian SID

### Flash frequency

irrelevant

### PSRAM enabled

no

### Upload speed

irrelevant

### Description

I w

[2022-04-04 19:15] ankostis commented on #6534
To clarify the 2nd issue i wrote above with latest release, what really buged me was that Arduino-logs were * silently ignored* when i had set `-DCORE_DEBUG_LEVEL=ESP_LOG_DEBUG`, so any warning regarding the value type would be welcomed.

[2022-04-04 22:43] TheButlah opened #6535 "tusb.h not found"
### Board

esp32-c3-mini-1

### Device Description

I am using my own custom PCB design, the schematic of which is [here](https://github.com/TheButlah/slimevr_pcb/tree/main/hardware/ferrous_slime). It is using the ESP32-C3-MINI-1 module from espressif.

### Hardware Configuration

D+ and D- pins on esp32c3 mini are connected to a USB connector. There is no external USB to UART chip. The other UART

[2022-04-04 23:13] cattledogGH commented on #6061
In my testing with trying to connect an ESP32 using the Arduino core as Bluetooth Serial Master to an HC05 in slave mode, failure to connect begins with any version after 1.0.6.

I think that the issue is with the change from
ESP-IDF v3.3.5 to ESP-IDF 4.4.

[2022-04-05 00:54] Lupo-Grigio commented on #6508
@me-no-dev Thank you. I can add a little bit of info to this issue. Under Arduino IDE 2.0.0.rc5 and Arduino IDE 1.8.19
If you enable face detection or recognition by either one or both of the following #define
[code]
causes 2 files to be included that do not exist
In the file app_httpd.cpp starting at 34
[code]

Those files where #included in earlier versions of the sample, but it appears that the

[2022-04-05 04:17] spyder0069 commented on #5440
Just coming back to address a fix for anyone having this issue.  The esp32servo library did originally solve the problem but I tried to tackle this again and found the solution.  Apparently the esp32 pwm channels are grouped together in two groups.  I assigned my buzzer to channel 1 and then my lcd backlight to channel 9 and now everything is happy using the built in ledcSetup and ledcWriteTone co

[2022-04-05 05:04] Skywalkerf34 commented on #6532
Whaou, that's a great help ;-)
By the end, the pb come from my HDD that crash some cluster :-(
I temporary fix with a chkdsk /F but will order a new HDD

[2022-04-05 07:04] #6511 closed

[2022-04-05 08:27] me-no-dev commented on #6535
C3 has an integrated USB CDC+JTAG. It's realized purely in hardware and is not a full-featured USB peripheral, like the one in S2 or S3. So no TinyUSB on C3 :)

[2022-04-05 08:27] #6535 closed

[2022-04-05 08:44] ln-12 commented on #5465
@VojtechBartoska I started over on a fresh install of ubuntu and it works just fine now. Thanks!

[2022-04-05 08:44] #5465 closed

[2022-04-05 09:19] dsilletti commented on #6502
Hi @P-R-O-C-H-Y,
basically my sketch is using EspAsyncWebserver to serve html files from the LITTLEFS, using also the processor to replace some placeholders with some strings.
I think the issue is with the file read only, the output most of the times is missing big chunks, also in more parts of the html file, the missing chunks are always the same (probably according to the buffer size you configu

[2022-04-05 09:34] P-R-O-C-H-Y commented on #6502
@dsilletti
Can you test your sketch with this fixes #6536 ? If you will still have some issues, you can provide some sketch for testing :)

[2022-04-05 09:45] TheButlah commented on #6535
In that case, how do I use its integrated USB CDC? I cannot find any documentation on it :(

[2022-04-05 10:15] Pol-Moreno commented on #4108
Hi @chegewara,
I'm starting at this world and I need some help.
I'm working too in a project to read barcodes with hid barcode scanner. Is it possible to do that with any library?
Could you help me with the code I must upload to my ESP32-s2 for reading the codes sent by barcode scanner since the serial monitor from this one?

Thanks!

[2022-04-05 10:34] dsilletti commented on #6502
Hi @P-R-O-C-H-Y ,
I just tested it and unfortunately is not fixing the issue.

The behaviour now is different, before the chunks were just missing, now they are added,  repeated in a part of the file where they should not be.

On a 243 lines html page, before I had just 194 lines, now I have 294 lines with a repeated chunk pasted in the middle of some other lines.

[2022-04-05 10:37] kostuch commented on #6264
Hi,
I faced similar situation, when using BLE on ESP32-C3.
Connections and cabling are fine (if I flash chip with simple blink code, everything is ok).
But when I use code which connect to remote BLE device, the built-in USB become unavailable.
Device manager on windows then shows it as unknown device with message "A request for the USB device descriptor failed."
Normally (when ESP is flashed with

[2022-04-05 10:52] P-R-O-C-H-Y commented on #6502
Hi @dsilletti,
Thanks for testing. There is still work in progress on the PR. We are discussing changes here #6507 so you can read about that more. Some users are creating test cases which helps me a lot to make everything work perfectly :)

If you can provide the sketch it will be awesome :)

[2022-04-05 10:53] kostuch commented on #6535
@TheButlah
Normally you should see it as a COM port in DeviceManager (when using windows)
It require libUSB-WinUSB driver manipulation to use it. You can use this tool https://visualgdb.com/UsbDriverTool/
Then put simple statement in your code: printf("something via usb\n");
...and you should see it in terminal window.

[2022-04-05 11:14] P-R-O-C-H-Y commented on #6502
@dsilletti Updated PR, can you test if its still the same? Thank you

[2022-04-05 11:17] fillybrese commented on #5440
@spyder0069 thanks for the hint about the channel groups. also i noticed the different ledc channels affecting each others' frequencies when using ledcWriteTone. channel 0 affected channel 1 in my case. i moved channel 1 to channel 9 and it does not have the effect anymore, but unfortunately i can't get it working at all on channel 9.

Anyways seems there's certainly this affectation for library u

[2022-04-05 11:33] TheButlah commented on #6535
But how would I replace the `Serial` instance?

[2022-04-05 11:40] kostuch commented on #6535
Just don't use Serial.
Serial.print(); will be printf();

[2022-04-05 11:55] kostuch commented on #6535
You may find some inspiration here: https://www.esp32.com/viewtopic.php?f=19&t=24280

[2022-04-05 12:03] TheButlah commented on #6535
@me-no-dev Could you reopen? If it is intended for there to be no tinyusb.h, I think a better title for my issue would be "Support `Serial` instance on the ESP32-C3

Its important for software compatibility for this to work out of the box, and going through the USBCDC and HardwareSerial files, it certainly looks like the intention is there for a define to have the onboard USBCDC used by `Serial`

[2022-04-05 12:16] igrr commented on #160
This has been implemented in https://github.com/espressif/arduino-esp32/pull/6398, thanks @jpswensen for the pull request!

[2022-04-05 12:16] #160 closed

[2022-04-05 12:19] dsilletti commented on #6502
Still the same, please try with this test sketch and test html file.

When you will see the source of the webpage served (using your last PR), from line 189  to line 230 you will find a chunk of the previous part of the html file.

I added also the OTA to the sketch so you will be also able to create the LittleFS.bin file with mklittlefs and upload it from the /ota web page.

[code]

index.html te

[2022-04-05 12:19] igrr commented on #269
Let's consider this feature implemented in https://github.com/lbernstone/ESP_AVRISP. We won't add AVRISP functionality to arduino-esp32 core at this time.

[2022-04-05 12:19] #269 closed

[2022-04-05 12:22] igrr commented on #619
Status update: we need to investigate how much we can adhere to the official SPISlave library API if we decide to implement this one.

[2022-04-05 12:25] igrr commented on #789
This seems to be fixed by https://github.com/espressif/arduino-esp32/commit/5ad468f9dcb5f9cc7249a4fb987aead4f1d9b136 and https://github.com/espressif/arduino-esp32/pull/4117. If you find an issue with the latest 2.0.3-rc1 release, please open a new issue.

[2022-04-05 12:25] #789 closed

[2022-04-05 12:28] igrr commented on #1178
Status update: need to investigate if ESP-IDF supports this. Also not clear if this is supported for BT or BLE or both.

[2022-04-05 12:36] igrr commented on #3902
Let's keep this feature request open.

[2022-04-05 12:38] igrr commented on #4551
It seems that the partition tables can be customized at sketch level. The task here is to document this capability and maybe add an example.

[2022-04-05 12:41] igrr commented on #4746
INCLUDE_xTaskGetHandle  is set to 1 in IDF release/v4.4, so this feature should be availble in arduino-esp32 v2.0.0 and later:
 https://github.com/espressif/esp-idf/blob/c29343eb94d2f2ca17b3a5b38c82452e556147f2/components/freertos/include/esp_additions/freertos/FreeRTOSConfig.h#L255

[2022-04-05 12:43] igrr commented on #5271
Seems like the conclusion for now is that migrating to arduino-core API is not currently doable. We'll close this issue to keep the backlog manageable.

[2022-04-05 12:43] #5271 closed

[2022-04-05 12:44] igrr commented on #5347
This is fixed in the v2.0.3-rc1 release.

[2022-04-05 12:44] #5347 closed

[2022-04-05 12:54] igrr commented on #5537
Funny you say this, in fact on the original ESP32 it is very easy to overflow IRAM when Bluetooth and Wi-Fi are both enabled. So saving every bit of IRAM actually does make sense. I think we won't implement this proposal because there is very little to gain from placing such a small function into IRAM explicitly. Most of the time, it will stay in cache.

[2022-04-05 12:54] #5537 closed

[2022-04-05 14:03] VojtechBartoska commented on #5612
@Mos135 After discussion of this feature request we decide that it's not doable. I'm closing it, thanks for your contribution!

[2022-04-05 14:03] #5612 closed

[2022-04-05 14:06] VojtechBartoska commented on #5624
Hello @sanmira, thanks for your feature request. It needs more investigation from our side. Are you able to provide a code for testing this?

[2022-04-05 14:07] VojtechBartoska commented on #5641
Status update: After evaluation we are keeping this feature request open and it needs more investigation.

[2022-04-05 14:10] SuGlider commented on #6379
Thanks @Sys64736 for the detailed information!

I'll check it and propose a PR or something else to fix it.

[2022-04-05 14:15] VojtechBartoska opened #6538 "Evalute "Type: For reference" issues and add them to documentation"
Triage all issues labelled as **[Type: For reference](https://github.com/espressif/arduino-esp32/issues?q=is%3Aopen+is%3Aissue+label%3A%22Type%3A+For+reference%22)**.

If applicable, add them to the Documentation into [FAQ Section](https://docs.espressif.com/projects/arduino-esp32/en/latest/faq.html).

It's part of backlog clean-up and Documentation improvements.

List of For reference issues:
- #

[2022-04-05 14:16] Sys64736 commented on #6379
Thanks!  Btw, this happens with ESP32's also along with C3's and I would imagine any other model.

[2022-04-05 14:32] Jason2866 commented on #6535
Add this and it should work
[code]

[2022-04-05 14:46] P-R-O-C-H-Y commented on #6502
@dsilletti  I will test that, thank you for great sketch.
I have added another commit to PR, can you test with latest changes please? TY

[2022-04-05 14:48] spyder0069 commented on #5440
Here is some sample of my working code:
`
#define TFT_BACKLIGHT   32
byte buzzer=2;  //set to pin 2

void setup{
 pinMode(TFT_BACKLIGHT, OUTPUT);
 digitalWrite(TFT_BACKLIGHT, LOW);
 setlcdbrightness(70);

  ledcDetachPin(buzzer); //needed to unhook the buzzer from FW33 and below otherwise will give solid tone until the first beep
routine is done.
  pinMode(buzzer, OUTPUT);
  digitalWrite(buzzer, L

[2022-04-05 15:02] dsilletti commented on #6502
You are welcome! Tested now, still the same issue.

[2022-04-05 15:15] #6461 closed

[2022-04-05 16:23] JoercT commented on #5454
Hi.... how do I use this on windows please...

[2022-04-05 17:27] TheButlah commented on #6535
@Jason2866 Trying your suggestion out, but it still doesn't work. I call `Serial.println("Hello")` in `loop()` with a delay, it prints nothing but this initial debug info:

[code]

[2022-04-05 17:39] TheButlah commented on #6535
In the above code, I forgot to call `Serial.begin()`. 🤦‍♂️

Sorry for the dumb mistake! I can confirm that @Jason2866's build works!

[2022-04-05 17:52] lbernstone commented on #5641
Take a look at https://github.com/pstolarz/OneWireNg/blob/master/src/platform/OneWireNg_ArduinoIdfESP32.cpp, where he claims to support new versions of esp-idf along with variant chips.

[2022-04-05 17:57] xinkiknix opened #6539 "esp32_gpioMux"
### Board

ESP32 Dev Mod

### Device Description

BMP180 pressure sensor

### Hardware Configuration

int Pin_I2C_SDA = 32;
int Pin_I2C_SCL = 33;
uint32_t FREQ = 0;

### Version

v2.0.2

### IDE Name

Arduino IDE 2.0.0-rc5

### Operating System

Windows 11

### Flash frequency

40Mhz

### PSRAM enabled

no

### Upload speed

115200

### Description

After upgrading the espressif boards manager to

[2022-04-05 18:39] bear24rw commented on #6008
Has there been any movement on this? I have the same issue.

[2022-04-05 18:45] bear24rw commented on #6008
Here is a patch that resolve this issue I believe:

[code]

[2022-04-05 19:24] Jason2866 commented on #6539
The lib `TFT_eSPI` is not compatible to the changes done in core.
To solve ask the maintainer of the lib to update to be compatible with latest core version

[2022-04-05 20:03] mrengineer7777 opened #6540 "Missing vSemaphoreDelete() in arduino-esp32/cores/esp32/"
### Board

Any

### Device Description

NA

### Hardware Configuration

NS

### Version

latest master

### IDE Name

PlatformIO

### Operating System

Win10

### Flash frequency

80

### PSRAM enabled

no

### Upload speed

115200

### Description

This is a proposed bugfix and feature improvement.  In #6425 it was discovered that esp32-ha-spi.c never releases the Mutex created in spiStartBus().

[2022-04-05 20:16] Andr1961 commented on #4980
I will wait, maybe you can find a reason,
noticed, if the sketch with "VERBOSE," then always connects on the second attempt 17-18 sec,
without "VERBOSE" almost never connects.

[2022-04-05 22:04] umerm64 opened #6541 "ESP32 is crashing when WiFi is connecting / BLE is initializing"
### Board

ESP32 DEVKIT C

### Device Description

I am using simple ESP32 module and there is no external device attached to it.

### Hardware Configuration

I don't have any external device connected to it.
I am using the WLED project from here: https://github.com/Aircoookie/WLED
Only the GPIO pins used by this project are used.

### Version

v2.0.2

### IDE Name

Platform IO

### Operating Syst

[2022-04-05 23:25] mc-hamster commented on #6539
We're also getting this error when including paulstoffregen/OneWire@^2.3.6 with 2.0.3-RC1

[2022-04-05 23:32] mc-hamster commented on #6539
This PR ( https://github.com/meshtastic/Meshtastic-device/pull/1286 ) is being blocked by this defect.

[2022-04-06 00:08] Lokecrafter commented on #2411
Ahhh after hours of trying to fix a problem where my esp32 was stuck in a reboot loop this solved it. You're my saviour @everslick !   <3

[2022-04-06 07:26] Twilight-Logic commented on #3902
Than you. Really could do with a lightweight secure webserver on the ESP32 just like on the ESP8266. The alternative unfortunately is rather unwieldly and memory hungry.

(If anyone has manually added the original ESP8266 WebseverSecure library - and I have heard that is has been done - I would be interested to know how it was done? The ESP32 library seems to have a somewhat different folder struc

[2022-04-06 07:55] PilnyTomas commented on #5460
Hi @Jason2866, could you please provide a complete sketch that I can flash to replicate your issue?

[2022-04-06 08:33] PilnyTomas commented on #4980
With or without the debug logs it connects fast for me on the core version 2.0.3-RC1.
I am sorry, but I cannot replicate your issue.
@handmade0octopus, @ThomasWaldmann, @zasnicoff, @eyecee, @zencow, @enriquewph, @perotom Can you please try the new core if the updates fixed your issue?

[2022-04-06 08:59] perotom commented on #4980
On my end, connecting worked good and fast but I tried it very little. In one week I will have 30 devices in use which constantly connect. I will get back with some impressions.

[2022-04-06 09:40] Jason2866 commented on #6539
Yes, since onewire is using not supported anymore internal gpio pin manipulating too.
I knew because i have adopted our [Onewire fork](https://github.com/arendst/Tasmota/pull/14861) to work with latest core

[2022-04-06 09:54] Jason2866 commented on #6541
Not directly solving your issue, for Tasmota we use [h2zero/NimBLE](https://github.com/h2zero/NimBLE-Arduino) since the beginning of using BLE because it has a lower footprint for RAM and flash usage. It does work fine with latest core.
Maybe you give it a try.

[2022-04-06 10:29] Jason2866 commented on #5460
@PilnyTomas This is the code snipplet (used in Tasmota) for temp sensor reading
https://github.com/arendst/Tasmota/blob/development/tasmota/support_esp.ino#L519-L540

[2022-04-06 10:33] mistrykm4u opened #6542 "PWM frequency issue on the ESP32 WROOM Module"
### Board

ESP32 Dev Module (MH-ET LIVE)

### Device Description

I have attached my own designed Light Dimmer module. It works on a single PWM Pin
![IMG_6789](https://user-images.githubusercontent.com/26956930/161949732-c033b43c-986d-40ac-990a-2714ba34755c.JPG)
![IMG_6790](https://user-images.githubusercontent.com/26956930/161949742-cd5a5c4d-005f-42d8-a380-0179028caf09.JPG)
.

### Hardware Config

[2022-04-06 11:22] VojtechBartoska commented on #6435
Hello, any updates? Thanks!

[2022-04-06 11:23] VojtechBartoska commented on #5938
@cicciocb Wil you be able to retest this with v2.0.3-RC1? It should be already fixed :) Thank you.

[2022-04-06 11:27] VojtechBartoska commented on #6374
@0x0fe You can test it with development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1). Take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-06 11:33] VojtechBartoska commented on #5943
@rhr407 Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-06 11:35] VojtechBartoska commented on #4990
Hello @salmon-charles and @cyberman54. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-06 11:36] VojtechBartoska commented on #4915
Guys , do you still face this issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1). Take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-06 11:38] VojtechBartoska commented on #1815
Hello, can you please confirm this is still valid on  [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1)? Take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-06 11:39] VojtechBartoska commented on #1380
Hello guys, are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-06 11:40] VojtechBartoska commented on #1433
Hello, are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-06 11:42] VojtechBartoska commented on #5002
Hello, I'm marking this one as expired as there was a lot of changes on it. If you still face this issue on latest v2.0.3-RC1, please open a new issue. Thanks for your contribution.

[2022-04-06 11:43] VojtechBartoska commented on #4727
Hello, marking as expired. If you still face this issue on latest v2.0.3-RC1, please reopen it. Thanks for understanding and your contribution.

[2022-04-06 11:43] SuGlider commented on #6221
@Jasoroony

I have created a few test cases and some of the partial conclusions are:
1)  CDC ```write()``` can get stuck after a while, mainly when it is executed "repetitively too fast"
2) When CDC is only receiving data, it works fine, even in the "highest frequency transmission mode" - in which it will send "RX CDC FIFO Overflow" messages and then it will flush the data.
3) When CDC is only sen

[2022-04-06 11:44] VojtechBartoska commented on #3686
Hello @simap and @GeorgeFlorian  , sorry for late reply. Are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? You can take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Ardui

[2022-04-06 11:46] VojtechBartoska commented on #5255
Hello, at this moment we are not able to consider this, marking us won't fix for now.

[2022-04-06 12:01] SuGlider commented on #6221
@Jasoroony

I have an example, based on your sketch, that works fine and can send/receive more than 10 million bytes at a good transmission rate. This can be a work around example for your project:

I used a ESP32-S2 DevkitC-1 v1.0 board, that has both CDC and UART (CP2102) exposed USB ports.
In the menu I have enabled "**USB CDC On Boot**", therefore ```Serial``` will work with CDC and ```Serial0

[2022-04-06 12:22] VojtechBartoska commented on #5864
This issue was closed by merging S3 support into master branch.

[2022-04-06 12:22] #5864 closed

[2022-04-06 12:50] VojtechBartoska commented on #4782
@Harvie Can you please give it a shot on v2.0.3-RC1? Thanks

[2022-04-06 13:07] PilnyTomas commented on #5460
Hi, I tested your code on S2 and it works perfectly.

[2022-04-06 13:25] xinkiknix commented on #6539
removing #include <TFT_eSPI.h>;  solved the compile error. (it was not needed for this but still included from a previous test)
OneWire is still used and gives no issue.

[2022-04-06 13:36] FStefanni opened #6543 "MQTT poor performance"
### Board

esp32 dev module

### Device Description

esp32 devkit c v4

### Hardware Configuration

* I2C sensors
* I2C display SSD1306

### Version

v2.0.2

### IDE Name

VS Code + arduino-cli

### Operating System

Linux Debian Testing

### Flash frequency

default

### PSRAM enabled

no

### Upload speed

default

### Description

Hi,

I try to summarize in the following.

## The program

* ESP

[2022-04-06 13:39] PilnyTomas commented on #4782
Hello @Harvie, I'm trying to understand your issue, can you please help me by answering a few questions?
1. What are you trying to accomplish?
2. What purpose does serve the I2S in your sketch?
3. What are your hardware connections?
4. What values are you expecting?

[2022-04-06 13:45] Harvie commented on #4782
Ahoj @PilnyTomas ,
well i was working on I2S based audio generator. I was generating audio samples, streaming them to I2S DAC and then i wanted to use analog inputs to read potentiometers which are meant to serve as user input which can parametrize the process of audio synthesis. For example: Generate sinewave, Stream it to I2S, use analog pots to set frequency and amplitude of that sinewave.

Unf

[2022-04-06 13:46] cyberman54 commented on #4990
@VojtechBartoska
Same problem, see logs below.

Test environment:

IDE: platformIO with arduino-espressif32 as framework
PLATFORM: Espressif 32 (3.3.1+sha.3784198)
PACKAGES:
 - framework-arduinoespressif32 2.0.3+sha.1e388a24
 - tool-esptoolpy 1.30100.210531 (3.1.0)
 - tool-openocd-esp32 2.1000.20210721 (10.0)
 - toolchain-xtensa-esp32 8.4.0+2021r2-patch3
build_flags = '-D USE_ESP_IDF_LOG'

Result:

[2022-04-06 14:39] mrengineer7777 commented on #6542
Need more info.  I would start by putting a scope on that PWM output pin.  You should see the duty cycle change as you adjust the brightness.  Compare the waveforms between the ESP8266 and ESP32.  BTW, nice clean board layout.

[2022-04-06 14:52] VojtechBartoska commented on #6467
Hi @savagerex, was the last comment from David helpful?

[2022-04-06 15:03] mrengineer7777 commented on #6540
I would love to hear some feedback from the devs, or anybody, if this is a good addition to this project.

[2022-04-06 15:09] VojtechBartoska commented on #6540
Hi @mrengineer7777, thanks for suggestion. What do you think @me-no-dev?

[2022-04-06 16:49] VojtechBartoska commented on #5855
Closing as PR was merged already.

[2022-04-06 16:49] #5855 closed

[2022-04-06 16:53] VojtechBartoska commented on #5972
@pgrawehr yes, thanks for finding this. Let's close this one and follow mentioned issue above as it's already in our Roadmap.

[2022-04-06 16:53] #5972 closed

[2022-04-06 16:54] Avenitos commented on #6333
this work!

[2022-04-06 17:09] VojtechBartoska opened #6544 "Full implementation of AnalogWrite"
Current implementation of AnalogWrite is based on LedC Peripheral which has some limitations.

This issue tracks possible full implementation of AnalogWrite.

## Related links
- https://www.arduino.cc/reference/en/language/functions/analog-io/analogwrite/

[2022-04-06 17:13] VojtechBartoska commented on #4
Hello all contributors of this request,

AnalogWrite was already implemented based on LedC with PR #5861.

This implementation has some limitation so we created a new issue #6544 and add it to our Roadmap.

If you are interested you can follow newly created issue and I'm closing this one.

Thanks for your patience and help.

[2022-04-06 17:13] #4 closed

[2022-04-06 17:17] Harvie commented on #4
Thank you very much!

This is actually all i've needed. At least some basic functionality. Because i only use arduino API for some simple things and preliminary hardware tests. For anything serious i prefer to use espressif API directly anyway....

[2022-04-06 17:20] VojtechBartoska commented on #4
@Harvie We are glad that this basic functionality works for you. If you are interested, feel free to comment newly created issue for full implementation.

[2022-04-06 18:06] JeanBlignaut commented on #2516
Hmm I'm having a similar issue with a "Lolin" d3 with built in OLED - the device is functional since the display goes through a demo loop when powered - however I have trouble even finding the device port under macOS.
I installed ESP-IDF VSCode extension and under windows this reports that the device is not set in the correct mode for programming - now if only I could manage to find the device on

[2022-04-06 18:21] SuGlider commented on #6221
@Jasoroony

Sketch/Script used for testing CDC transmit to PC only - **about 4.5Mbps**
Both check if data sent is correct and in synch. Python script just displays number of 128 bytes chucks sent.
When there is a CDC TX Overflow the Python script will identify it and stop with a message.

#### Arduino Script - ESP32-S2
[code]

#### Python Script - PC Win10
[code]

[2022-04-06 18:29] drws commented on #5537
@igrr Thank you for including the proposal in relevant discussions. The resolution makes sense. There is still one specific question remaining from above for you to confirm, as follows:

Half a meg of RAM is still not much in comparison with majority of devices ESP32 communicates with through Wi-Fi or Ethernet. However, it should still be enough for running both Wi-Fi, Bluetooth and the relevant s

[2022-04-06 20:02] Sys64736 opened #6545 "ESP32c3 - No serial output from built in jtag hardware"
### Board

ESP32c3

### Device Description

Nothing attached

### Hardware Configuration

GPIO 18 & 19 are attached USB D- and D+ along with GRD and VCC

### Version

latest master

### IDE Name

PlatformIO

### Operating System

Win 10

### Flash frequency

40

### PSRAM enabled

no

### Upload speed

115200

### Description

When connected to a C3 chip without a uart chip, directly to USB+ and U

[2022-04-06 20:33] lbernstone commented on #6545
Problems with Platform.io need to be directed to https://github.com/platformio/platform-espressif32.  In Arduino IDE, select "Enable CDC on boot".
Note that you cannot change settings in sdkconfig.h, those are the settings that have been compiled into the libraries included in arduino-esp32.

[2022-04-06 20:49] Sys64736 commented on #6545
Ok thanks, I didn't realize this was a pio issue.  I'll try in the Arduino IDE with that CDC option.

[2022-04-06 20:49] zencow commented on #4980
I still get "slow" connects and sometimes "exceedingly slow" connects with 2.0.3-RC1.  When it works, connection times are between those I got for version 1.0.4 (~2.3-2.5 seconds) and version 1.0.5 (~6.5 seconds).  However, I also often get errors, which extend connection times over 30-60 seconds.

* "slow" is typically taking ~4 to 5 seconds, but I've seen it as fast as 3.6 seconds.

* "exceeding

[2022-04-06 20:50] #6545 closed

[2022-04-06 22:10] fabianoriccardi commented on #1433
Tested 2.0.3-RC1, timeout is now stuck to 30sec.

I looked into your commit and it regards only secure connection, so it doesn't seem relevant to this issue.

[2022-04-07 01:07] cattledogGH commented on #4915
I can connect and disconnect multiple times with no issues using 2.0.3RC1 with Arduino IDE 1.8.15. I do not see the problem of having to restart the esp32 to reconnect. I am using Kai Morich's Serial Bluetooth Terminal on an Android phone with Android 11.

No issues as well with 2.0.2.

[2022-04-07 01:47] savagerex commented on #6467
OK!! THX

[2022-04-07 04:30] mistrykm4u commented on #6542
Hi David @mrengineer7777
Thank you so much. Yes this is my most beautiful invention and a very compact size designed light dimmer. It's a 555 timer CMOS based dimmer and just working on a single PWM pin. we do not need to set a specific frequency on the PWM signal. This dimmer works on reverse function so we give high value on the PWM pin then its going fully OFF and low value then its full ON. If

[2022-04-07 05:57] ankostis commented on #893
@atanisoft to view color logs, you must instruct MiniTerm to display chars received in *raw*, with this in your `platformio.ini`:
[code]

Alternatively, launch the monitor command directly from your OS's terminal (if working with a POSIX host):
[code]

[2022-04-07 06:54] Jasoroony commented on #6221
That's also my conclusion.  It is in the TinyUSB layer too, I tested that with a sketch that only used "tud_cdc_n_available", "tud_cdc_n_read" & "tud_cdc_n_write".  However, I didn't see any issues in his software layer.  I got as far as the code in "dcd_esp32sx.c" (which is the hardware abstraction code specific for the ESP32-S2) which sets up the USB peripheral in the ESP32-S2 chip, I added some

[2022-04-07 06:55] VojtechBartoska commented on #1433
Thanks for testing, issue added to our Roadmap and we will investigate this further.

[2022-04-07 06:57] VojtechBartoska commented on #4915
@cattledogGH Thanks for testing, I'm, then closing this issue. If still needed, you can reopen it.

[2022-04-07 06:57] #4915 closed

[2022-04-07 07:03] VojtechBartoska commented on #6525
Hello @rezaneam, 1.0.6 version is quite old and not supported anymore, as mentioned above, please test your code on 2.0.3-rc1.

[2022-04-07 07:05] VojtechBartoska commented on #6526
I just see you mentioned  ESPAsyncWebServer problems, it can be probably related to this issue? #6502?

[2022-04-07 07:08] VojtechBartoska commented on #6528
@martinius96 Your specific issue can be solved by backports. Do you need more help on this? Seems sticking to 2.0.3 is a solution for this :)

[2022-04-07 07:08] PilnyTomas commented on #4782
Ahoj @Harvie,
could you please tell me what pins are you using for the I2S?
And also which chip, module, and dev board (for example ESP32, WROOM-32D, DevkitC) so that I can use same HW to test it on.
Ideally, please post complete, minimal code that can be flashed and demonstrates the issue (updating the first post is ok).

[2022-04-07 07:12] VojtechBartoska commented on #6534
Hello @ankostis, I'm not really sure if we can help on this. Platformio officialy doesn't support version 2.0.0 and newest so not sure if we are able to make this compatible.

@me-no-dev Can you please take a look on this?

[2022-04-07 07:13] VojtechBartoska commented on #6539
@xinkiknix can we close this then?

[2022-04-07 07:14] martinius96 commented on #6528
Yes, 2.0.3 working great, we can close this issue, solved.

[2022-04-07 07:14] #6528 closed

[2022-04-07 07:14] VojtechBartoska commented on #6543
Hello @FStefanni, are you able to test this on v2.0.3-RC1 as well? Thanks

[2022-04-07 07:22] mistrykm4u commented on #6542
@mrengineer7777

https://user-images.githubusercontent.com/26956930/162142990-0757784b-5b69-466d-a139-484794b34846.mp4

Unfortunately I have no osciloscop so I am not able to check both (ESP8266 & ESP32 WROOM) board PWM frequency.
But I am sure there's something going wrong in this ESP32 WROOM module. I have attached a video.
See how it is flickering. If light brightness is full then we do not see

[2022-04-07 07:27] martinius96 commented on #6533
Post() function of HTTPClient class is overloading, so you call it in program with String payload, then it is overloaded and in result it will call http.sendRequest("POST", payload, size); with POST parameter. It is similar with PUT(payload), UPDATE(payload) functions that will use PUT or UPDATE parameter of request in http.sendRequest().

`int HTTPClient::POST(String payload)`
`{`
`    return POS

[2022-04-07 07:27] FStefanni commented on #6543
Hi,

I can, if someone tells me how to do it: it is not available in arduino ide for install.

Regards.

[2022-04-07 07:37] VojtechBartoska commented on #6543
Take a look here: https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html

You need to change your link in Preferences in Arduino IDE to development release link.

[2022-04-07 07:39] RensMvP commented on #6533
thank you for the response, i already went to use the http.sendRequest function. The result ended up that it worked that way and the program got quicker as before

[2022-04-07 07:43] Harvie commented on #4782
It was year ago, so i don't really remember, but certainly i had used whatewer default pins for I2S_NUM_0 are, because i always try to avoid pin remapping or muxing wherever possible and there was no reason to do so.
AnalogRead(2) and AnalogRead(4) were then always returning 4095 no matter what actual inputs were.

[2022-04-07 08:29] FStefanni commented on #6543
Hi,

thank you for the hints.
I checked, and yes, there is still the same behavior, maybe it happens slightly less frequent, but it still happen to have a delay around 11s/13s.

**NOTE**: something strange happens during compiling with 2.0.3-RC1: the first compilation fails, but the second succeeds... maybe something to be adjusted into my project? Nevertheless, as the second consecutive compiling

[2022-04-07 08:38] RensMvP opened #6546 "How to Encode a HMAC SHA256 has with base64 on a ESP32"
### Board

WT32-ETH01

### Device Description

Nothing added

### Hardware Configuration

Nothing added

### Version

latest master

### IDE Name

Arduino IDE

### Operating System

Windows 10

### Flash frequency

80

### PSRAM enabled

no

### Upload speed

921600

### Description

I want to encode a HMAC SHA256 hash with Base64. But i get all sorts of mishaps with the datatypes between both fun

[2022-04-07 09:09] dsyleixa commented on #4
does analogWrite() now finally truly work like the Arduino API implementation both
a) for digital output pins to generate pwm signals?
b) for analog DAC pins to generate an analog DC voltage?

[code]

[2022-04-07 09:15] dsyleixa commented on #3603
I do not understand, tbh:
I always can select either  board release version via the Arduino IDE board manager, for ESP32 everything up to 2.0.2 is available:
so why not 2.0.3?
what exactly do I have to change additionally?

[2022-04-07 09:31] VojtechBartoska commented on #3603
@dsyleixa It's because we released only Release candidate. It's not a stable release version, because of that, link needs to be changed to Development release link.

[2022-04-07 09:33] VojtechBartoska commented on #4
@dsyleixa how mentioned above, full implementation is tracked in newly created issue

[2022-04-07 09:34] dsyleixa commented on #3603
thanks, but as already stated I will only  install stable versions via the Arduino board manager.

[2022-04-07 09:37] dsyleixa commented on #3603
thanks, but as already stated I will only  install stable versions via the Arduino board manager and I won't change any links which perhaps may mess up everything for all my other programs and projects..

[2022-04-07 10:51] SuGlider commented on #6221
Thanks @Jasoroony for the information and your time debuging it.

There is an issue for sure. I'll try to go deeper into it and also to look for an USB expert to help on it

[2022-04-07 10:52] VisualMicro commented on #6128
Confirmed this is now working correctly on v2.0.3-RC1, thanks for the update and fix.

[2022-04-07 10:56] PilnyTomas commented on #4782
Hi, I tried using analogRead with I2S installed and analog reads returned 0.
Do you wish to proceed with finding out what is wrong, or it doesn't matter anymore?

[2022-04-07 10:59] #6128 closed

[2022-04-07 11:06] dsyleixa commented on #4
thanks, but then I don't see what has been implemented actually and what not, tbh...

[2022-04-07 11:13] dsyleixa commented on #6544
Just to make it absolutely clear what "full implementation of anaogWrite() " would mean, acc to Arduino API definitions:

[2022-04-07 11:31] Harvie commented on #4782
Yes, but i don't have the esp32 board with me right now, i will find it and check again later. It was year ago, so perhaps the issue might be already resolved in recent arduino library...

[2022-04-07 11:33] PilnyTomas commented on #4782
Alright, I will wait until you test it with the latest version (2.0.3-RC1)

[2022-04-07 11:33] VojtechBartoska commented on #4423
Hello folks, are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid?

Take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-07 11:36] VojtechBartoska commented on #4728
Hello folks, are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid?

Take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-07 11:37] VojtechBartoska commented on #4779
I'm closing this issue as expired because there is no update.

[2022-04-07 11:38] VojtechBartoska commented on #5117
Hello folks, are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid?

Take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-07 11:38] VojtechBartoska commented on #5205
Hello @Triangulix , are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid? ADC was refactored lately.

Take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-07 11:39] VojtechBartoska commented on #5927
Closing as expired.

[2022-04-07 11:39] #5927 closed

[2022-04-07 11:40] VojtechBartoska commented on #5447
Hello, are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid?

Take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-07 11:42] VojtechBartoska commented on #5451
Hello, are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid?

It seems to me that this is not valid anymore as there were a lot of changes.

Take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development re

[2022-04-07 11:43] VojtechBartoska commented on #5464
Closing as Expired, if needed, please open new issue @rocrail. Thanks.

[2022-04-07 11:43] #5464 closed

[2022-04-07 11:45] VojtechBartoska commented on #5473
Serial was refactored lately so this need to be tested on v2.0.3-RC1 or can we closed it be closed @yuranikspb?

[2022-04-07 11:46] VojtechBartoska commented on #5501
Hello @Connect-and-Exchange, sorry for answering late. Is this issue still valid?

If yes, are you able to test this on v2.0.3-RC1?

[2022-04-07 11:47] VojtechBartoska commented on #5644
Hello, closing this one as expired. As mentioned above, we are not able to help on this issue.

[2022-04-07 11:47] #5644 closed

[2022-04-07 11:48] VojtechBartoska commented on #5645
Hello @Mos135, can we close this as solved?

[2022-04-07 11:48] VojtechBartoska commented on #5665
Hello folks, are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid?

Take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-07 11:49] zekageri commented on #3430
I'm using a modbus protocol to communicate with many devices on the bus continously.
My baudrate is 115200 and continously writing and reading to and from multiple devices on the bus. For this iam using an rs232 to 485 adapter.
Before i send my serial data i must pull a pin to high, after i sent it i must pull it low.

The problem is that my modbus communication is inside a task, running on whatev

[2022-04-07 11:50] VojtechBartoska commented on #5689
Hello @djornfevrier, sorry for replying so late. Is this still valid issue for you?

If yes, can you please test this on v2.0.3.-RC1?

[2022-04-07 11:51] VojtechBartoska commented on #5695
Hello, I'm closing this issue as expired due it's old date and also no more info provided. If needed, please open a new issue.

[2022-04-07 11:51] #5695 closed

[2022-04-07 11:52] VojtechBartoska commented on #5704
Hello, are you able to test your issue on development version [2.0.3-RC1](https://github.com/espressif/arduino-esp32/releases/tag/2.0.3-RC1) to check if this is still valid?

Take a look on [Docs](https://docs.espressif.com/projects/arduino-esp32/en/latest/installing.html) where is explained how to choose development release version in Arduino IDE.

[2022-04-07 11:52] VojtechBartoska commented on #5728
@mjlev314 is this till valid?

[2022-04-07 11:54] VojtechBartoska commented on #5758
Hi @avillacis , are you please able to test this on v2.0.3-RC1? Thanks!

[2022-04-07 11:54] VojtechBartoska commented on #5916
Closing as solved.

[2022-04-07 11:54] #5916 closed

[2022-04-07 11:55] VojtechBartoska commented on #5786
Hello @ArminJo, is this still valid? If yes, can you please test this on v2.0.3-RC1?

[2022-04-07 11:56] VojtechBartoska commented on #5787
Hello @s-light, is this issue still valid?

[2022-04-07 11:57] VojtechBartoska commented on #5793
Hello, I'm closing this one as expired. If needed, open a new issue.

[2022-04-07 11:57] #5793 closed

[2022-04-07 11:59] VojtechBartoska commented on #5797
Hello, closing as it was created by compability issue btw versions. Now Arduino-esp32 core v2.0.2 and newer support ESP-IDF v4.4 for using Arduino as ESP-IDF Component.

[2022-04-07 11:59] #5797 closed

[2022-04-07 12:00] VojtechBartoska commented on #5806
Hello @davidkleng, do you still face this issue on v2.0.3-RC1?

[2022-04-07 12:01] VojtechBartoska commented on #5817
Hello @robertgregor, sorry for answering late. Are you able to test your code under v2.0.3-RC1? Thanks!

[2022-04-07 12:02] Triangulix commented on #5205
@VojtechBartoska Since no-one replied for so long I changed the design and the ADCs are not used anymore.

[2022-04-07 12:03] VojtechBartoska commented on #5834
Hello @sohtamei, can you please test this with v2.0.3-RC1? TY

[2022-04-07 12:04] VojtechBartoska commented on #5838
Hello @fapolumi, are you able to give this a try on v2.0.3-RC1? Thanks

[2022-04-07 12:05] VojtechBartoska commented on #5841
Hi @tobozo, I think we can close this one as expired, right?

[2022-04-07 12:06] VojtechBartoska commented on #5850
Same here as in your another issue, still valid on v2.0.3-rc1?

[2022-04-07 12:07] VojtechBartoska commented on #5867
Hello, we did some changes from v2.0.0. Are you able to validate this with version 2.0.3-RC1? Thanks!

[2022-04-07 12:09] VojtechBartoska commented on #5868
Hello, is this still valid @khoih-prog?

GPIO was refactored in meantime, if yes, are you able to test this on v2.0.3-RC1?

[2022-04-07 12:10] VojtechBartoska commented on #5869
@DhirajGehlot was your issue fully covered? I think we can close it, thanks!

[2022-04-07 12:10] VojtechBartoska commented on #5885
Hello, can you please test this with 2.0.3-RC1 version?

[2022-04-07 12:11] #5899 closed

[2022-04-07 12:13] VojtechBartoska commented on #5900
Hello @HomeMade-Channel, excuse me for answering late. Is your issue still valid? If yes, are you able to retest it on v2.0.3-RC1? Thanks!

[2022-04-07 12:14] VojtechBartoska commented on #5901
@TrikkStar Can we close this as solved?

[2022-04-07 12:14] VojtechBartoska commented on #5922
Hello @brahmajit, can you please test this with v2.0.3-RC1? Thanks!

[2022-04-07 12:15] VojtechBartoska commented on #5924
Hello, I'm closing this as expired as there is missing info and issue is quite old. If needed, please open new issue. Thanks

[2022-04-07 12:15] #5924 closed

[2022-04-07 12:17] VojtechBartoska commented on #5933
I'm closing this one as PR was already merged. @tobozo Thanks for your contribution.

[2022-04-07 12:17] #5933 closed

[2022-04-07 12:18] VojtechBartoska commented on #5936
Hello. sorry for answering you late. Do you still need help?

[2022-04-07 12:19] VojtechBartoska commented on #5942
Hello, sorry for picking this up late. Do you still need some support @garudaonekh?

[2022-04-07 12:20] VojtechBartoska commented on #5949
Hello @Typhoor, are you able to propose changes in PR?

[2022-04-07 12:21] xinkiknix commented on #6539
Yes, this can be closed.

[2022-04-07 12:21] #6539 closed

[2022-04-07 12:21] VojtechBartoska commented on #5950
Hello @joysfera, any news on this from your side? :)

[2022-04-07 12:22] VojtechBartoska commented on #5951
Hello @Paulsburg, is this still relevant? If yes, are you able to test this with v2.0.3-RC1?

[2022-04-07 12:23] VojtechBartoska commented on #5952
@hdpklm sorry for asnwering you late, did you find a solution for your error?

[2022-04-07 12:23] VojtechBartoska commented on #5953
Hell, is this till relevant?

[2022-04-07 12:25] VojtechBartoska commented on #5954
@coratron Probably this can be closed as mentioned PR above was merged already, right?

[2022-04-07 12:27] VojtechBartoska commented on #5958
@frogg1ven Is this still relevant?

[2022-04-07 12:27] VojtechBartoska commented on #5978
Any updates on this?

[2022-04-07 12:54] tobozo commented on #5841
closing this a solved (by using @tasmota's [platform](https://github.com/tasmota/platform-espressif32) :bow: )

[2022-04-07 12:54] #5841 closed

[2022-04-07 12:58] Jason2866 commented on #5841
@tobozo Looking at https://github.com/Jason2866/platform-espressif32/actions/runs/2090321079
there is all green

[2022-04-07 12:58] VojtechBartoska commented on #5981
Hello, can you please validate this also with v2.0.3-RC1? Thanks

[2022-04-07 13:02] VojtechBartoska commented on #6015
Hello @Manasmw01, can we close this one a follow this issue in your new one #6061?

[2022-04-07 13:05] VojtechBartoska commented on #6017
Hello @mkohns, thanks for testing. We have missed that, did you try it also on v2.0.3-RC1?

[2022-04-07 13:06] VojtechBartoska commented on #6121
I'm closing the issue as PR was also closed as not applicable.

[2022-04-07 13:06] #6121 closed, assigned to nobody

[2022-04-07 13:08] VojtechBartoska commented on #3430
@zekageri Consider opening new issue if needed.

[2022-04-07 13:09] #5869 closed

[2022-04-07 13:13] VojtechBartoska commented on #4655
Hello, did you try to test your code on some Espressif device? It really looks like a HW issue and we are not able to help to replicate all thrid party boards issues.

[2022-04-07 13:24] zekageri commented on #3430
The problem is the same. But okay. Sorry for hijacking

[2022-04-07 13:28] VojtechBartoska commented on #5146
Hello, can you test this with v2.0.3-RC1? Thanks

[2022-04-07 13:29] VojtechBartoska commented on #5196
Hello, can you please retest your sketch with v2.0.3-RC1? Thanks!

[2022-04-07 13:30] VojtechBartoska commented on #5220
Hello, can you please retest this with v2.0.3-RC1?

[2022-04-07 13:32] VojtechBartoska commented on #6436
Closing is duplicate.

[2022-04-07 13:32] #6436 closed

[2022-04-07 13:32] pabloandresm commented on #5196
Sure. I ll do that this weekend.

[2022-04-07 13:32] VojtechBartoska commented on #5502
Hello, can you please retest this on v2.0.3-RC1?

[2022-04-07 13:32] Samuel-Oliveira-BR opened #6547 "PWM and hardware interruption"
### Board

ESP-WROOM-32D

### Device Description

ESP-WROOM-32D with two coils + RFID of 125khz circuit.

### Hardware Configuration

The RFID card reader circuit. Pin 5 generates a 125Khz PWM to excite the circuit and pin 19 reads the pulse width through an external interrupt.

### Version

v2.0.2

### IDE Name

Arduino IDE

### Operating System

Win10

### Flash frequency

80Mhz

### PSRAM enabl

[2022-04-07 13:33] VojtechBartoska commented on #5613
@chrisbabcock is this still valid?

[2022-04-07 13:34] #5622 closed

[2022-04-07 13:35] VojtechBartoska commented on #3430
Let's wait if others contributors here can share their ideas :)

[2022-04-07 13:37] VojtechBartoska commented on #5702
Hello, can you please retest this with v2.0.3-rc1? thanks!

[2022-04-07 14:00] zekageri commented on #3430
Thank you for your response.
I don't want to use modbus library because there is a lot of stuff in the protocol which is not standard for us.
I already using hardwareserial and setting the pins for myself.

[code]

This is my setup. The "modbus" frame is a litt bit modified for my use case so i can not use any library.
I have implemented the critical sections which will handle every possible scena

[2022-04-07 14:07] discapacidad5 commented on #5978
unfortunately I don't have enough knowledge And I'm still waiting for support to finish adding the integration with HID braille display

[2022-04-07 14:08] TrikkStar commented on #5901
Fine by me.

[2022-04-07 14:08] #5901 closed

[2022-04-07 14:16] digamesystems commented on #5447
Thanks, @VojtechBartoska . I'll give it a try once my current release is out.

I read through the release notes for 2.0.3-RC1 and didn't see anything directly related to the Bluetooth Serial library except for this issue: https://github.com/espressif/arduino-esp32/pull/6109

This only seems to be getting rid of a compiler warning...

Am I missing something? -- Thanks again for the suggestion!

[2022-04-07 14:32] rezaneam commented on #6525
Thanks that works perfectly. Probably need to be on this branch for a while :)

[2022-04-07 14:55] ankostis commented on #6534
What about the undefined `TAG` (#6351), why was it done?
There is still code out there expecting this to be defined.  Is this covered through `sdkconfig.defaults`?

[2022-04-07 15:16] khoih-prog commented on #5868
Hi @VojtechBartoska

Just retest and still have crashes when using **PIN_D1** and **v2.0.3-RC1**

[2022-04-07 15:33] avillacis commented on #5758
I have just tested this on an ESP32 (YUBOX Node), and the WiFiClientSecure connection to letsencrypt.org works properly now.

[2022-04-07 16:05] bperrybap commented on #6544
I would go further than @dsyleixa and say that analogWrite() is not really implemented until it works like it is specified and the way it works other platforms.
i.e. just because there is some sort of partial implementation, it doesn't mean that it is actually implemented.

In addition to what @dsyleixa mentioned, there must be a macro  digitalPinHasPWM(pin) that exists (as a macro not a function)

[2022-04-07 16:14] yuranikspb commented on #5473
I can't test it now, because work at another project. You can close this issue.

[2022-04-07 16:46] bperrybap commented on #4
I would say that this issue should not be closed until users can at least run the included Fade.ino sketch that comes with the IDE.
The Fade sketch still fails to compile for me with the latest released ES32 platform core, so I would say that this still an issue.
The Fade sketch can be found here:
Examples->01.Basics->Fade

[2022-04-07 16:55] igrr commented on #5950
Since SPIFFS library is a wrapper over esp-idf spiffs component, we would have to expose GC and check functions there. We have merge requests open for both, GC is ready to be merged, check needs a bit more work (internal: !15565, !17638). So I suggest we keep this open for now, it can be implemented pretty easily once IDF MRs are merged.

[2022-04-07 17:09] fanfanlatulipe26 commented on #6526
The mix SPIFFS +  ESPAsyncWebServer  have a strange behavior.

[2022-04-07 17:15] dsyleixa commented on #6544
@bperrybap :
as to

I do understand your intentions and consider it to be a precious feature,  but actually dare to disagree though:
As the original Arduino does not t provide a return value it may lead to further incompatibilities in case Arduino.cc  once might provide a similare feature but then impelemnt it in a different way (e.g., 0 if there is no failure and 1 or -1 if it fails).

Having sai

[2022-04-07 17:17] dsyleixa commented on #6544
@bperrybap :
as to

    I would also say that if there are potential failures of analogWrite() then analogWrite() should be changed from a void function to returning an integer status of zero if successful and non zero status like < 0 if there is a failure.
    While this is a deviation from the standard API it would still be compatible with the API as existing code would not ever be looking at re

[2022-04-07 17:41] igrr commented on #6483
@T365 The register you are referring to is not related to EXT1 wakeup source. It is related to GPIO wakeup source.

One ESP32, you can use GPIO wakeup source for light sleep only. To use GPIO wakeup source, use functions esp_sleep_enable_gpio_wakeup and gpio_wakeup_enable. This functionality is demonstrated in the following ESP-IDF example: https://github.com/espressif/esp-idf/blob/9763125c1c4aaec

[2022-04-07 17:42] #6483 closed

[2022-04-07 17:47] igrr commented on #6489
Indeed there is no PCNT in the ESP32-C3. There are also no LCD and Camera interfaces. Our documentation team is now aware of this issue and will fix the diagram in the next version of the datasheet.

Regarding the RMT — yes, you can do this. RMT works by recording time intervals between low and high values in a memory buffer. So you can't exactly count for 100ms, you can count up to a certain numb

[2022-04-07 17:57] avillacis commented on #6368
The previously-mentioned Android App still causes a crash in the ESP32 firmware when compiled under v2.0.3-rc1.

This espressif/esp-idf issue is marked as "resolved" but apparently the change is still not present in -rc1.

[2022-04-07 18:06] chegewara commented on #6368
Its resolved in master, not sure if already backported to v4.4, and most likely not included in v2.0.3-rc1.

[2022-04-07 18:13] s-light commented on #5787
i will look at it and recheck...
please give me some days.

[2022-04-07 18:14] #5943 closed

[2022-04-07 18:18] cod3gen opened #6549 "ESP32-S3: Guru Meditation Error when WiFi STA + analogRead"
### Board

ESP32-S3-WROOM-1

### Device Description

ESP32-S3-WROOM-1 on custom board. GPIO 5 Currently not connected to anything on board, also tested with GPIO 6 which is pulled low, same result on both
![esp32s3_1](https://user-images.githubusercontent.com/14929298/162267901-79c9a90d-f022-42e7-8d39-f7dbb1494ba4.png)
![esp32s3_2](https://user-images.githubusercontent.com/14929298/162267911-bcdce

[2022-04-07 19:29] Rotzbua commented on #5787
@s-light @VojtechBartoska I checked. The issue is still valid.
Still: `void transfer(uint8_t * , uint32_t )`
Should: `void transfer(void *, size_t )`

[2022-04-07 20:29] HubertHuber opened #6550 "LEDC - ERROR when setting FREQUENCY to less than 1 Hz ---> IntegerDivideByZero"
### Board

DOIT ESP32 DEVKIT V1

### Device Description

only using LED_BUILTIN

### Hardware Configuration

no

### Version

v2.0.2

### IDE Name

Arduino IDE

### Operating System

Windows 11

### Flash frequency

80MHz

### PSRAM enabled

no

### Upload speed

921600

### Description

should be able to set LEDC-frequency to values less than 1.00 hz
this was OK in versions 1.0.6 / 2.0.0 / 2.0.1

[2022-04-07 20:31] HubertHuber commented on #6550
Arduino 1.8.19

[2022-04-07 20:45] me-no-dev commented on #6550
@HubertHuber we need to check if IDF supports that. If so, we will implement it.

[2022-04-07 23:56] bperrybap commented on #6544
@dsyleixa
I get your point on portability and I am HUGE proponent of maintaining consistency.
I've had a few discussion with arduino.cc developers over the past 10 years with respect to analogWrite() and they have never been open to making any changes. So I don't intend to go down that path again.

Perhaps there are some alternatives to a return value that could work and yet still live within the

[2022-04-08 00:03] Sys64736 commented on #6545
In case someone else is searching this issue.  Without setting ARDUINO_USB_CDC_ON_BOOT,(issues with pio atm), I used USBSerial instead of Serial to get debug info to show up.   You have to disconnect the terminal once and re-reconnect then USBSerial.print will start working.  (i used CoolTerm), but the built-in one works too.  This was connecting directly to pin 18 & 19 with a USB cable.

[2022-04-08 03:00] irumaru commented on #4782
Hello.
I have the same problem.
I am looking for a solution to this problem.
I used automatic translation because my English is not good.
Sorry if it is hard to read.
Please give me your best regards.

Pin usage:
 32: i2s_adc(input)
 33: pwm_10kHz(output)
 26: analog(input)

Pin Connection
 Variable resistor on 26
 Connect 32 and 33

Environments :
 Arduino 1.8.15
 Espressif Systems version 2.0.2

[2022-04-08 03:20] garudaonekh commented on #5942
Yes, please. it still happened and I have to use it this way.

[2022-04-08 04:33] Manasmw01 commented on #6015
Yes, we can. Refer to #6061.

[2022-04-08 06:37] me-no-dev commented on #6547
ATMEGA328 does not run FreeRTOS and has a more "tight" timing on interrupts. I will suggest that you look into the RMT peripheral and use it's Input capabilities to precisely measure the low and high widths of the pulses. It will not require hw timer and will run all in the hardware.

[2022-04-08 06:47] me-no-dev commented on #6544
@bperrybap all of those "silent fails" will be fixed for 2.1.0 through a new internal module that will manage the different peripherals and their functions, thus providing PWM through more than just LEDC and adding more options for different output modes (servo, etc.)

[2022-04-08 06:49] me-no-dev commented on #6549
Please also provide actual minimal example that can reproduce the issue and decode those exceptions using the ExceptionDecoder

[2022-04-08 07:39] kramzarales opened #6551 "esp32-C3 can not create access points"
### Board

esp32-c3

### Device Description

Tested on esp32-c3 dev module v2 and also bear esp32-c3 wroom02.

### Hardware Configuration

issue present regardless of pins used.

### Version

v2.0.2

### IDE Name

arduino IDE

### Operating System

windows 10

### Flash frequency

80Mhz

### PSRAM enabled

no

### Upload speed

115200

### Description

The issue is that the esp32-c3 will not creat

[2022-04-08 07:48] VojtechBartoska commented on #5447
There have been some changes in ESP-IDF itself which can have an influence on this.

[2022-04-08 07:50] VojtechBartoska commented on #5958
Thanks for your answer, closing as expired. Hopefully see you in this repository in future as well.

[2022-04-08 07:51] VojtechBartoska commented on #6525
@rezaneam Can I consider this as closed?

[2022-04-08 07:57] VojtechBartoska commented on #5758
Great, closing then. Thanks a lot for testing!

[2022-04-08 07:57] #5758 closed

[2022-04-08 07:59] #5473 closed

[2022-04-08 08:06] VojtechBartoska commented on #5221
Thanks for testing, marking as closed.

[2022-04-08 08:06] #5221 closed

[2022-04-08 08:10] VojtechBartoska commented on #6368
Adding this to roadmap and when we have time we will test this.

[2022-04-08 08:39] VojtechBartoska commented on #5725
@mbastida123 Are you able to retest your issue on v2.0.3-RC1? Thanks!

[2022-04-08 08:42] VojtechBartoska commented on #5783
Any chance you can validate this again on v2.0.3-RC1? thanks!

[2022-04-08 08:47] Jason2866 commented on #6549
Probably this issue is hitted from bug #6507 since it uses LittleFS.

[2022-04-08 08:50] VojtechBartoska commented on #5882
Hello, can you please test this under 2.0.3-RC1?

[2022-04-08 08:50] #5886 closed

[2022-04-08 08:51] mistrykm4u commented on #6542
Any one help me regarding this issue?

@mrengineer7777 @kumekay @sctv @earlephilhower

[2022-04-08 08:52] VojtechBartoska commented on #5907
Hello, can you please help with testing this on 2.0.3-rc1?

[2022-04-08 08:54] VojtechBartoska commented on #5909
Hello, adding this as For reference issue so we can add this to our Documentation for Arduino users.

[2022-04-08 08:55] VojtechBartoska commented on #5912
Hello, can you please help with testing this on 2.0.3-rc1? Thanks!

[2022-04-08 08:58] VojtechBartoska commented on #5923
Is this still valid? If yes, can you please retest this with 2.0.3-rc1?

[2022-04-08 08:59] VojtechBartoska commented on #5928
Hello @Ben79543, sorry for getting to you late. Is this still valid? I see you run your sketch on v2.0.0 which is now a bit outdated, will you be able to retest this on v2.0.3-rc1?

[2022-04-08 09:00] VojtechBartoska commented on #5934
hello guys, can you please validate if this is still present on v2.0.3-rc1? thanks

[2022-04-08 09:02] VojtechBartoska commented on #5940
Hello, as we are not able to reproduce this issue, I'm closing it.

If needed please reopen this one or create a new issue. Thanks for your contribution.

[2022-04-08 09:02] #5940 closed

[2022-04-08 09:03] VojtechBartoska commented on #5947
Hello, GPIO was refactored. Can you help with testing this on v2.0.3-rc1? Thanks

[2022-04-08 09:04] VojtechBartoska commented on #5971
Hello, sorry for answering so late. You run your code on v1.0.6 which is now old, can you please test this again on v2.0.3-rc1?

[2022-04-08 09:09] VojtechBartoska commented on #5977
Hello, this issue seems like a wrong combination of versions btw. ESP-IDF and Arduino core. Now version 2.0.0 and newest are compatible with ESP-IDF v4.4 for using Arduino as IDF component.

Can I consider this solved and close it?

[2022-04-08 10:03] garageeks commented on #5867
Hi, been using 2.0.1 so far with the proposed workaround (void function instead of non-void function).
I can give it a try with 2.0.3-RC1 and let you know

[2022-04-08 10:20] Samuel-Oliveira-BR commented on #6547
Why when I use two ESP (one for generate and otehr for reader) the ESP used for reader detect the card number?

[2022-04-08 10:22] cod3gen commented on #6549
@me-no-dev Updated with minimal example, and updated serial output. Not able to decode the exeption, just says "Decoding stack results" Maybe due to Backtrace:0x4003586e:0x3fce2eb0 **|<-CORRUPTED**

[2022-04-08 10:23] cod3gen commented on #6549
@Jason2866 Updated with minimal example, without usage of FileFS, same error.

[2022-04-08 11:58] atanisoft commented on #6547
Or MCPWM capture mode similar to https://github.com/espressif/esp-idf/tree/release/v4.4/examples/peripherals/mcpwm/mcpwm_capture_hc_sr04.

[2022-04-08 12:58] davenull commented on #6551
I can confirm the same issues with this code using the esp32-s3-devkitC-1 module. Wifi does not connect to the AP, always returning a status 255. Using wifi code in esp-idf functions as expected.

[2022-04-08 13:20] VojtechBartoska commented on #6551
@davenull on v2.0.3-RC1?

[2022-04-08 13:21] dsyleixa commented on #6544
@bperrybap
yes, I agree about the stubbornness of the Arduino.cc development team. Nonetheless compatibility is the crucial demand, and so I must speak out against any intentional change to the A2-13
Arduino Mega 2 - 13, 44 - 46
Leonardo, Micro, Yún 3, 5, 6, 9, 10, 11, 13
Arduino Due 2-13
so everyone woho wants to know just will have to take a look to the specs: https://www.arduino.cc/reference/en

[2022-04-08 13:24] dsyleixa commented on #6544
@bperrybap
yes, I agree about the stubbornness of the Arduino.cc development team. Nonetheless compatibility is the crucial demand, and so I must speak out against any intentional change to the original API features.
OTOH, the pwm capabilities are not "magic" at all, they are defined and published in the board specs:
Arduino Uno 2-13
Arduino Mega 2 - 13, 44 - 46
Leonardo, Micro, Yún 3, 5, 6, 9, 10

[2022-04-08 13:24] davenull commented on #6551
Yea that is correct.

On Fri, Apr 8, 2022 at 8:20 AM Vojtěch Bartoška ***@***.***>
wrote:

[2022-04-08 14:31] digamesystems commented on #5447
Thanks, @VojtechBartoska.

I'll give it a try as soon as I get my release out the door.

I’ll also dig into the source for the BluetoothSerial library and see how it’s structured. I suspect there might be a single, global pointer that’s being used to reference the port. This would explain the behavior I'm seeing where the last port to be declared is the one that gets the callbacks. --

Thinking ab

[2022-04-08 14:37] hallard opened #6552 "Missing definition of XTOS_DISABLE_ALL_INTERRUPTS for ESP32 C3"
### Board

ESP32 C3

### Device Description

Lolin ESP32 C3 Mini

### Hardware Configuration

No

### Version

latest master

### IDE Name

PlatformIO

### Operating System

Mac OS

### Flash frequency

40MHz

### PSRAM enabled

yes

### Upload speed

921600

### Description

When compiling missing some definition of `XTOS_DISABLE_ALL_INTERRUPTS` or `XTOS_RESTORE_INTLEVEL`

it's defined for ESP32,

[2022-04-08 14:40] igrr commented on #6552
That error makes some sense, `xtos*` are Xtensa-specific functions, and ESP32-C3 CPU uses RISC-V architecture. I don't think these functions will be provided for C3. Could you please describe the problem you are trying to solve on C3 by using these functions? Perhaps we can suggest another way to solve it.

[2022-04-08 14:44] cod3gen commented on #6549
Ive created a similiar application in ESP-IDF, and it seems i have the same results here. Will be opening an issue over there.

[2022-04-08 14:48] hdpklm commented on #5952
no, I dont know what is the problem. but finaly I use size "0xf0000" for each ota and the rest for spiffs

[2022-04-08 14:51] hallard commented on #6552
Yes makes sense that was my 1st thought but macro is defined as follow

[code]

and saw somewhere on C3 code some calls to `XTOS_SET_INTLEVEL` so thought it was existing.

Anyway I'm trying to run excellent radiohead library and error fires on ATOMIC function, a kind of change of IRQ priority I guess, but I don't see any ESP32 specific so may be it's just unused in this case.

https://github.com/P

[2022-04-08 15:06] igrr commented on #6552
I don't think that defining atomic-related macros to nothing is a good idea. It will give the impression that the code compiles correctly, but it's not actually going to work correctly.

I would suggest making a pull request to RadioHead library, suggesting different functions for ESP32:
[code]
This will work on both Xtensa- and RISC-V-based ESP32 chip series.

[2022-04-08 15:15] denschub commented on #5258
Hi @VojtechBartoska, please excuse me, I currently do not have hardware available that would allow me to test this. And since https://github.com/espressif/arduino-esp32/issues/5255#issuecomment-1090175300 was closed as wontfix, I probably won't have the chance to test that in an upcoming project anyway.

I think it's fair to close this for now, and if someone feels strongly, they will file a new b

[2022-04-08 15:19] FStefanni opened #6553 "Poor performance of 2.0.2 probably due to I2C"
### Board

ESP32 Dev Module

### Device Description

* DevKitC

### Hardware Configuration

* Digital expander I2C PCF8574
* Display I2C SSD1306
* ADS1115_WE I2C
* A digital sensor (proximity -- single gpio) attached to the digital expander
* An analog inclinometer attached to the ADS1115_WE
* A I2C GPS

### Version

v2.0.2

### IDE Name

VS Code + arduino-cli

### Operating System

Linux Debian T

[2022-04-08 16:29] RobKeij opened #6554 "Rx timeout seems not activated?"
### Board

Custom board with ESP32 PICO-D4

### Device Description

![image](https://user-images.githubusercontent.com/38220340/162483287-e14c013d-bf0e-4033-81c4-3ff177f07eaa.png)

### Hardware Configuration

GPIO4 (RX)  GPIO2 (TX)  (board in test is only receiving)

### Version

latest master

### IDE Name

Arduino IDE

### Operating System

Windows 11

### Flash frequency

80 Mhz

### PSRAM enab

[2022-04-08 16:36] Martin-Laclaustra commented on #4717
That PR still misses 2 python calls:

https://github.com/tomorrow56/arduino-esp32/blob/7357672216eeaec681705bb37fa53d57177ffe8b/platform.txt#L159

https://github.com/tomorrow56/arduino-esp32/blob/7357672216eeaec681705bb37fa53d57177ffe8b/platform.txt#L177

Please do not close until fully tested.

[2022-04-08 16:54] Jason2866 commented on #6551
Mhh,
[code]
Led can be switched on/off. What is not correct is the Name of the AP

[2022-04-08 17:34] bperrybap commented on #6544
@dsyleixa
I'm not sure what you meant by the need to look at specs/manuals and the creation of a new function.
A new function to do what?
There already is a portable way to detect PWM capabilities for any/all pin(s) that works today.
There is no requirement to look anything up or have to manually hard code things for each board or to create a new function to be able to tell if a pin supports PWM.

[2022-04-08 17:42] hallard commented on #6552
Awesome thanks,
unfortunately this official lib (and so the latest one) is not on any github like, so PR (also looking on code) is not possible.
Official is here and only way to see is download zip file
https://www.airspayce.com/mikem/arduino/RadioHead/index.html
So I'll try going thru mailing list to ask

[2022-04-08 17:45] dsyleixa commented on #6544
ok, I was missing that, because I never needed it actually - as I always knew all the pins which had pwm or  perhaps not.

[2022-04-08 18:02] #6525 closed

[2022-04-08 18:12] gonzabrusco commented on #6554
Try with `Serial1.setRxTimeout(2);`

When setting a timeout of 0 you are disabling the timeout functionality.

The callback should be set like this:

Serial1.onReceive(callbackFunction);

[2022-04-08 18:19] igrr commented on #6546
There are a few issues in the sketch:

* when taking pointers to strings and when referring to constant strings, you need to use `const char*`
* output_HMAC is an array of bytes, not a null-terminated string. So you can't use `strlen` with it.

with these two issues fixed and with another two lines to print `output`, the sketch works: https://wokwi.com/projects/328395940175020627.

_One more note,

[2022-04-08 18:19] #6546 closed

[2022-04-08 18:41] Jason2866 commented on #5460
@PilnyTomas It works with the S2. The problem is still there with C3.

[2022-04-08 18:46] Jason2866 commented on #6553
Without a code sample, no help is possible. In general core 2.0.3-rc1 works well with i2c wifi and mqtt. We us all of this in our Project Tasmota and have instant mqtt message from connected i2c sensors.

[2022-04-08 19:12] Jason2866 commented on #6549
You can not use ADC2 with wifi.

[2022-04-08 19:20] cod3gen commented on #6549
Auch, darn. New round with JLC soon then 😝

[2022-04-08 19:20] #6549 closed

[2022-04-08 19:34] igrr commented on #6549
@Jason2866 I thought this is an ESP32-specific limitation. Are you sure it applies to S3?

According to the docs, on ESP32-S2, C3, S3 both ADC units can be used with Wi-Fi. There is a limitation that in certain cases Wi-Fi will have priority over user's ADC reading, and then `adc2_get_raw` function will return an error code. But it's still possible to retry reading the ADC value in that case.

[2022-04-08 19:35] shariq-azim commented on #5335
Hey,
Thank you somehow i managed working with wificlient itself. But thank you for your interest.

Regards,
Shariq

[2022-04-08 19:35] #5335 closed

[2022-04-08 19:40] igrr commented on #6552
@hallard thanks, please report back if there's any issue. I have noticed Adafruit has a fork of this library as well, perhaps they would be open to a PR if it doesn't get accepted upstream.

I would try to avoid defining `XTOS_DISABLE_ALL_INTERRUPTS` for RISC-V to avoid more confusion. We never know, perhaps someone else does `#ifdef XTOS_DISABLE_ALL_INTERRUPTS  /* Xtensa specific code follows */`

[2022-04-08 19:44] Jason2866 commented on #6549
@igrr Thx, i tried (a while ago). The results doing this where not really useable and i had wdt now and than. So i thought the docs maybe are not correct.

[2022-04-08 19:47] ankostis commented on #6534
My apologies for asking here for support, but where can i find such information?

[2022-04-08 19:49] igrr commented on #6549
Okay, not sure about "usable" result (maybe indeed something unavoidable?) but the interrupt watchdog triggering is definitely a bug. Let's see what IDF folks say.

[2022-04-08 19:55] brentru commented on #6430
@SuGlider @VojtechBartoska  Please do not automatically close this, just got back from travel. I will test on Monday.

[2022-04-08 20:30] hallard commented on #6552
@PaulStoffregen has also a fork and even I already made a fork 6 years ago [here](https://github.com/hallard/RadioHead), to get it working without interrupt on ESP target and run on PI (haha long time ago) but the deal is that everyone doing a fork need to maintain by hands on each release comparing each file which is a pain and why so much forks are outdated.
I solved this issue subclassing what

[2022-04-08 23:19] emeb commented on #6264
Seeing a similar problem in ESP-IDF V5.0 with WiFi. Adding "phy_bbpll_en_usb(true);" after WiFi is started up doesn't result in working USB on the ESP32C3. Any suggestions on how to bypass this?

[2022-04-09 05:13] magicmicros commented on #6193
Same problem here, communicating with an ANT BMS (not sure that module is on that).
Usually get the ASSERT shortly after a 140 byte block have been received, but sometimes it occurs in the middle of the block.

[2022-04-09 06:10] cod3gen commented on #6549
GPIO 5/6 is not ADC2 btw @Jason2866. Will keep the thread over at IDF open

[2022-04-09 07:23] PaulStoffregen commented on #6552
Arduino's official API has only noInterrupts() and interrupts(), but no (officially support API) way to save & restore the state.

Indeed I've ported many libraries over the years, usually ones hard coded for AVR timers.  It's not fun, but much less tedious than trying to get people to agree on APIs.

[2022-04-09 08:25] torntrousers commented on #6546
@igrr I didn't know about wokwi.com, pretty cool, thanks for pointer!

[2022-04-09 08:29] RobKeij commented on #6554
Thanks for the replay gonzabrusco,
I still not work, if I look in  HardwareSerial.cpp  it must be ok but For me it don't work'.

if I look in HardwareSerial.cpp I see:  rxTimeout is default 100
( I als try with added Serial1.setRxTimeout(2); in the sketch)

copied from HardwareSerial.cpp :
//////////////////////////////////////////////////////////////////////////
`HardwareSerial::HardwareSerial(in